block variables
- var top_items = ["О компании", "Новости", "Карта лояльности", "Помощь покупателю", "Контакты"]
- var items = ["Бренды", "Женское", "Мужское", "Детское", "Обувь", "Сумки", "Распродажа"]
- var customer = ["Оплата", "Доставка", "Обмен и возврат", "Условия продажи", "Обратная связь", "FAQ"]
- var login = ["Войти", "Зарегистироваться"]
- var svg = "assets/img/sprite.svg" 
- var sn = ["facebook", "vk", "instagram"]
- var sup = "<sup class='sale'>до - 30%</sup>"
- var detail_soc = ["facebook", "twitter", "vk", "odnoklassniki", "pinterest-p"]
- var brands = ["Alexander McQueen", "Armani Collezioni", "Bottega Veneta", "Burberry", "Chloé", "DKNY", "Dolce & Gabbana", "Dsquared2"]
- var brands_sec = ["Gianvito Rossi", "Gucci", "HUGO", "Jimmy Choo", "Kenzo", "Lanvin", "Michael Kors", "Moncler"]
- var top_brands = ["Alexander McQueen", "Armani Collezioni", "Bottega Veneta", "Burberry", "Chloé", "DKNY", "Dolce & Gabbana", "Dsquared2"]
- var menu = ["Вся одежда", "Верхняя одежда", "Платья", "Трикотаж", "Топы", "Жакеты", "Жилеты", "Джинсы"]
- var menu_sec = ["Брюки", "Юбки", "Костюмы", "Комбинезоны", "Шорты", "Пляжные принадлежности", "Спорт", "Белье и домашняя одежда"]

mixin use(name)
    svg.my_svg(role="img", id=name, preserveAspectRatio="xMinYMax")
        use(xlink:href=svg+"#"+name)


    
doctype html
html
    head
        meta(charset='utf-8')
        //if lt IE 9
            script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
        title vip
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='keywords', content='')
        meta(name='description', content='')
        link(rel='stylesheet' href='assets/css/normalize.css')
        link(href='assets/css/owl.carousel.min.css', rel='stylesheet', media='all')
        link(href='assets/css/owl.theme.default.min.css', rel='stylesheet', media='all')
        link(href='assets/css/font-awesome.min.css', rel='stylesheet', media='all')
        link(href='assets/css/jquery.formstyler.css', rel='stylesheet', media='all')
        link(href='assets/css/jquery.scrollbar.css', rel='stylesheet', media='all')
        link(href='assets/css/slick.css', rel='stylesheet', media='all')
        link(href='assets/css/jquery.fancybox.css', rel='stylesheet', media='all')
        link(href='assets/css/app.css', rel='stylesheet', media='all')
        
        
    body
        include common/_header

        block content
        //CONTENT

            

        include common/_footer
        script(src='assets/js/modernizr.custom.js')
        script(src='assets/js/jquery.min.js')
        script(src='assets/js/owl.carousel.min.js')
        script(src='assets/js/jquery.formstyler.min.js')
        script(src='assets/js/jquery.scrollbar.min.js')
        script(src='assets/js/jquery.validate.min.js')
        script(src='assets/js/jquery.inputmask.bundle.js')
        script(src='assets/js/jquery.dlmenu.js')
        script(src='assets/js/slick.min.js')
        script(src='assets/js/jquery.fancybox.pack.js')
        script(src='assets/js/svg4everybody.legacy.min.js')
        script(src='assets/js/app.js')