@import 'common/fonts';

@import 'common/mixins';

@import '../../bower_components/singularity/stylesheets/_singularitygs';

@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint';
/*
* Custom
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
    line-height: initial;
}


html {
	height: 100%;
	overflow-x: hidden;
	zoom: 1;
	line-height: 1.42; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/18px Proxima Nova Regular, sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	color: $second-color;
}
header,
footer {
	flex: 0 0 auto;
}
ul {
	padding: 0;
    margin: 0;

	li {
		list-style: none;
	}
}
.default_list {
	padding: 0;
    margin-left: 22px;
	list-style-position: outside;
	li ul {
		margin-left: 45px;	
		& > li {
			margin-bottom: 11px;
			margin-top: 11px;
		}
	}
	li {
		list-style: inherit;
	}
}
ol {
	list-style-type: none;
	counter-reset: item;
	margin: 0;
	padding: 0;
}
ol > li {
	display: table;
	counter-increment: item;
}
li ol > li {
	margin: 0;
	line-height: 24px;
	margin-bottom: 11px;
	margin-top: 11px;
	margin-left: 25px;
}
li ol > li:before {
	content: counters(item, ".") " ";
}
ol > li:before {
	content: counters(item, ".") ". ";
	display: table-cell;
	width: 22px;
	color: #000;
}
a {
	text-decoration: none;
	color: #000;
}
h1, h2, h3, h4, h5 {
	font-family: Georgia;
    font-weight: 100;
}
.bx-title {
	@include breakpoint(320px) {
		text-align: center;
		margin: 20px 0 10px;
	}
	@include breakpoint(640px) {
		text-align: inherit;
		padding: 0;
		margin: 75px 0 57px;
	}
}
button, hr, input {
	outline: none;
}

.container {
	margin: 0 auto;
	position: relative;
	@include breakpoint(320px) {
		padding: 0 15px;
	}
	@include breakpoint(750px) {
		padding: 0;
	}
	& p {
		font-size: 16px;
		margin-bottom: 25px;
		line-height: 23px;
		& img {
			float: left;
			position: relative;
			top: 5px;
			@include breakpoint(320px) {
				max-width: 290px;
				margin-bottom: 25px;
			}
			@include breakpoint(480px) {
				max-width: 450px;
			}
			@include breakpoint(640px) {
				max-width: 610px;
				margin-right: 30px;
			}
			@include breakpoint(750px) {
				max-width: 750px;
			}
			@include breakpoint(1200px) {
				max-width: 100%;
			}
		}
	}
	& blockquote {
		background: $new-line;
		border-left: 8px solid $primary-color;
		padding: 30px 45px 7px 45px;
		margin-bottom: 25px;
		& h3 {
			text-transform: uppercase;
			font-family: $second-font;
			margin-bottom: 20px;
		}
	}
}

#none {
	display: none;
}

.owl-item {
	color: transparent;
	&.active {
		color: inherit;
	}
}

.owl-item {
	a {
		color: transparent;
	}
	&.active {
		a {
			color: inherit;
		}
	}
}

/* Middle*/
main {
	flex: 1 0 auto;
}
.main_cat {
	text-align: center;
	padding: 76px 0 45px;
}

.flex__container {
	display: flex;
	align-content: space-between;
}
.left_bar {
	@include breakpoint(480px) {
		flex: 1 0 220px;
		width: 220px;
	}
	@include breakpoint(640px) {
		flex: 1 0 250px;
		width: 250px;
	}
}
.catalog__content {
	flex: 1 1 900px;
	z-index: 1;
}
.error__page_head {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $new-line;
	height: 250px;
    margin-top: 96px;
	span {
		font-size: 48px;
		font-family: $second-font;
		position: relative;
		top: -23%;
		text-transform: uppercase;
	}
	.error__page_title {
		background: $white;
		font-family: Georgia;
		color: $second-color;
		position: relative;
	    padding: 1px 58px 2px;
	}
}
.error__page_info {
	text-align: center;
	font-size: 16px;
	margin-top: 50px;
    line-height: 1.6;
}
.error__page .primary__button {
    margin: 0 auto;
    display: block;
    width: 260px;
    font-size: 18px;
    margin-top: 33px;
    height: 44px;
    line-height: 2.4;
}
.block__image {
	display: flex;
	flex-flow: row wrap;
	@include breakpoint(320px) {
		justify-content: center;
	}
	@include breakpoint(480px) {
		justify-content: space-around;
	}
	@include breakpoint(1200px) {
		justify-content: space-between;
	}
}
.block__image_item {
	width: 170px;
	height: 255px;
	margin-bottom: 25px;
	position: relative;
	& img {
		max-width: 170px;
	}
	& .mask {
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		display: none;
	}
	& .mask__loop {
		@extend .icon-preview;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	&:hover {
		.mask {
			display: block;
		}
	}
}
table {
	@include breakpoint(320px) {
		font-size: 13px;
		min-width: 430px;
		width: 100%;
	}
	@include breakpoint(640px) {
		font-size: 14px;
	}
	@include breakpoint(940px) {
		font-size: 15px;
	}
	@include breakpoint(1200px) {
		font-size: 16px;
	}
	border-spacing: 0; 
}
.default_table thead tr:nth-child(1) td {
	border-top: 1px solid $new-line;
	color: #000;
	min-width: 45px;
}
.default_table thead tr td,
.default_table tbody tr td {
	border-bottom: 1px solid $new-line;
	border-right: 1px solid $new-line;
    padding: 24px 0 24px 25px;
    &:nth-child(1) {
    	text-align: center;
    	padding-left: 0;
    }
    &:nth-last-child(1) {
    	border-right: none;
    }
}
table tfoot tr td,
table thead tr td {
	color: $gray;
}
table tfoot tr td {
	padding-top: 24px;
	font-size: 14px;
}
.accordeon.accordeon__exchange .accordeon__trigger{
	text-transform: uppercase;
	font-family: $second-font;
	font-size: 18px;
}
.accordeon.accordeon__exchange .accordeon__item:hover .accordeon__trigger,
.accordeon.accordeon__exchange .accordeon__item.active .accordeon__trigger,
.accordeon.accordeon__exchange .accordeon__item.active .accordeon__trigger {
	color: #000;
	&:after {
		@extend .icon-accordeon_down;
		transform: rotate(180deg);
	}
}
.accordeon.accordeon__exchange .accordeon__trigger:after {
	margin-bottom: 2px;
}
.accordeon.accordeon__exchange .accordeon__inner {
	background: transparent;
	padding: 0;
	&:before {
		display: none;
	}
}
.exchange-list_style_decimal .exchange-list__item {
	position: relative;
    margin-left: 20px;
    margin-bottom: 20px;

    &:before {
		position: absolute;
		top: 8px;
		left: -20px;
		width: 5px;
		height: 5px;
		content: '';
		background-color: #000;
		border-radius: 50%;	
    }
}
.accordeon.accordeon__exchange .exchange-list__list {
	margin-left: 45px;
}
.accordeon.accordeon__exchange h3 {
	font-family: $second-font;
	font-size: 16px;
	padding: 20px 0;
}
ol .exchange-list__item {
	list-style: inherit;
    margin-bottom: 20px;
}
/*info*/
.accordeon.info ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}
.accordeon.info ol > li:nth-child(1) {
    counter-increment: inherit;
}
.accordeon.info ol > li:nth-child(1):before {
    content: "";
    display: none;
}
.accordeon.info ol > li:nth-child(n + 2) {
    display: table;
    counter-increment: item;
}
.accordeon.info ol > li:nth-child(n + 2):before {
    content: counters(item, ".") ". ";
    display: table-cell;
    width: 27px;
    color: #000;
}
.accordeon.info .accordeon__item.active {
    padding-bottom: 25px;
}
.accordeon.info .accordeon__inner {
    background-color: transparent;
    padding: 0;
    margin-top: 15px;
}
.accordeon.info .accordeon__item:hover .accordeon__trigger, 
.accordeon.info .accordeon__item.active .accordeon__trigger {
    color: #000;
}
.accordeon.info .accordeon__item:hover .accordeon__trigger:after, 
.accordeon.info .accordeon__item.active .accordeon__trigger:after {
    @extend .icon-accordeon_down;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.accordeon.info .accordeon__inner:before {
	display: none;
}
.accordeon.info ol ul li {
	margin-bottom: 18px;
} 
span {
	font-size: 14px;
	color: $gray;
}
/*!info*/
/*table_size*/
.table_size {
	overflow: hidden;
	padding: 15px 30px 30px 30px;
	& .faq {
		text-align: center;
		margin-bottom: 20px;
	}
	.primary__button_close {
	    padding: 10px 24px;
        display: inline-block;
        width: auto;
	}
}
.table_size table {
	font-size: 16px;
	font-family: $primary-font;
	& th {
		padding: 10px 11px;
		font-weight: 100;
		border-bottom: 1px solid $new-line;
		border-right: 1px solid $new-line;
		&:nth-last-child(1) {
			border-right: none;
		}
	}
	& td {
		padding: 15px 0;
		text-align: center;
		border-right: 1px solid $new-line;
		&:nth-last-child(1) {
			border-right: none;
		}
	}
}
/*!table_size*/
@import 'common/sprite';

@import 'common/header';

@import 'common/footer';

@import 'common/slider';

@import 'common/adaptive';

@import 'common/breadcrumb';

@import 'main/main_slider';

@import 'main/main_catalog';

@import 'main/main_middle_block';

@import 'main/main_news';

@import 'catalog/left_bar_menu';

@import 'catalog/filter';

@import 'catalog/items';

@import 'catalog/pagination';

@import 'catalog/sort';

@import 'catalog/detail';

@import 'catalog/search_empty';

@import 'catalog/fast_detail';

@import 'other/faq';

@import 'other/contacts';

@import 'other/auth';

@import 'common/adaptive_menu';

@import 'other/basket';

@import 'other/brands';

@import 'other/news';

@import 'other/personal_page';

@import 'other/loyalty_card';

@import 'other/order_make';