.bx-content
	#warning_message
	form#basket_form(method='post', action='', name='basket_form')
		#basket_form_container
			.bx_ordercart.bx_black
				#basket_items_list
					.bx_ordercart_order_table_container
						table#basket_items
							thead
								tr
									td#col_NAME.item(colspan='2')
										| Наименование
									td#col_QUANTITY.custom
										| Количество
									td#col_PRICE.price
										| Цена за шт.
									td#col_SUM.custom
										| Стоимость
									td.custom
									
							tbody
								tr#65
									td.itemphoto
										.bx_ordercart_photo_container
											a(href='#')
												.bx_ordercart_photo(style="background-image:url('assets/img/items/item.jpg')")
									td.item
										h3.bx_ordercart_itemtitle
											a(href='#') 											Масло моторное Castrol GTX Magnatec SAE 5w40										
										p.bx_ordercart_itemprops.
											Вязкость 5w40, объем 4л, артикул 34KD0FG
									td.custom
										span Количество:
										.centered
											table.counter(cellspacing='0', cellpadding='0')
												tbody
													tr
														td
															input#QUANTITY_INPUT_65(type='text', size='3', name='QUANTITY_INPUT_65', maxlength='18', min='0', max='100', step='1', style='max-width: 50px', value='5', onchange="updateQuantity('QUANTITY_INPUT_65', '65', 1, false)")
														td#basket_quantity_control
															.basket_quantity_control
																a.plus(href='javascript:void(0);', onclick="setQuantity(65, 1, 'up', false);") +
																a.minus(href='javascript:void(0);', onclick="setQuantity(65, 1, 'down', false);") -
										input#QUANTITY_65(type='hidden', name='QUANTITY_65', value='5')
									td.price
										#current_price_65.current_price
											| 390 руб.
										#old_price_65.old_price
									td.custom
										span Сумма:
										#sum_65
											| 1 950 руб.
									td.control
										a(href='#') Удалить
								tr#66
									td.itemphoto
										.bx_ordercart_photo_container
											a(href='#')
												.bx_ordercart_photo(style="background-image:url('assets/img/items/item2.jpg')")
									td.item
										h3.bx_ordercart_itemtitle
											a(href='#') 											Масло моторное Castrol GTX Magnatec SAE 5w40										
										p.bx_ordercart_itemprops.
											Вязкость 5w40, объем 4л, артикул 34KD0FG
									td.custom
										span Количество:
										.centered
											table.counter(cellspacing='0', cellpadding='0')
												tbody
													tr
														td
															input#QUANTITY_INPUT_66(type='text', size='3', name='QUANTITY_INPUT_66', maxlength='18', min='0', max='100', step='0', style='max-width: 50px', value='1', onchange="updateQuantity('QUANTITY_INPUT_66', '66', 0, false)")
														td#basket_quantity_control
															.basket_quantity_control
																a.plus(href='javascript:void(0);', onclick="setQuantity(66, 1, 'up', false);") +
																a.minus(href='javascript:void(0);', onclick="setQuantity(66, 1, 'down', false);") -
										input#QUANTITY_66(type='hidden', name='QUANTITY_66', value='1')
									td.price
										#current_price_66.current_price
											| 799 руб.
										#old_price_66.old_price
									td.custom
										span Сумма:
										#sum_66
											| 799 руб.
									td.control
										a(href='#') Удалить
					input#column_headers(type='hidden', value='NAME,DISCOUNT,PRICE,QUANTITY,SUM,PROPS,DELETE,DELAY')
					input#offers_props(type='hidden', value='SIZES_SHOES,SIZES_CLOTHES,COLOR_REF')
					input#action_var(type='hidden', value='basketAction')
					input#quantity_float(type='hidden', value='N')
					input#count_discount_4_all_quantity(type='hidden', value='N')
					input#price_vat_show_value(type='hidden', value='Y')
					input#hide_coupon(type='hidden', value='N')
					input#use_prepayment(type='hidden', value='N')
					input#auto_calculation(type='hidden', value='Y')
					p.bx_ordercart_small_info.
						Хотите получить скидку? Выгодно сэкономить поможет наша акция - предложите нам свой аккумулятор (выберите из списка ниже) и сдайте его при заборе своего заказа или наш курьер заберет его перед оплатой заказа. Все вопросы по номеру +7(4822) 56-41-22.
					.calculator__sale__battery
						.calculator__sale__battery-title Рассчитать скидку при сдаче аккумулятора
							i(data-role="prop_angle").fa.fa-sort-desc
						.calculator__sale__battery-block
							.calculator__sale__battery-item#battery-item-b-1
								input#battery-item-1(type="checkbox" value="1" name="check")
								label(for="battery-item-1").calculator__sale__battery-item-name.
									Аккумулятор 35-45 а/ч (вес 9-12 кг)
							.calculator__sale__battery-item#battery-item-b-2
								input#battery-item-2(type="checkbox" value="2" name="check")
								label(for="battery-item-2").calculator__sale__battery-item-name.
									Аккумулятор 46-52 а/ч (вес 12-15 кг)
							.calculator__sale__battery-item#battery-item-b-3
								input#battery-item-3(type="checkbox" value="3" name="check")
								label(for="battery-item-3").calculator__sale__battery-item-name.
									Аккумулятор 53-60 а/ч (вес 15-17 кг)
							.calculator__sale__battery-item#battery-item-b-4
								input#battery-item-4(type="checkbox"  value="4" name="check")
								label(for="battery-item-4").calculator__sale__battery-item-name.
									Аккумулятор 62-71 а/ч (вес 17-18кг)
							.calculator__sale__battery-item#battery-item-b-5
								input#battery-item-5(type="checkbox" value="5" name="check")
								label(for="battery-item-5").calculator__sale__battery-item-name.
									Аккумулятор 72-77 а/ч (вес 18-19 кг)
							.calculator__sale__battery-item#battery-item-b-6
								input#battery-item-6(type="checkbox" value="6" name="check")
								label(for="battery-item-6").calculator__sale__battery-item-name.
									Аккумулятор 80-85 а/ч (вес 19-21 кг)
							.calculator__sale__battery-item#battery-item-b-7.check
								input#battery-item-7(type="checkbox" value="7" name="check" checked="checked")
								label(for="battery-item-7").calculator__sale__battery-item-name.
									Аккумулятор 90-100 а/ч (вес 21-23 кг)
								.calculator__sale__battery-item-calc
										#gs1_1_tarif.formCaption
											span.cost_text Скидка  -  
											span.cost_value 400
											span.cost_descr руб./за 1 шт.
											span.number_text Количество
										.formBody
											input#quantity.quantity(type='text', value='1', maxlength='6', name='quantity')
							.calculator__sale__battery-item#battery-item-b-8
								input#battery-item-8(type="checkbox" value="8" name="check")
								label(for="battery-item-8").calculator__sale__battery-item-name.
									Аккумулятор 105-120 а/ч (вес 23-28 кг)
							.calculator__sale__battery-item#battery-item-b-9
								input#battery-item-9(type="checkbox" value="9" name="check")
								label(for="battery-item-9").calculator__sale__battery-item-name.
									Аккумулятор 105-120а/ч (вес 23-28 кг)
							.calculator__sale__battery-footer
								.warning
									|Обратите внимание! 
									br
									|Сумма скидки не может превышать стоимости купленных товаров
								.summary.
										Итого, при сдаче аккумулятора Вы можете получить скидку в размере  -  400 р.


					.bx_ordercart_order_pay
						#coupons_block.bx_ordercart_order_pay_left
							.quest
								i.fa.fa-question-circle-o(aria-hidden='true')
								a(href="#") Как оплатить?
							.quest
								i.fa.fa-question-circle-o(aria-hidden='true')
								a(href="#") Гарантии
							.quest
								i.fa.fa-question-circle-o(aria-hidden='true')
								a(href="#") Когда происходит возврат денег?
							.bx_ordercart_coupon
						.bx_ordercart_order_pay_right
							table.bx_ordercart_order_sum
								tbody
									tr
										td К оплате:
										td#allSum_wVAT_FORMATED 2 749 р.
									tr
										td Возможная скидка:
										td#allSum_FORMATED 2 749 р.
									tr
										td Возможная цена со скидкой:
										td#allSum_FORMATED 2 749 р.
							div(style='clear:both;')
						div(style='clear:both;')
						.bx_ordercart_order_pay_center
							a.checkout(href='javascript:void(0)', onclick='checkOut();') Оформить заказ

		input(type='hidden', name='BasketOrder', value='BasketOrder')
		// <input type="hidden" name="ajax_post" id="ajax_post" value="Y">
