.bx-breadcrumb__container
	.container
		.bx-breadcrumb
			#bx_breadcrumb_0.bx-breadcrumb-item
				a(href='/', title='Главная', itemprop='url')
					span(itemprop='title') Главная
			.bx-breadcrumb-item
				span.slash /
				span Каталог

			div(style='clear:both')