ul.main__catalog
						li.main__catalog-item.main__catalog-item-big
							span.stickers
								span.sticker.sticker_sale Акция
								span.sticker.sticker_hit ХИТ
							.main__catalog-item-pic
								img(src='assets/img/items/item_big.jpg', alt='')
							span.main__catalog-item-name
								a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
							span.main__catalog-item-available В наличие
							.main__catalog-item-buy
								span.price 1 560 р.
								span.button_big
									span.item_buttons_counter_block
										a.button_small.button_down(href='') -
										input.transparent_input(type='text', name='', id='', value='1')
										a.button_small.button_up(href='') +
									a.buy_link(href='')
										i
						li.main__catalog-item
							span.stickers
								span.sticker.sticker_sale Акция
								span.sticker.sticker_hit ХИТ
							.main__catalog-item-pic
								img(src='assets/img/items/item5.jpg', alt='')
							span.main__catalog-item-name
								a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
							span.main__catalog-item-notavailable Нет в наличии
							.main__catalog-item-buy
								span.price 1 560 р.
								span.button_big
									a.preorder_link(href='') Заказать
						li.main__catalog-item
							span.stickers
								span.sticker.sticker_hit ХИТ
							.main__catalog-item-pic
								img(src='assets/img/items/item6.jpg', alt='')
							span.main__catalog-item-name
								a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
							span.main__catalog-item-available В наличие
							.main__catalog-item-buy
								span.price 12 490 р.
								span.button_big
									span.item_buttons_counter_block
										a.button_small.button_down(href='') -
										input.transparent_input(type='text', name='', id='', value='1')
										a.button_small.button_up(href='') +
									a.buy_link(href='')
										i
						li.main__catalog-item
							span.stickers
								span.sticker.sticker_hit ХИТ
							.main__catalog-item-pic
								img(src='assets/img/items/item7.jpg', alt='')
							span.main__catalog-item-name
								a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
							span.main__catalog-item-available В наличие
							.main__catalog-item-buy
								span.price 12 490 р.
								span.button_big
									a.buy_link.in_basket(href='')
										i
										| Добавлено
						li.main__catalog-item
							span.stickers
								span.sticker.sticker_hit ХИТ
							.main__catalog-item-pic
								img(src='assets/img/items/item8.jpg', alt='')
							span.main__catalog-item-name
								a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
							span.main__catalog-item-available В наличие
							.main__catalog-item-buy
								span.price 12 490 р.
								span.button_big
									a.buy_link.in_basket(href='')
										i
										| Добавлено
						li.main__catalog-item
							span.stickers
								span.sticker.sticker_hit ХИТ
							.main__catalog-item-pic
								img(src='assets/img/items/item9.jpg', alt='')
							span.main__catalog-item-name
								a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
							span.main__catalog-item-available В наличие
							.main__catalog-item-buy
								span.price 12 490 р.
								span.button_big
									a.buy_link.in_basket(href='')
										i
										| Добавлено
						li.main__catalog-item
							span.stickers
								span.sticker.sticker_hit ХИТ
							.main__catalog-item-pic
								img(src='assets/img/items/item10.jpg', alt='')
							span.main__catalog-item-name
								a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
							span.main__catalog-item-available В наличие
							.main__catalog-item-buy
								span.price 12 490 р.
								span.button_big
									a.buy_link.in_basket(href='')
										i
										| Добавлено