p.block__contacts-txt.
	Если у Вас возникли вопросы или хотите с нами сотрудничать, то обращайтесь по адресам указанным ниже. Мы всегда на связи и рады общаться с нашими клиентами!
h2.
	Реквизиты компании

.block__contacts
	ul.block__contacts-list.block__contacts-list-b
		li.block__contacts-list__item Название компании         
		li.block__contacts-list__item Почтовый индекс              
		li.block__contacts-list__item Юридический адрес      
		li.block__contacts-list__item ИНН                                       
		li.block__contacts-list__item КПП                                        
		li.block__contacts-list__item ОГРН                                     
		li.block__contacts-list__item Директор
		li.block__contacts-list__item E-mail   
	ul.block__contacts-list    
		li.block__contacts-list__item ООО "ABC Ойл"
		li.block__contacts-list__item 170003
		li.block__contacts-list__item г. Тверь, ул. Луначарского, д.9, корп.1, нежилое помещение II
		li.block__contacts-list__item 6952033579
		li.block__contacts-list__item 695201001
		li.block__contacts-list__item 1126952016498
		li.block__contacts-list__item Лебедева Светлана Николаевна
		li.block__contacts-list__item abc@auto-alyans.ru

h2.
	Адреса магазинов
.block__contacts
	.block__contacts-info
		h3.block__contacts-h.
			Магазин на ул. П. Савельевой
		.block__contacts-address__block
			i.fa.fa-map-marker(aria-hidden="true")
			p.block_contacts-address.
				170039,  г. Тверь, ул. П. Савельевой, д. 41
		.block__contacts-address__block
			i.fa.fa-phone(aria-hidden="true")
			p.block_contacts-address.
				+7(4822) 56-41-22
		.block__contacts-address__block
			i.fa.fa-clock-o(aria-hidden="true")
			p.block_contacts-address
				|Пн-пт: 9.00 - 19.00
				br
				|Сб: 9.00 - 15.00
	.block__contacts-map
		script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=I1j4rSyz_LKMfKoCHC87qu8C4g_Q9wBU&width=100%&height=300&lang=ru_RU&sourceType=constructor&scroll=true')
.block__contacts
	.block__contacts-info
		h3.block__contacts-h.
			Магазин на Волоколамском ш.
		.block__contacts-address__block
			i.fa.fa-map-marker(aria-hidden="true")
			p.block_contacts-address.
				170043,  г. Тверь, Волоколамское ш., 39А
		.block__contacts-address__block
			i.fa.fa-phone(aria-hidden="true")
			p.block_contacts-address.
				+7(4822) 65-51-12
		.block__contacts-address__block
			i.fa.fa-clock-o(aria-hidden="true")
			p.block_contacts-address
				|Пн-пт: 9.00 - 19.00
				br
				|Сб: 9.00 - 15.00
	.block__contacts-map
		script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=I1j4rSyz_LKMfKoCHC87qu8C4g_Q9wBU&width=100%&height=300&lang=ru_RU&sourceType=constructor&scroll=true')