.detail__page
	.detail__page-photo
		.detail__page-photo-big__image
			a(href="#").detail__page-photo-big__image-link
				img(src="assets/img/items/detail_pic.jpg").detail__page-photo-img
		#detail__page-slider
			.detail__page-slider_item
				a(href="#").detail__page-slider_item-link.active
					img(src="assets/img/items/detail_pic.jpg").detail__page-slider_item-img
			.detail__page-slider_item
				a(href="#").detail__page-slider_item-link
					img(src="assets/img/items/detail_pic2.jpg").detail__page-slider_item-img
			.detail__page-slider_item
				a(href="#").detail__page-slider_item-link
					img(src="assets/img/items/detail_pic3.jpg").detail__page-slider_item-img
			.detail__page-slider_item
				a(href="#").detail__page-slider_item-link
					img(src="assets/img/items/detail_pic4.jpg").detail__page-slider_item-img
			.detail__page-slider_item
				a(href="#").detail__page-slider_item-link
					img(src="assets/img/items/detail_pic.jpg").detail__page-slider_item-img

	.detail__page-detail
		.detail__page-detail_text
			|Castrol GTX 5W-40 A3/B3 предназначено для использования в бензиновых и дизельных двигателях автомобилей, где производитель техники рекомендует масла классификаций ACEA A3/B3 или API SL/CF класса вязкости по SAE 5W-40.
			br
			|Синтетическое масло, объем упаковки  4 л, для четырехтакстных двигателей
		.detail__page-detail-props
			.detail__page-detail-props_outer
				.detail__page-detail-props-name Производитель
				.detail__page-detail-props-value Cаstrol
			.detail__page-detail-props_outer
				.detail__page-detail-props-name Тип
				.detail__page-detail-props-value моторное
			.detail__page-detail-props_outer
				.detail__page-detail-props-name Вязкость
				.detail__page-detail-props-value 5w40
			.detail__page-detail-props_outer
				.detail__page-detail-props-name Объем
				.detail__page-detail-props-value 4 л
			.detail__page-detail-props_outer
				.detail__page-detail-props-name Артикул
				.detail__page-detail-props-value 34KD0FG
			.detail__page-detail-props_outer
				.detail__page-detail-props-name Тип масла
				.detail__page-detail-props-value синтетическое

	.detail__page-block_buy
		span.main__catalog-item-available.detail В наличие
		span.price.detail 700 р.
		.item_buttons.vam
			span.item_buttons_counter_block
				a#bx_117848907_4_quant_down.bx_bt_button_type_2.bx_small.button_small.button_down.bx_fwb(href='javascript:void(0)') -
				input#bx_117848907_4_quantity.tac.transparent_input(type='text', value='1')
				a#bx_117848907_4_quant_up.bx_bt_button_type_2.bx_small.button_small.button_up.bx_fwb(href='javascript:void(0)') +
			span#bx_117848907_4_basket_actions.item_buttons_counter_block(style='display: ;')
				a#bx_117848907_4_buy_link.bx_big.bx_bt_button.bx_cart.preorder_link.bx_bt_button-detail(href='javascript:void(0);')
					span
					| В корзину
		.detail__page-block_buy-some__info
			p.detail__page-block_buy-some__info-p Пункты выдачи
			span
				|г. Тверь, ул. Паши Савельевой, 41
				br
				|г. Тверь, Волоколамское шоссе, 39А