.bx-filter.bx-black.bx-filter-horizontal
	.bx-filter-section.container-fluid
		.row
			.bx-filter-title Подбор по параметрам
				i.fa.fa-sort-asc(data-role='prop_angle')
		form.smartfilter(name='_form', action='/catalog/women-s-belts/index.php', method='get')
			.row
				.bx-filter-parameters-box.bx-active
					span.bx-filter-container-modef
					.bx-filter-parameters-box-title(onclick='smartFilter.hideFilterProps(this)')
						span.bx-filter-parameters-box-hint
							| Материал 
							i.fa.fa-angle-up(data-role='prop_angle')
					.bx-filter-block(data-role='bx_filter_block')
						.bx-filter-parameters-box-container
							.checkbox
								label.bx-filter-param-label(data-role='label_arrFilter_10_1007824416', for='arrFilter_10_1007824416')
									span.bx-filter-input-checkbox
										input#arrFilter_10_1007824416(type='checkbox', value='Y', name='arrFilter_10_1007824416', onclick='smartFilter.click(this)')
										span.bx-filter-param-text(title='Китай "Гун Джой Ли"')
											| Китай "Гун Джой Ли"
											span(data-role='count_arrFilter_10_1007824416') 1
							.checkbox
								label.bx-filter-param-label(data-role='label_arrFilter_10_1836262527', for='arrFilter_10_1836262527')
									span.bx-filter-input-checkbox
										input#arrFilter_10_1836262527(type='checkbox', value='Y', name='arrFilter_10_1836262527', onclick='smartFilter.click(this)')
										span.bx-filter-param-text(title='Румыния "Радужный Вэй"')
											| Румыния "Радужный Вэй"
											span(data-role='count_arrFilter_10_1836262527') 2
						div(style='clear: both')
				.bx-filter-parameters-box.bx-active
					span.bx-filter-container-modef
					.bx-filter-parameters-box-title(onclick='smartFilter.hideFilterProps(this)')
						span.bx-filter-parameters-box-hint
							| Вязкость 
							i.fa.fa-angle-up(data-role='prop_angle')
					.bx-filter-block(data-role='bx_filter_block')
						.bx-filter-parameters-box-container
							.checkbox
								label.bx-filter-param-label(data-role='label_arrFilter_11_692893017', for='arrFilter_11_692893017')
									span.bx-filter-input-checkbox
										input#arrFilter_11_692893017(type='checkbox', value='Y', name='arrFilter_11_692893017', onclick='smartFilter.click(this)')
										span.bx-filter-param-text(title='искусственные Вязкость:ы')
											| искусственные
											span(data-role='count_arrFilter_11_692893017') 1
							.checkbox
								label.bx-filter-param-label(data-role='label_arrFilter_11_148021655', for='arrFilter_11_148021655')
									span.bx-filter-input-checkbox
										input#arrFilter_11_148021655(type='checkbox', value='Y', name='arrFilter_11_148021655', onclick='smartFilter.click(this)')
										span.bx-filter-param-text(title='кожа')
											| кожа
											span(data-role='count_arrFilter_11_148021655') 1
							.checkbox
								label.bx-filter-param-label(data-role='label_arrFilter_11_1226323018', for='arrFilter_11_1226323018')
									span.bx-filter-input-checkbox
										input#arrFilter_11_1226323018(type='checkbox', value='Y', name='arrFilter_11_1226323018', onclick='smartFilter.click(this)')
										span.bx-filter-param-text(title='трикотаж')
											| трикотаж
											span(data-role='count_arrFilter_11_1226323018') 1
						div(style='clear: both')
				.bx-filter-parameters-box.bx-active
					span.bx-filter-container-modef
					.bx-filter-parameters-box-title(onclick='smartFilter.hideFilterProps(this)')
						span Цена 
					.bx-filter-block(data-role='bx_filter_block')
						.row.bx-filter-parameters-box-container
							.bx-filter-parameters-box-container-block.bx-left
								i.bx-ft-sub От
								.bx-filter-input-container
									input#arrFilter_P1_MIN.min-price(type='text', name='arrFilter_P1_MIN', value='', size='5', onkeyup='smartFilter.keyup(this)')
							.bx-filter-parameters-box-container-block.bx-right
								i.bx-ft-sub До
								.bx-filter-input-container
									input#arrFilter_P1_MAX.max-price(type='text', name='arrFilter_P1_MAX', value='', size='5', onkeyup='smartFilter.keyup(this)')
							.bx-ui-slider-track-container
								#drag_track_c4ca4238a0b923820dcc509a6f75849b.bx-ui-slider-track
									.bx-ui-slider-part.p1
										span 390
									.bx-ui-slider-part.p2
										span 480
									.bx-ui-slider-part.p3
										span 570
									.bx-ui-slider-part.p4
										span 660
									.bx-ui-slider-part.p5
										span 750
									#colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b.bx-ui-slider-pricebar-vd(style='left: 0;right: 0;')
									#colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b.bx-ui-slider-pricebar-vn(style='left: 0%; right: 0%;')
									#colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b.bx-ui-slider-pricebar-v(style='left: 0%; right: 0%;')
									#drag_tracker_c4ca4238a0b923820dcc509a6f75849b.bx-ui-slider-range(style='left: 0%; right: 0%;')
										a#left_slider_c4ca4238a0b923820dcc509a6f75849b.bx-ui-slider-handle.left(style='left:0;', href='javascript:void(0)')
										a#right_slider_c4ca4238a0b923820dcc509a6f75849b.bx-ui-slider-handle.right(style='right:0;', href='javascript:void(0)')
			// //row
			.row
				.bx-filter-button-box
					.bx-filter-block
						.bx-filter-parameters-box-container
							input#set_filter.btn.btn-themes(type='button', name='set_filter', value='Применить')
							input#del_filter.btn.btn-link(type='button', name='del_filter', value='Сбросить')
							#modef.bx-filter-popup-result
								| Выбрано: 
								span#modef_num 0
			.clb