footer.footer
            .footer__top
                .container
                    .short__info
                        h3 Интернет-магазин "automag №1"
                        p
                            | Продажа запчастей и автохимии для иномарок и машин отчественного производства. Работаем с оптовыми и розничными покупателями.
                        span.phone +7(4822) 56-41-22  /  +7(4822) 65-51-12
                        address
                            | Тверь, ул. П. Савельевой, д. 41  (посмотреть на карте)
                            br
                            | Тверь, Волоколамское шоссе, д. 39А  (посмотреть на карте)
                    .footer__top-menu-l
                        h3 Каталог товаров
                        ul.footer__top-menu-left
                            li
                                a(href='') Автомасла
                            li
                                a(href='') Автоаксессуары
                            li
                                a(href='') Автозапчасти
                            li
                                a(href='') Автохимия, автокосметика
                            li
                                a(href='') Аккумуляторы
                            li
                                a(href='') Антикоры, шпатлевки
                            li
                                a(href='') Краски, грунты аэрозольные
                            li
                                a(href='') Охлаждающие жидкости
                            li
                                a(href='') Растворител
                            li
                                a(href='') Смазки
                            li
                                a(href='') Спецжидкости
                            li
                                a(href='') Фильтры
                    .footer__top-menu-r
                        h3 информация
                        ul.footer__top-menu-right
                            li
                                a(href='') О компании
                            li
                                a(href='') Скидки
                            li
                                a(href='') Новости
                            li
                                a(href='') Доставка и оплата
                            li
                                a(href='') Гарантия и возврат
                            li
                                a(href='') Контакты
            .footer__bottom
                .container
                    span.copyright Все права защищены © 2014 - 2016
                    span.wizard
                        | Дизайн и разработка сайта 
                        a(href='http://wizard-c.ru/', target='_blank') WIZARD-C