span.form_h Войти на сайт
a.close
form(action='')
    .form_h-block
        input(type='text', name='', placeholder='Логин', id='')
        span.starrequired *
    .form_h-block
        input(type='password', name='', placeholder='Пароль', id='')
        span.starrequired *
    .clear
    .form_h-block
        input.btn__form.login(type='submit', value='Вход')
        a.pass_return(href='') Забыл(а) пароль
.forgot_pass
    span.wo_pass
        p У вас нет аккаунта?
        a.round_btn(href='') Зарегистрироваться