span.form_h Задайте вопрос
a.close
form(action='')
	.form_h-block
		input(type='text', name='', placeholder='Ф.И.О.', id='')
		span.starrequired *
	.form_h-block
		input(type='text', name='', placeholder='Ваш e-mail', id='')
		span.starrequired *
	.form_h-block
		input(type='text', name='', placeholder='Телефон для связи', id='')
	.form_h-block
		textarea(name='', placeholder='Сообщение', id='', cols='30', rows='5')
		span.starrequired *
	.form_h-block
		input.btn__form(type='submit', value='Отправить')