span.form_h В корзине
a.close
.header__content-basket
    p
        | Товаров 
        strong 12 шт.
        |  на сумму 
        strong 14 937 руб.
.for_buy
    span.wo_pass
        a.go_to_basket.preorder_link(href='') Перейти в корзину
        a.round_btn(href='') Оформить заказ