header.header
	.container
		.header__logo
			a(href="/").header__logo-hr
				img(src="/assets/img/logo.png")
		.header__info
			.header__info-block
				.header__info-block__phone +7 (4822) 35-98-17 
				.header__info-block__info Центральный офис в Твери
			.header__info-block
				.header__info-block__phone +7 (4822) 58-52-92
				.header__info-block__info Торговый дом «Важная персона»
			.header__info-menu
				ul.header__info-menu__main
					each item in top_items
						li.header__info-menu__main-item: a(href="#").header__info-menu__main-item-link= item
		.header__user
			ul.header__user-nav
				li.header__user-nav__item
					a(href="/").header__user-nav__item-link
						+use("user")
						| user
				li.header__user-nav__item
					a(href="/").header__user-nav__item-link
						+use("like")
						| liked
				li.header__user-nav__item
					a(href="/").header__user-nav__item-link
						+use("shopping-cart")
						| basket
						sup.header__user-nav__item-basket 5
	.container
		.adapt__menu: a(href="#") меню
		ul.header__catalog_menu
			each item in items
				li.header__catalog_menu-item: a(href="#").header__catalog_menu-item-link= item
					- if(item == 'Распродажа')
						sup.sale до - 30%
		.header__catalog_search
			#search.bx-searchtitle
				form(action='/catalog/')
					.bx-input-group
						input#title-search-input.bx-form-control(type='text', name='q', value='', autocomplete='off', placeholder='Поиск по каталогу')
						span.bx-input-group-btn
							button.btn.btn-default(type='submit', name='s')
								i.fa.fa-search
			//- .title-search-result(style='display: block; position: absolute; top: 30px; left: 0px; width: 1170px;')
			//- 	.bx_searche
			//- 		.bx_item_block.others_result
			//- 			.bx_img_element
			//- 				.bx_image(style="background-image: url('/assets/img/search/search_1.jpg')")
			//- 			.bx_item_element
			//- 				a(href='#')
			//- 					b DKNY
			//- 					| Кожаное портмоне на молнии с прострочкой
			//- 			.bx_item_price
			//- 				| 25 000 Р
			//- 			div(style='clear:both;')
			//- 		.bx_item_block
			//- 			.bx_img_element
			//- 				.bx_image(style="background-image: url('/assets/img/search/search_2.jpg')")
			//- 			.bx_item_element
			//- 				a(href='#')
			//- 					b DKNY
			//- 					|  Сумка Gansevoort на цепочке
			//- 			.bx_item_price
			//- 				| 25 000 Р
			//- 			div(style='clear:both;')
			//- 		.bx_item_block
			//- 			.bx_img_element
			//- 				.bx_image(style="background-image: url('/assets/img/search/search_3.jpg')")
			//- 			.bx_item_element
			//- 				a(href='#')
			//- 					b DKNY
			//- 					|  Платье
			//- 			.bx_item_price
			//- 				| 25 000 Р
			//- 			div(style='clear:both;')
			//- 		.bx_item_block(style='min-height:0')
			//- 			.bx_img_element
			//- 			.bx_item_element
			//- 		.bx_item_block.all_result
			//- 			.bx_img_element
			//- 			.bx_item_element
			//- 				span.all_result_title
			//- 					a(href='#').primary__button Все результаты
			//- 			div(style='clear:both;')
