header.header
	.header__left-section
		ul.header__top-social
			li.header__top-social-item
				a(href="#").header__top-social-item-link.vk_c vk
			li.header__top-social-item
				a(href="#").header__top-social-item-link.git_c git
			li.header__top-social-item
				a(href="#").header__top-social-item-link.in_c in
	.header__right-section
		a(href="#").header_menu menu
	.avatar
	.header__section
		h1.header__big Блог
		.header__line
		p.header__short-paragraph Статьи, которые я написал