header.header
	.header__left-section
		ul.header__top-social
			li.header__top-social-item
				a(href="#").header__top-social-item-link.vk_c vk
			li.header__top-social-item
				a(href="#").header__top-social-item-link.git_c git
			li.header__top-social-item
				a(href="#").header__top-social-item-link.in_c in
	.header__right-section
		a(href="#").header_menu menu
	.avatar
	.header__section
		h1.header__big Блог
		.header__line
		p.header__short-paragraph Статьи, которые я написал
	.traingle_box
		svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
			polygon(points="0,0   0,86   500.8,86   500.8,75.5")
			polygon(points="1000,0   1000,86   500,86   500,75.5")