.container
	.about__us-tab
		input#vkl1(type='radio', name='odin', checked='checked')
		label(for='vkl1') Все новости
		input#vkl2(type='radio', name='odin')
		label(for='vkl2') Новые поступления
		input#vkl3(type='radio', name='odin')
		label.artile(for='vkl3') Статьи
		div
			ul.news
				li.news-item
					.news-item__pic
						img(src='assets/img/items/news.jpg', alt='')
					time.news-item__date.
						10.09.2016
					h4.news-item__name.
						Автохимия Liqui Moly
					p.news-item__preview-text.
						Рады представить две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.
					a.discover-more(href='') Узнать больше
				li.news-item
					.news-item__pic
						img(src='assets/img/items/news2.jpg', alt='')
					time.news-item__date.
						10.09.2016
					h4.news-item__name.
						Автохимия Liqui Moly
					p.news-item__preview-text.
						Рады представить две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.
					a.discover-more(href='') Узнать больше
				li.news-item
					.news-item__pic
						img(src='assets/img/items/news_s.jpg', alt='')
					time.news-item__date.
						10.09.2016
					h4.news-item__name.
						Автохимия Liqui Moly
					p.news-item__preview-text.
						Рады представить две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.Рады представить две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.
					a.discover-more(href='') Узнать больше
				li.news-item
					.news-item__pic
						img(src='assets/img/items/news3.jpg', alt='')
					time.news-item__date.
						10.09.2016
					h4.news-item__name.
						Автохимия Liqui Moly
					p.news-item__preview-text.
						Рады представить две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.
					a.discover-more(href='') Узнать больше
				li.news-item
					.news-item__pic
						img(src='assets/img/items/news_s.jpg', alt='')
					time.news-item__date.
						10.09.2016
					h4.news-item__name.
						Автохимия Liqui Moly
					p.news-item__preview-text.
						Рады представить две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.
					a.discover-more(href='') Узнать больше
				li.news-item
					.news-item__pic
						img(src='assets/img/items/news3.jpg', alt='')
					time.news-item__date.
						10.09.2016
					h4.news-item__name.
						Автохимия Liqui Moly
					p.news-item__preview-text.
						Рады представить две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.Рады представить две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.
					a.discover-more(href='') Узнать больше
				li.news-item
					.news-item__pic
						img(src='assets/img/items/news.jpg', alt='')
					time.news-item__date.
						10.09.2016
					h4.news-item__name.
						Автохимия Liqui Moly
					p.news-item__preview-text.
						Рады представить две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.
					a.discover-more(href='') Узнать больше
				li.news-item
					.news-item__pic
						img(src='assets/img/items/news2.jpg', alt='')
					time.news-item__date.
						10.09.2016
					h4.news-item__name.
						Автохимия Liqui Moly
					p.news-item__preview-text.
						Рады представить две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.
					a.discover-more(href='') Узнать больше
		div.
			test
		div.
			test2


	include ../common/_pagination