.container
	.brands.owl-carousel.owl-theme
		.brand__item
			a(href="#").brand__item_link
				img(src="/assets/img/brands/brand_1.jpg")
		.brand__item
			a(href="#").brand__item_link
				img(src="/assets/img/brands/brand_2.jpg")
		.brand__item
			a(href="#").brand__item_link
				img(src="/assets/img/brands/brand_3.jpg")
		.brand__item
			a(href="#").brand__item_link
				img(src="/assets/img/brands/brand_4.jpg")
		.brand__item
			a(href="#").brand__item_link
				img(src="/assets/img/brands/brand_5.jpg")
		.brand__item
			a(href="#").brand__item_link
				img(src="/assets/img/brands/brand_6.jpg")
		