.container
    #owl-slider-brands
        div
            .item__brand
                img(src='assets/img/slider.min/1.png', alt='')
        div
            .item__brand
                img(src='assets/img/slider.min/2.png', alt='')
        div
            .item__brand
                img(src='assets/img/slider.min/3.png', alt='')
        div
            .item__brand
                img(src='assets/img/slider.min/4.png', alt='')
        div
            .item__brand
                img(src='assets/img/slider.min/5.png', alt='')
        div
            .item__brand
                img(src='assets/img/slider.min/6.png', alt='')
        div   
            .item__brand
                img(src='assets/img/slider.min/1.png', alt='')