.container
	p
		img(src="/assets/img/items/text.jpg" align="left" vspace="5" hspace="5")
		span Важный текст для прочтения пишется темным шрифтом! 
		|Наша компания является официальным дилером большинства представленных торговых марок. Для удобства наших клиентов работает собственный сервисный центр, где осуществляется гарантийный и послегарантийный ремонт и обслуживание.
	p
		|Низкие цены и индивидуальный подход к каждому покупателю обеспечивают полное удовлетворение потребностей наших клиентов. Действуют специальные предложения для оптовых покупателей. В связи с изменением курсов валют, актуальную цену на сегодняшний день просьба уточнять у менеджеров интернет-магазина! Вся представленная на сайте информация, касающаяся товаров, цен и услуг, носит информационный характер и не является публичной офертой, определяемой положениями 
		a(href="#") ст. 437 (2) ГК РФ.
	p.
		Наша компания является официальным дилером большинства представленных торговых марок. Для удобства наших клиентов работает собственный сервисный центр, где осуществляется гарантийный и послегарантийный ремонт и обслуживание.
	p
		|Низкие цены и индивидуальный подход к каждому покупателю обеспечивают полное удовлетворение потребностей наших клиентов. Действуют специальные предложения для оптовых покупателей. В связи с изменением курсов валют, актуальную цену на сегодняшний день просьба уточнять у менеджеров интернет-магазина! Вся представленная на сайте информация, касающаяся товаров, цен и услуг, носит информационный характер и не является публичной офертой, определяемой положениями 
		a(href="#") ст. 437 (2) ГК РФ.
	h2 Заголовок второго уровня
	p.
		Наша компания является официальным дилером большинства представленных торговых марок. Для удобства наших клиентов работает собственный сервисный Пентр, где осуществляется гарантийный и послегарантийный ремонт и обслуживание.
	h3 Список нумерованный
	ol
		li
			| Пункт
			ol
				li Подпункт 
				li Подпункт   
		li
			| Пункт  
			ol
				li Подпункт 
				li Подпункт   
	h3 Список маркированный

	ul
		li Пример нумерованного списка
		li Пример нумерованного списка
		li Пример нумерованного списка
		li Пример нумерованного списка
		li Пример нумерованного списка

	h3 Фотогалерея
	.photogallery
		.photogallery__item
			img.photogallery__item-pic(src="assets/img/items/slid_test.jpg")
		.photogallery__item
			img.photogallery__item-pic(src="assets/img/items/slid_test.jpg")
		.photogallery__item
			img.photogallery__item-pic(src="assets/img/items/slid_test.jpg")

	h3 Таблица
	table(cellspacing="0" cellpadding="0")
		tr
			th Наименование
			th Количество
			th Цена за шт.
			th Стоимость
		tr
			td Масло моторное Castrol GTX Magnatec SAE 5w40
			td 5 шт.
			td 670 р.
			td 3 350 р.
		tr
			td Масло моторное Castrol GTX Magnatec SAE 5w40
			td 5 шт.
			td 670 р.
			td 3 350 р.
		tr
			td Масло моторное Castrol GTX Magnatec SAE 5w40
			td 5 шт.
			td 670 р.
			td 3 350 р.
		tr
			td Масло моторное Castrol GTX Magnatec SAE 5w40
			td 5 шт.
			td 670 р.
			td 3 350 р.
		tr
			td Масло моторное Castrol GTX Magnatec SAE 5w40
			td 5 шт.
			td 670 р.
			td 3 350 р.
		tr
			td Масло моторное Castrol GTX Magnatec SAE 5w40
			td 5 шт.
			td 670 р.
			td 3 350 р.

