.profile-link {
	text-transform: uppercase;
	font-size: 18px;
	font-family: $second-font;
	margin-bottom: 20px;
	padding-top: 45px;
}

.bx-auth-profile .active.profile-link:after {
	content: "";
	position: relative;
	display: inline-block;
	@extend .icon-up;
	margin-left: 12px;
	margin-bottom: 1px;
}
.bx-auth-profile .profile-link:after {
	content: "";
	position: relative;
	display: inline-block;
	@extend .icon-down;
	margin-left: 12px;
	margin-bottom: 1px;
}
.profile-block-hidden {
	display: none;
}
.profile-block-shown {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
}
.profile__input-block {
	@include breakpoint(320px) {
		width: 100%;
	}
	@include breakpoint(940px) {
		width: 300px;
		margin-right: 20px;
	}
	@include breakpoint(1200px) {
		width: 360px;
		margin-right: 45px;
	}
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	position: relative;
	&:nth-child(3) {
		margin-right: 0;
	}
	&:nth-child(7) {
		margin-right: 0;
	}
	&:nth-child(4) {
		width: 100%;
		flex-direction: row;
	}
	& input[type="text"] {
		width: 100%;
		border: 1px solid #e7e7e7;
		padding: 10px 25px;
		font-size: 16px;
	}
	& input[type="password"] {
		width: 100%;
		border: 1px solid #e7e7e7;
		padding: 10px 25px;
		font-size: 16px;
	}
	& input[type="date"] {
		width: 100%;
		border: 1px solid #e7e7e7;
		padding: 8px 25px;
		font-size: 16px;
	}
	& span {
		margin-right: 30px;
	}
	& .show_pass {
		top: 71%;
		right: 25px;
	}
}
.profile__input-name {
	font-size: 16px;
	text-align: left;
	margin-bottom: 5px;
}

.bx-auth-profile .jq-radio.checked .jq-radio__div {
	margin: 2px 0 0 2px;
}
.profile__save {
	width: 100%;
	padding-bottom: 50px;
	border-bottom: 1px solid $new-line;
	& .primary__button {
		border: none;
	}
}
.profile__sms_info {
	width: 640px;
	& p {
		margin-bottom: 20px;
		font-size: 16px;
		& a {
			border-bottom: 1px dashed;
		}
	}
}
.profile__input-block_subscribe {
	display: flex;
	@include breakpoint(320px) {
		flex-direction: column;
	}
	@include breakpoint(640px) {
		flex-direction: row;
		& .profile__input-block_subscribe-item {
			margin-right: 20px;
		}
	}
	@include breakpoint(940px) {
		& .profile__input-block_subscribe-item {
			margin-right: 55px;
		}
	}
	& .profile__input-block_subscribe-item {
		margin-bottom: 40px;
	}
}
.primary__button_sms {
	width: 180px;
}
.bx-auth-profile div:nth-last-child(1) {
	border-bottom: none;
}
.personal__orders_nav {
    display: flex;
    & .current {
    	width: auto;
    	padding-left: 22px; 
    	padding-right: 22px;
    }
}
.personal__order_head {
	border-top: 1px solid $new-line;
	border-right: 1px solid $new-line;
	border-left: 5px solid;
	margin-top: 65px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
    padding: 9px 0px;
    @include breakpoint(320px) {
		flex-direction: column;
	}
	@include breakpoint(750px) {
		flex-direction: row;
	}
}
.status__accepted {
	& .personal__order_head {
		border-left-color: #3e855c;
	}
	& .personal__order_head-status {
		color: #3e855c;
	}
}
.status__end {
	& .personal__order_head {
		border-left-color: #2e7db0;
	}
	& .personal__order_head-status {
		color: #2e7db0;
	}
}
.status__canceled {
	& .personal__order_head {
		border-left-color: #d14a46;
	}
	& .personal__order_head-status {
		color: #d14a46;
	}
}
.personal__order_head-name {
	@include breakpoint(320px) {
		padding-bottom: 10px;
	}
	@include breakpoint(750px) {
		padding-left: 25px;
		width: 19%;
		padding-bottom: 0px;
	}
}
.personal__order_head-status {
	@include breakpoint(320px) {
		padding-bottom: 10px;
	}
	@include breakpoint(750px) {
		width: 52%;
		padding-bottom: 0px;
	}
}
.personal__order_head-status,
.personal__order_head-name {
	font-size: 18px;
	text-transform: uppercase;
	font-family: $second-font;
}
.personal__order_head-links {
	display: flex;
	@include breakpoint(320px) {
		justify-content: space-around;
	}
	@include breakpoint(750px) {
		justify-content: flex-end;
		width: 28.5%;
	}
	& a {
		@include breakpoint(320px) {
			margin-right: 5px;
		}
		@include breakpoint(750px) {
			margin-right: 30px;
		}
		display: flex;
		align-items: center;
		font-size: 14px;
		color: $gray;
		& span {
			margin-left: 10px;
			border-bottom: 1px dashed $gray;
		}
	}
	& .my_svg {
		width: 21px;
		height: 21px;
	    fill: $primary_color;
	    stroke: $primary_color;
	}
}
.personal__order_body {
	display: flex;
	justify-content: space-between;
	border: 1px solid $new-line;
	@include breakpoint(320px) {
		flex-direction: column;
		padding: 20px 10px;
	}
	@include breakpoint(640px) {
		flex-direction: row;
		padding: 40px 30px;
	}
}

.personal__order_body-right_area {
	@include breakpoint(1200px) {
		width: 730px;
	}
}
.personal__order_body-left_area {
	@include breakpoint(320px) {
		margin-bottom: 20px;
	}
	@include breakpoint(750px) {
		margin-bottom: 0px;
	}
}
.order_date {
	font-size: 16px;
	font-family: $second-font;
	margin-bottom: 45px;
}
/*accordeon*/
.personal__orders .accordeon__item:hover .accordeon__trigger, 
.personal__orders .accordeon__item.active .accordeon__trigger {
    color: #000;
}
.personal__orders .accordeon__item:hover .accordeon__trigger:after, 
.personal__orders .accordeon__item.active .accordeon__trigger:after {
	background-position: -266px -281px;
	transform: rotate(180deg);
}
.personal__orders .accordeon__inner {
	background: none;
	padding: 0;
    margin-top: 20px;
	&:before {
		display: none;
	}
}
.personal__orders .accordeon__inner_block {
	display: flex;
	flex-direction: column;
	& .accordeon__inner_name {
		font-size: 14px;
		color: $gray;
	} 
	& .accordeon__inner_content {
		margin-bottom: 20px;
	}
}
.personal__orders  .accordeon__item {
	padding-bottom: 45px;
}
.personal__orders  .accordeon__item:nth-last-child(1),
.personal__orders  .accordeon__inner_block:nth-last-child(1) .accordeon__inner_content {
	margin-bottom: 0;
	padding-bottom: 0;
}
/*!accordeon*/
.personal__orders .bx_ordercart_photo_container {
    position: relative;
    padding-top: 100%;
    min-width: 50px;
    max-width: 100%;
    height: 0;
}
.personal__orders .bx_ordercart_photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.personal__orders #personal__order_items {
	width: 100%;
}
.personal__orders #personal__order_items_price {
	margin-top: 40px;
	float: right;
}
.personal__orders #personal__order_items td {
    padding: 4.5% 0;
    border-bottom: 1px solid #e5e5e5;
    vertical-align: middle;
}
.personal__orders tbody td.itemphoto {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(640px) {
		display: table-cell;
		width: 13.6%;
	}
}
.personal__orders tbody td.item {
	@include breakpoint(320px) {
		width: 50%;
	}
	@include breakpoint(640px) {
		width: auto;
	}
}
.personal__orders .bx_ordercart_itemtitle {
    margin: 0;
    padding: 0;
    white-space: normal;
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 10px;
}
.personal__orders .bx_ordercart_itemtitle a {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: Proxima Nova Semibold;
}
.personal__orders .bx_ordercart_item__description {
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
    margin-bottom: 18px;
}
.personal__orders .bx_ordercart_item__props {
    font-size: 14px;
    font-family: sans-serif;
    color: #999999;
}
.personal__orders tbody td.custom {
	font-size: 16px;
}
.personal__orders tbody td:nth-child(5){
		text-align: right;
	}
.personal__orders .sticker {
	font-size: 13px;
    padding: 3px 12px 2px;
}
.personal__orders .stickers {
	left: 0;
	top: 10px;
}
.personal__orders .bx_ordercart_iteminfo {
	@include breakpoint(640px) {
		width: 65%;
	}
}
.personal__orders .summary {
	font-size: 16px;
	text-align: right;
	font-family: $second-font;
	vertical-align: bottom;
	@include breakpoint(320px) {
		padding-right: 10px;
	}
	@include breakpoint(640px) {
		padding-right: 20px;
	}
}
.personal__orders .summary__price {
	font-family: $second-font;
	font-size: 20px;
	text-transform: uppercase;
	vertical-align: bottom;
	text-align: left;
}
.bx-auth-profile,
.personal__orders {
	@include breakpoint(320px) {
		padding: 0 15px;
	}
	@include breakpoint(750px) {
		padding: 0;
	}
}