/*DETAIL_PAGE*/
.catalog__detail {
	display: flex;
	justify-content: space-between;
	.stickers {
		position: relative;
		top: 5px;
		left: 0;
		display: flex;
	}
}
.catalog__detail_left-bar {
	flex: 1 1 625px;

}
.catalog__detail_right-bar {
	flex: 1 1 545px;

}

.catalog__detail_name {
	margin: 23px 0 5px;
}
.catalog__detail_name a {
	font-size: 18px;
	font-family: $second-font;
	text-transform: uppercase;
	.catalog__detail_show-all {
		font-size: 14px;
		color: $gray;
		font-family: Proxima Nova Regular;
		border-bottom: 1px dashed $gray;
		margin-left: 18px;
		text-transform: initial;
	}
}
.catalog__detail_small-description {
	font-size: 16px;
}
.catalog__detail_price {
	margin: 38px 0 37px;
}
.catalog__detail_price-new {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    color: #ab885e;
    font-family: Proxima Nova Semibold;
}
.catalog__detail_price-old {
    display: inline-block;
    font-size: 16px;
    color: #999999;
    text-decoration: line-through;
    margin-left: 15px;
}
.catalog__detail_options {
	display: flex;
	justify-content: space-between;
}
.catalog__detail_option {
	display: flex;
	flex-direction: column;
	span {
		font-size: 16px;
		font-family: $second-font;
		margin-bottom: 7px;
		a {
			font-size: 14px;
			color: $gray;
			font-family: Proxima Nova Regular;
			border-bottom: 1px dashed $gray;
			margin-left: 20px;
		}
	}
	.jq-selectbox__dropdown,
	.jq-selectbox__select {
		width: 230px;
	}
}
.asd_fav_button,
.item_buttons_counter_block {
	display: flex;
	align-items: center;
}
.asd_fav_button {
	cursor: pointer;
	.add_to_fav {
		@include breakpoint(320px) {
			border-bottom: none;
		}
		@include breakpoint(480px) {
			border-bottom: 1px dashed #000;
		}
	    margin-left: 11px;
	}
}
.catalog__detail .asd_fav_button #like {
	width: 23px;
    height: 23px;
    stroke-width: 4px;
    fill: $primary-color;
    stroke: $primary-color;
}
.item_buttons_counter_block .primary__button {
	line-height: 2.5;
    width: 155px;
    height: 43px;
    font-size: 17px;
}
.catalog__detail_tab {
	.tabs__controls {
		padding: 0;
		justify-content: flex-start;
		font-family: $second-font;
		font-size: 16px;
	    margin-bottom: 7px;
		.tabs__controls-item {
		    margin-right: 29px;
		}
	}
	.tabs__controls-item:after {
		width: 5px;
		height: 5px;
		top: 40%;
	    right: -17px;
	}
	.tabs__list {
		font-size: 16px;
	}
}
.catalog__detail_soc {
	font-size: 16px;
	font-family: $second-font;
    margin-top: 48px;
	.fa-facebook {
		color: #566ea0;
	}
	.fa-twitter {
		color: #76b4dd;
	}
	.fa-vk {
		color: #5c82ad;
	}
	.fa-odnoklassniki {
		color: #f79851;
	}
	.fa-pinterest-p {
		color: #c4313d;
	}
	.fa {
		margin-left: 20px;
		font-size: 23px;
	}
}
.catalog__detail_soc,
.detail_soc {
	display: flex;
}
.catalog__detail_buttons {
	margin: 31px 0 45px;
}
.catalog__detail_item img {
	max-width: 75px;
	display: block;

}
/*.catalog__detail_left-bar {
	display: flex;
	img,
	.catalog__detail_image {
		margin: 0 auto;
	}
}
.catalog__detail_arrow .my_svg{
	width: 16px;
	height: 16px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.catalog__detail_next {
	margin-bottom: 25px;
}
.catalog__detail_prev {
	margin-top: 10px;
}
.catalog__detail_item {
	margin-bottom: 15px;
	border: 1px solid transparent;
	&.active,
	&:hover {
		border: 1px solid $primary-color;
	}
} */
.slider.slider-nav .slick-slide {
	height: 125px;
	color:#fff;
	margin-top: 7.5px;
	margin-bottom: 7.5px;
	display: flex;
	&.slick-current {
		border: 1px solid $primary-color;
		outline: none;
	}
}
.my_slider {
	display: flex;
	height: 620px;
	@include breakpoint(320px) {
		flex-direction: column;
	}
	@include breakpoint(480px) {
		flex-direction: row;
	}
	.slider-nav {
		display: flex;
		& img {
			margin: auto;
			max-width: 73px;
			max-height: 123px;
		}
		@include breakpoint(320px) {
			flex-direction: row;
			width: 290px;
			& button {
				margin: auto;
				display: none!important;
			}
		}
		@include breakpoint(480px) {
			flex-direction: column;
			width: 75px;
			& button {
				display: inherit!important;
			}
		}
	}
	.slider-for {
		display: flex;
		@include breakpoint(320px) {
			width: 100%;
			& img {
				margin: auto;
				max-width: 290px;
				outline: none;
				&:hover,
				&:active {
					outline: none;
				}
			}
		}
		@include breakpoint(480px) {
			order: 2;
			& img {
				max-width: 310px;
			}
		}
		@include breakpoint(640px) {
			& img {
				max-width: 100%;
			}
		}
		@include breakpoint(940px) {
			width: 400px;
		}
		@include breakpoint(1200px) {
			width: 550px;
		}
	}
}
.slick-next, .slick-prev {
	position: relative;
	left: auto;
	top: auto;
	border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
	right: auto;
	&:before {
		content: '';
	}
}
.slick-prev {
	@extend .icon-up;
}
.slick-next {
	@extend .icon-down;
}
.detail__page-detail-props_outer {
    width: 100%;
    border-bottom: 1px dotted #333;
    margin-bottom: 5px;
    font-size: 15px;
}
.detail__page-detail-props-name {
    float: left;
    position: relative;
    top: 0.2em;
    background: #fff;
}
.detail__page-detail-props-value {
    float: right;
    position: relative;
    top: 0.2em;
    text-align: right;
    background: #fff;
}
.detail__page-detail-props_outer {
	@extend .clearfix;
}
.table_size .bx_ordercart_photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.table_size .bx_ordercart_photo_container {
    position: relative;
    padding-top: 100%;
    min-width: 50px;
    max-width: 100%;
    height: 0;
}
.table_size tbody td:nth-child(1) {
    width: 30%;
}
.table_size .add_to_basket td{
	border: none;
	text-align: left;
}
.add_to_basket {
	min-width: 377px;
}
.table_size .add_to_basket tfoot td {
	text-align: center;
}
.add_to_basket .bx_ordercart_item__props {
	font-size: 14px;
	color: $gray;
}
.add_to_basket .bx_ordercart_itemtitle {
	margin-bottom: 7px;
}
.add_to_basket .bx_ordercart_item__description {
	margin-bottom: 18px;
}
.add_to_basket .stickers {
	top: 7px;
}
.add_to_basket .sticker {
    font-size: 11px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 1px 8px 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
/*!DETAIL_PAGE*/