/*LEFT BAR MENU*/
.left_bar-h {
	font-family: $second-font;
	text-transform: uppercase;
    margin-bottom: 13px;
}
.left_bar ul {
	margin-bottom: 34px;
	li {
		padding-bottom: 6px;
		a{
			font-size: 16px;
			text-transform: uppercase;
		}
	}
}
/*!LEFT BAR MENU*/