/*SORT*/
.catalog__sort {
	display: flex;
	justify-content: flex-start;
	align-items: center;
    padding-top: 4px
}
.catalog__sort-item {
	font-size: 16px;
	margin-right: 4%;
    z-index: 1000;
	&:nth-child(3) {
	    flex: 2 0px;
	}
	&:nth-last-child(1) {
		margin-right: 0;
	}
}
.jq-checkbox.checkbox_styler {
	width: 18px;
	height: 18px;
	border-radius: 0;
	border: 1px solid $new_line;
	top: -1px;
    vertical-align: middle;
    background: $white;
    box-shadow: none;
    outline: none;
    &.checked .jq-checkbox__div {
    	@extend .icon-ok; 
		box-shadow: none;
		outline: none;
		background-color: transparent;
		border-radius: 0;
		margin: 3px 0 0 1px;
    }
}
.catalog__sort-item select {
	width: 250px;
	height: 40px;
	padding: 0 15px;
	border: 1px solid #e7e7e7;
}
.container .jq-selectbox__select {
	width: 100%;
	height: 40px;
	padding: 0 15px;
	border: 1px solid #e7e7e7;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	background-color: $white;
	background: linear-gradient(#fff,#fff);
	font: 16px/18px Proxima Nova Regular, sans-serif;
	&:hover {
		background-color: $white;
		background: linear-gradient(#fff,#fff);
	}
	.jq-selectbox__select-text {
	    padding: 8px 42px 8px 0px;
	}
	.jq-selectbox__trigger {
		border-left: none;
	}
	.jq-selectbox__trigger-arrow {
		border-top-color: $second-color;
		top: 17px;
	}
}
.container .jq-selectbox__dropdown {
	border-radius: 0;
	box-shadow: none;
	margin: 0;
}
.container .jq-selectbox li:hover,
.container .jq-selectbox li.selected{
	background-color: $primary-color;
}
/*!SORT*/