/* About us
-----------------------------------------------------------------------------*/
.about__us:before, .about__us:after {
  content: "";
  display: table; }

.about__us:after {
  clear: both; }

.about__us-block-text,
.about__us-block-tabs {
  float: left; }

.about__us-block-text {
  width: 500px;
  text-align: left;
  font-size: 15px;
  color: #9e9e9e;
  line-height: 1.42;
  padding-right: 100px; 
  position: relative;
  top: -8px;}

.abouut__us-short-text > span {
  color: #000; }

.discover-more {
  color: #c1221e;
  font-size: 15px; }

.discover-more:after {
  content: "";
  /* background: url("../img/icons/right_arrow.png") 0 0 no-repeat;
  width: 6px;
  height: 10px; */
  @extend .icon-right_arrow;
  display: inline-block;
  margin-left: 6px; }

.abouut__us-short-text {
  padding-bottom: 12px; }

.about__us-block-tabs {
  width: 670px;
  margin-top: -68px; }
