/*adaptive*/
.container {
	/*debug*/
	//@include sgs-change('debug', true);
	//@include add-grid(4);
	//@include background-grid($color: blue);
	/*!debug*/
	
	@include breakpoint(320px) {
		width: 100%;
	}
	@include breakpoint(750px) {
		width: 750px;
	}
	@include breakpoint(940px) {
		width: 940px;
	}
	@include breakpoint(1200px) {
		width: 1170px;
	}
}
h1 {
	@include breakpoint(320px) {
		font-size: 35px;
	}
	@include breakpoint(750px) {
		font-size: 37px;
	}
	@include breakpoint(940px) {
		font-size: 39px;
	}
	@include breakpoint(1200px) {
		font-size: 41px;
	}
}
h2 {
	@include breakpoint(320px) {
		font-size: 34px;
	}
	@include breakpoint(750px) {
		font-size: 36px;
	}
	@include breakpoint(940px) {
		font-size: 38px;
	}
	@include breakpoint(1200px) {
		font-size: 40px;
	}
}
h3 {
	@include breakpoint(320px) {
		font-size: 15px;
	}
	@include breakpoint(750px) {
		font-size: 16px;
	}
	@include breakpoint(940px) {
		font-size: 17px;
	}
	@include breakpoint(1200px) {
		font-size: 18px;
	}
}
h4 {
	@include breakpoint(320px) {
		font-size: 13px;
	}
	@include breakpoint(750px) {
		font-size: 14px;
	}
	@include breakpoint(940px) {
		font-size: 15px;
	}
	@include breakpoint(1200px) {
		font-size: 16px;
	}
}
/*HEADER_ADAPT*/
.header .container {
	flex-direction: column;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: center;
	&:nth-child(2) {
		justify-content: space-between;
	}
	@include breakpoint(1170px) {
		&:nth-child(1) {
			&:before {
				content: "";
				position: absolute;
				border-bottom: 1px solid $new-line;
				width: 100%;
				bottom: -1px;
				left: -100%;
			}
			&:after {
				content: "";
				position: absolute;
				border-bottom: 1px solid $new-line;
				width: 100%;
				bottom: -1px;
				right: -100%;
			}
		}
	}
}
.header__logo {
	@include breakpoint(940px) {
		margin-right: 80px;
	}
}
.header__info {
	@include breakpoint(1200px) {
		margin-right: 104px;
	}
}
.header__info-block {
	@include breakpoint(320px) {
		text-align: center;
		width: 50%;
	}
	@include breakpoint(940px) {
		width: 37%;
		text-align: inherit;
	}
}
.header__catalog_menu {
	&.active {
		// position: absolute;
		// top: 50px;
		// z-index: 999;
		// background: #fff;
		// padding: 20px;
		// display: block;
		position: fixed;
		top: 0;
		z-index: 999;
		background: rgba(255, 255, 255, 0.94);
		padding: 30vh 0;
		display: inline-block;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		text-align: center;
		overflow: scroll;
		.header__catalog_menu-item {
			padding-bottom: 5px;
		}
		@include breakpoint(1200px) {
			position: inherit;
			padding: 0;
			top: 0;
		}
	}
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(940px) {
		display: flex;
		flex-basis: 74%;
	}
}
.header__info-menu__main {
	@include breakpoint(320px) {
		display: block;
	}
	@include breakpoint(570px) {
		display: inline-block;
		margin-bottom: 24px;
	}
}
.header__info-menu__main-item {
	@include breakpoint(570px) {
		float: left;
		position: relative;
	}
}
.header__info-menu__main-item {
	@include breakpoint(320px) {
		padding-right: 5px;
		text-align: center;
	}
	@include breakpoint(640px) {
		padding-right: 29px;
		&:nth-last-child(1) {
			padding-right: 0;
		}
	}
}
.header__info-block__phone {
	@include breakpoint(320px) {
		font-size: 17px;
	}
	@include breakpoint(480px) {
		font-size: 20px;
	}
}
.header__info-block__info {
	@include breakpoint(320px) {
		font-size: 13px;
	}
	@include breakpoint(480px) {
		font-size: 14px;
	}
}
.adapt__menu {
	font-size: 18px;
	text-transform: uppercase;
	font-family: Proxima Nova Semibold;
	line-height: 0;
	margin-bottom: 24px;
	margin-left: 20px;
	.icon-bars {
		display: inline-block;
	    position: relative;
    	top: 1px;
	}
	.icon-bar {
		background: $primary-color;
		width: 22px;
		height: 3px;
		display: block;
		line-height: normal;
		border-radius: 0;
		margin-top: 2px;
		margin-right: 4px;
	}
	a {
		color: $primary-color;
	}
	@include breakpoint(320px) {
		display: block;
	}
	@include breakpoint(940px) {
		display: none;
	}	
}
.close_menu {
	@include breakpoint(940px) {
		display: none;
	}
}
/*!HEADER_ADAPT*/
.line {
	@include breakpoint(1170px) {
		&:after,
		&:before {
			content:'';
			display: block;
			border-bottom: 1px solid $new_line;
			position: absolute;
			width: 100%;
		}
		&:after {
			left: -100%;
		}
		&:before {
			right: -100%;
		}
	}
}
/*CATALOG_SLIDER_ADAPT*/
.catalog__main_page .owl-stage-outer {
	@include breakpoint(320px) {
		margin-left: 0;
		margin-right: 0px;
	}
	@include breakpoint(1200px) {
		margin-left: -60px;
		margin-right: -60px;
	}
}
.catalog__main_page .owl-item {
	@include breakpoint(320px) {
		width: auto!important;
	    padding: 0 36px 0 12px;
		margin-left: 0;	}
	@include breakpoint(940px) {
		margin: auto;
		padding: 0;
	}
}
/*!CATALOG_SLIDER_ADAPT*/
#owl-slider-main {
	@include breakpoint(320px) {
		width: 100vw;
	}
	@include breakpoint(1200px) {
		width: 74.6vw;
		margin-right: 0.7vw;
	}
}
.commercial__block-banner {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(1200px) {
		width: 24.7vw;
		display: block;
	}
}
.tabs__item_news,
.middle_block__container {
	@include breakpoint(320px) {
		flex-direction: column;
	}
	@include breakpoint(940px) {
		flex-direction: row;
	}
}
.tabs__item_news-item {
	.tabs__item_news-item_date,
	.tabs__item_news-item_name,
	.tabs__item_news-item_description {
		@include breakpoint(320px) {
			padding-left: 30px;
			padding-right: 30px;
		}
		@include breakpoint(750px) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	.primary__button {
		@include breakpoint(320px) {
			position: relative;
			left: 30px;
		}
		@include breakpoint(750px) {
			position: inherit;
		}
	}
}
.tabs__item_news-item {
	@include breakpoint(320px) {
		margin: 0 auto 89px auto;
		&:nth-child(1) {
			margin-right: auto;
		}
		& img {
			width: 100vw;
		}
	}
	@include breakpoint(480px) {
		margin: 0 auto 89px auto;
		&:nth-child(1) {
			margin-right: auto;
		}
	}
	@include breakpoint(750px) {
		& img {
			width: 750px;
		}
	}
	@include breakpoint(940px) {
		width: 460px;
		&:nth-child(1) {
			margin-right: 20px;
		}
		& img {
			width: 460px;
		}
	}
	@include breakpoint(1200px) {
		width: 560px;
		&:nth-child(1) {
			margin-right: 50px;
		}
		& img {
			width: 560px;
		}
	}
}
.middle_block__container-item {
	@include breakpoint(320px) {
		width: 100%;
		margin-right: 0;
		&:nth-child(2) {
			width: 100%;
			margin-right: 0;
		}
	}
	@include breakpoint(750px) {
		width: 375px;
		margin-right: 45px;
		&:nth-child(2) {
			width: 400px;
			margin-right: 0;
		}
	}
}
.middle_block__container-description {
	@include breakpoint(320px) {
		padding-bottom: 15px;
	}
	@include breakpoint(480px) {
		padding-bottom: 25px;
	}
}
.bx-form-control {
	@include breakpoint(320px) {
		width: 33vw;
	}
	@include breakpoint(480px) {
		width: 55vw;
	}
	@include breakpoint(750px) {
		width: 30vw;
	}
	@include breakpoint(940px) {
		width: 40vw;
	}
	@include breakpoint(1200px) {
		width: 547px;
	}
}
.footer__menu {
	@include breakpoint(320px) {
		flex-direction: column;
		flex-wrap: wrap;
		flex-flow: row wrap;
	}
	@include breakpoint(940px) {
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.footer__menu_block {
		@include breakpoint(320px) {
			margin-left: auto;
			text-align: center;
		    padding-bottom: 20px;
		}
		@include breakpoint(480px) {
			margin-left: 25px;
			text-align: inherit;
		}
		@include breakpoint(940px) {
			margin-left: 30px;
		}
		@include breakpoint(1200px) {
			margin-left: 49px;
		}
	}
}
.footer__top .container {
	@include breakpoint(320px) {
		flex-flow: row wrap;
		justify-content: space-around;
	}
}
.footer__top-left-block {
	@include breakpoint(320px) {
		width: 100%;
		text-align: center;
		margin: auto;
		border-right: none;
	}
	@include breakpoint(750px) {
		width: 35%;
		border-right: 1px solid $line;
		text-align: inherit;
	}
}
.footer__top-right-block {
	@include breakpoint(320px) {
		width: 100%;
		margin: auto;
	}
	@include breakpoint(750px) {
		width: 65%;
	}
}
.footer__sn {
	@include breakpoint(320px) {
		justify-content: center;
	    padding-bottom: 0px;
	}
	@include breakpoint(750px) {
		justify-content: inherit;
	    padding-bottom: 83px;
	}
}
.bx-subscribe .sender-btn.btn-subscribe {
	@include breakpoint(320px) {
		width: 125px;
	}
	@include breakpoint(480px) {
		width: 164px;
	}
}
.copyright,
.wizard {
	@include breakpoint(320px) {
		text-align: center;
		display: block;
		float: none;
	}
	@include breakpoint(750px) {
		display: inline-block;
	}
}
.wizard {
	@include breakpoint(750px) {
		float: right;
	}
}
.tabs__item_news-item {
	@include breakpoint(320px) {
		width: 100%;
	}
	@include breakpoint(940px) {
		width: 560px;
	}
}
.owl-slider-name {
	@include breakpoint(320px) {
		font-size: 32px;
	}
	@include breakpoint(750px) {
		font-size: 48px;
	}
}
.owl-slider-block {
	@include breakpoint(320px) {
		position: absolute;
		top: 2vw;
		width: 100%;
	}
	@include breakpoint(480px) {
		position: absolute;
		top: 5vw;
		left: 12%;
		width: 400px;
	}
}
.owl-slider-info {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(750px) {
		display: block;
	}
}
.owl-slider-detail-info {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(940px) {
		display: block;
	}
}
.brands .owl-nav.owl-nav.owl-nav,
.catalog__main_page .owl-nav.owl-nav.owl-nav {
	@include breakpoint(320px) {
		.owl-next {
			&:after {
				width: 20vw;
			}
		}
		.owl-prev {
			&:before {
				width: 20vw;
			}
		}
	}
	@include breakpoint(750px) {
		.owl-next {
			&:after {
				width: 265px;
			}
		}
		.owl-prev {
			&:before {
				width: 265px;
			}
		}
	}	
}
.middle_block {
	@include breakpoint(320px) {
		background: #f4f4f4;
	}
	@include breakpoint(480px) {
		background: #f4f4f4 url('/assets/img/middle2.jpg') 49.4vw 100% no-repeat;
	}
}
.catalog__main_page-all {
	@include breakpoint(320px) {
		justify-content: space-between;
		align-items: space-between;
	}
	@include breakpoint(1200px) {
		justify-content: flex-start;
		align-items: flex-start;
	}
}
.catalog__main_page-all .catalog__main_page-item {
	@include breakpoint(320px) {
		margin: 0 auto 55px auto;
		&:nth-child(3n) {
			margin-right: auto;
		}
	}
	@include breakpoint(1200px) {
		margin: 0 45px 55px 0;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}
.catalog__sort {
	@include breakpoint(320px) {
		justify-content: space-between;
	}
	@include breakpoint(1200px) {
		justify-content: flex-start;
	}
}
.catalog__sort-item {
	@include breakpoint(1200px) {
		margin-right: 4%;
		&:nth-child(3) {
		    flex: 2 0px;
		}
		&:nth-last-child(1) {
			margin-right: 0;
		}
	}
}
.left_bar {
	@include breakpoint(320px) {
		display: none;
		margin-right: 0px;
	}
	@include breakpoint(480px) {
		display: block;
		margin-right: 20px;
	}
}
.owl-slider-button {
	@include breakpoint(320px) {
		font-size: 15px;
		width: 137px;
		height: 31px;
	}
	@include breakpoint(480px) {
		width: 158px;
		height: 38px;
	}
}
.catalog__detail_options{
	@include breakpoint(320px) {
		flex-flow: column nowrap;
	}
	@include breakpoint(480px) {
		flex-flow: row nowrap;
	}
}
.catalog__detail {
	@include breakpoint(320px) {
		flex-flow: column nowrap;
	}
	@include breakpoint(940px) {
		flex-flow: row nowrap;
	}
}
.asd_fav_button {
	@include breakpoint(320px) {
		margin-left: 10px;
	}
	@include breakpoint(940px) {
		margin-left: 27px;
	}
}
.catalog__detail_img {
	@include breakpoint(320px) {
		max-width: 243px;
	}
	@include breakpoint(480px) {
		max-width: 100%;
	}
}
.faq__form {
	@include breakpoint(320px) {
		justify-content: center;
	}
	@include breakpoint(640px) {
		justify-content: space-around;
	}
	@include breakpoint(940px) {
		justify-content: space-between;
	}
}
.faq__form_item {
	@include breakpoint(1200px) {
		margin-right: 45px;
		&:nth-child(3) {
			margin-right: 0;
		}
		.inputtext {
			width: 360px;
		}
	}
}
.contacts {
	@include breakpoint(320px) {
		flex-direction: column;
	}
	@include breakpoint(1200px) {
		flex-direction: row;
	}
}
.contacts__block {
	@include breakpoint(320px) {
		&:nth-child(2) {
			width: 100%;
		}
	}
	@include breakpoint(1200px) {
		&:nth-child(2) {
			width: 640px;
		}
	}
}
.contacts__block_address {
	@include breakpoint(320px) {
		display: flex;
		flex-direction: column;
	}
	@include breakpoint(940px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}
	@include breakpoint(1200px) {
		display: flex;
		flex-direction: column;
	}
}
.error__page_title {
	@include breakpoint(320px) {
		font-size: 20px;
	    top: -185px;
	}
	@include breakpoint(640px) {
		font-size: 41px;
		top: -264px;
	}
}
.error__page_head {
	@include breakpoint(320px) {
		font-size: 180px;
	}
	@include breakpoint(640px) {
		font-size: 265px;
	}
}
.catalog__search input[type="text"]  {
	@include breakpoint(320px) {
		width: 65%;
	}
	@include breakpoint(480px) {
		width: 45%;
	}
}
.container .contacts__select .jq-selectbox__select {
	@include breakpoint(320px) {
		width: 100vw;
	}
	@include breakpoint(480px) {
		width: 100%;
	}
}
/*!adaptive*/