/*adaptive*/
.container {
	/*debug*/
	//@include sgs-change('debug', true);
	//@include add-grid(4);
	//@include background-grid($color: blue);
	/*!debug*/
	
	@include breakpoint(320px) {
		width: 100%;
	}
	@include breakpoint(750px) {
		width: 750px;
	}
	@include breakpoint(940px) {
		width: 940px;
	}
	@include breakpoint(1200px) {
		width: 1170px;
	}
}
h1 {
	@include breakpoint(320px) {
		font-size: 35px;
	}
	@include breakpoint(750px) {
		font-size: 37px;
	}
	@include breakpoint(940px) {
		font-size: 39px;
	}
	@include breakpoint(1200px) {
		font-size: 41px;
	}
}
h2 {
	@include breakpoint(320px) {
		font-size: 34px;
    	text-align: center;
	}
	@include breakpoint(750px) {
		font-size: 36px;
		text-align: left;
	}
	@include breakpoint(940px) {
		font-size: 38px;
	}
	@include breakpoint(1200px) {
		font-size: 40px;
	}
}
h3 {
	@include breakpoint(320px) {
		font-size: 15px;
		text-transform: uppercase;
		font-family: $second-font;
	}
	@include breakpoint(750px) {
		font-size: 16px;
	}
	@include breakpoint(940px) {
		font-size: 17px;
	}
	@include breakpoint(1200px) {
		font-size: 18px;
	}
}
h4 {
	@include breakpoint(320px) {
		font-size: 13px;
		font-family: $second-font;
	}
	@include breakpoint(750px) {
		font-size: 14px;
	}
	@include breakpoint(940px) {
		font-size: 15px;
	}
	@include breakpoint(1200px) {
		font-size: 16px;
	}
}
/*HEADER_ADAPT*/
.header__logo_hide-xs {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(640px) {
		display: inline-block;
	}
}
.header__logo-hr .header__logo_hide-xl {
	@include breakpoint(320px) {
		display: inline-block;
	    max-width: 51px;
    	max-height: 51px;
	}
	@include breakpoint(640px) {
		display: none;
	}
}
/*SEARCH*/
.header__catalog_search {
	@include breakpoint(320px) {
		display: none;
		&.adapt__menu_active {
			display: block;
			transition: top 1s ease-out 1s;
			z-index: 9;
		}

	}
	@include breakpoint(1200px) {
		display: block;
	}
}
#title-search-input {
	@include breakpoint(320px) {
		width: 100vw;
		height: 72px;
		padding: 0 15px;
	}
	@include breakpoint(640px) {
		height: 124px;
	}
	@include breakpoint(1200px) {
		width: auto;
		height: auto;
		padding: auto;
	}
}
.bx-input-group-btn button {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(1200px) {
		display: block;
	}
}
/*!SEARCH*/
.adapt__search {
	position: relative;
	left: 40px;
}
.header .container {
	display: flex;
	padding-top: 30px;
	@include breakpoint(320px) {
		padding: 15px;
		justify-content: space-between;
		align-items: center;
		.adapt__menu {
			order: -1;
			width: 98px;
			z-index: 9;
			min-height: 30px;
		}
	}
	@include breakpoint(640px) {
		.adapt__menu {
			width: 122px;
		}
	}
	@include breakpoint(1200px) {
		flex-direction: column;
		flex-flow: row wrap;
		padding: 0;
	}
}
.header__logo {
	@include breakpoint(1200px) {
		margin-right: 80px;
	}
}
.header__user {
	@include breakpoint(1200px) {
		padding-top: 32px;
		padding-bottom: 60px;
	}
}
.header__user-nav__item {
	@include breakpoint(320px) {
		padding-right: 10px;
		&:nth-last-child(1) {
			padding-right: 0;
		}
	}
	@include breakpoint(1200px) {
		padding-right: 41px;
	}
}
.header__user-nav__item-link {
	@include breakpoint(320px) {
		.my_svg {
			height: 25px;
		}
		#user {
			width: 22px;
			stroke-width: 4px;
		}
		#shopping-cart {
			width: 29px;
			stroke-width: 4px;
		}
		#like {
			width: 29px;
			stroke-width: 0px;
		}
	}
	@include breakpoint(640px) {
		.my_svg {
			height: 33px;
		}
		#user {
			width: 28px;
		}
		#shopping-cart {
			width: 37px;
		}
		#like {
			width: 37px;
		}
	}
}
.header__user-nav__item-basket {
	@include breakpoint(320px) {
		width: 18px;
		height: 18px;
		font-size: 10px;
		top: -8px;
	}
	@include breakpoint(1200px) {
		width: 26px;
		height: 26px;
		font-size: 14px;
		top: -10px;
	}
}
.line.header__line {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(1200px) {
		display: block;
		width: 100%;
	}
}
.header__info {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(1200px) {
		margin-right: 104px;
		display: block;
	}
}
.header__info-block {
	@include breakpoint(320px) {
		text-align: center;
		width: 50%;
	}
	@include breakpoint(940px) {
		width: 37%;
		text-align: inherit;
	}
}
/*MENU*/
.header__nav {
	@include breakpoint(320px) {
		position: fixed;
		z-index: -1;
		top: 0;
		left: -9999px;
		width: 100%;
		transition: z-index 0s linear .4s,left 0s linear .4s;
	}
}
.header__nav_state_opened {
	@include breakpoint(320px) {
		z-index: 104;
		left: 0;
		display: block;
		transition: z-index 0s linear 0s;
		.header__menu {
		    transform: translateX(0);
		}
	}
}
.header__shadow {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	display: none;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100vh;
	background: rgba(1,1,1,.2);
	transition: opacity .3s ease;
}
.header__shadow_active {
	z-index: 102;
	visibility: visible;
	opacity: 1;
}
.header__menu {
	@include breakpoint(320px) {
		overflow: hidden;
		width: 270px;
		-webkit-transform: translateX(-270px);
		-ms-transform: translateX(-270px);
		transform: translateX(-270px);
		background: #fff;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: transform;
		transition-property: -webkit-transform;
		transition-property: transform;
		transition-property: transform,-webkit-transform;
		transition-duration: .4s;
		transition-timing-function: ease;
	}
}
.header__catalog_menu_wrap {
	@include breakpoint(320px) {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: transform;
		transition-property: -webkit-transform;
		transition-property: transform;
		transition-property: transform,-webkit-transform;
		transition-duration: .3s;
		transition-timing-function: ease;
	}
}
.header__nav-top {
	background: $new_line;
	position: relative;
	justify-content: flex-end;
	align-items: center;
	width: 270px;
	height: 61px;
	border-bottom: 1px solid #ccc;
	z-index: 120;
	backface-visibility: hidden;
	will-change: transform;
	transition-property: transform,-webk;
}
.header__link_type_noauth {
	font-size: 13px;
	text-decoration: none;
	color: #484848;
	position: relative;
	float: right;
	padding: 22px 15px 0 0;
}
.header__catalog_menu {
	@include breakpoint(320px) {
		/* margin-left: 0;
		margin-right: 0;
		display: block;
		overflow: auto;
		width: 270px;
		height: calc(100vh - 61px);
		background-color: #fff;
		margin-top: 8px; */
		display: none;
	}
	@include breakpoint(1200px) {
		display: flex;
		flex-basis: 74%;
		margin-bottom: 24px;
		margin-top: 28px;
	}
}
.header__catalog_menu-item {
	@include breakpoint(320px) {
		/* padding-left: 0;
		padding-right: 0;
		background-color: #fff;
		border-bottom: 1px solid #ececec;
		display: flex; */
	}
}
.header__catalog_menu-item-link {
	@include breakpoint(320px) {
		/* position: relative;
		padding: 15px 10px;
		background-color: #fff;
		border-bottom: none; */
	}
}
.header__item_type_phone {
	position: relative;
	padding: 15px 10px;
}
.header__item_type_phone .header__catalog_menu-item-link {
    padding: 10px 0;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #333;
    width: 100%;
    height: 100%;
}
.header__info-menu__main {
	@include breakpoint(570px) {
		display: inline-block;
		margin-bottom: 24px;
	}
}
.header__info-menu__main-item {
	@include breakpoint(570px) {
		float: left;
		position: relative;
	}
	@include breakpoint(640px) {
		margin-right: 29px;
		&:nth-last-child(1) {
			margin-right: 0;
		}
	}
}
.header__info-block__phone {
	@include breakpoint(320px) {
		font-size: 17px;
	}
	@include breakpoint(480px) {
		font-size: 20px;
	}
}
.header__info-block__info {
	@include breakpoint(320px) {
		font-size: 13px;
	}
	@include breakpoint(480px) {
		font-size: 14px;
	}
}
.adapt__menu {
	line-height: 0;
	.icon-bars {
		display: inline-block;
	    position: relative;
    	top: 1px;
	}
	.icon-bar {
		background: $primary-color;
		width: 22px;
		height: 3px;
		display: block;
		line-height: normal;
		border-radius: 0;
		margin-top: 2px;
		margin-right: 11px;
	}
	@include breakpoint(320px) {
		display: block;
	}
	@include breakpoint(1200px) {
		display: none;
	}	
}
.close_menu {
	@include breakpoint(940px) {
		display: none;
	}
}
/*!HEADER_ADAPT*/
.line {
	@include breakpoint(1170px) {
		&:after,
		&:before {
			content:'';
			display: block;
			border-bottom: 1px solid $new_line;
			position: absolute;
			width: 100%;
		}
		&:after {
			left: -100%;
		}
		&:before {
			right: -100%;
		}
	}
}
/*CATALOG_SLIDER_ADAPT*/
.catalog__main_page .owl-stage-outer {
	@include breakpoint(320px) {
		margin-left: 0;
		margin-right: 0px;
	}
	@include breakpoint(1200px) {
		margin-left: -60px;
		margin-right: -60px;
	}
}
.catalog__main_page .owl-item {
	@include breakpoint(320px) {
		width: auto!important;
	    //padding: 0 36px 0 12px;
		margin-left: 0;	}
	@include breakpoint(940px) {
		margin: auto;
		padding: 0;
	}
}
/*!CATALOG_SLIDER_ADAPT*/
#owl-slider-main {
	@include breakpoint(320px) {
		width: 100vw;
	}
	@include breakpoint(1200px) {
		width: 74.6vw;
		margin-right: 0.7vw;
	}
}
.commercial__block-banner {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(1200px) {
		width: 24.7vw;
		display: block;
	}
}
.tabs__item_news,
.middle_block__container {
	@include breakpoint(320px) {
		flex-direction: column;
	}
	@include breakpoint(940px) {
		flex-direction: row;
	}
}
.tabs__item_news-item {
	@include breakpoint(320px) {
		margin: 0 auto 89px auto;
		&:nth-child(1) {
			margin-right: auto;
		}
		& img {
			width: 100%;
		}
	}
	@include breakpoint(480px) {
		margin: 0 auto 89px auto;
		&:nth-child(1) {
			margin-right: auto;
		}
	}
	@include breakpoint(750px) {
		& img {
			width: 750px;
		}
	}
	@include breakpoint(940px) {
		width: 460px;
		&:nth-child(1) {
			margin-right: 20px;
		}
		& img {
			width: 460px;
		}
	}
	@include breakpoint(1200px) {
		width: 560px;
		&:nth-child(1) {
			margin-right: 50px;
		}
		& img {
			width: 560px;
		}
	}
}
.middle_block__container-item {
	@include breakpoint(320px) {
		width: 100%;
		margin-right: 0;
		&:nth-child(2) {
			width: 100%;
			margin-right: 0;
		}
	}
	@include breakpoint(750px) {
		width: 375px;
		margin-right: 45px;
		&:nth-child(2) {
			width: 400px;
			margin-right: 0;
		}
	}
}
.middle_block__container-description {
	@include breakpoint(320px) {
		padding-bottom: 15px;
	}
	@include breakpoint(480px) {
		padding-bottom: 25px;
	}
}
.bx-form-control {
	@include breakpoint(320px) {
		width: 32vw;
	}
	@include breakpoint(480px) {
		width: 40vw;
	}
	@include breakpoint(750px) {
		width: 30vw;
	}
	@include breakpoint(940px) {
		width: 40vw;
	}
	@include breakpoint(1200px) {
		width: 547px;
	}
}
.footer__menu {
	@include breakpoint(320px) {
		flex-direction: column;
		flex-wrap: wrap;
		flex-flow: row wrap;
	}
	@include breakpoint(940px) {
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.footer__menu_block {
		@include breakpoint(320px) {
			margin-left: auto;
			text-align: center;
		    padding-bottom: 20px;
		}
		@include breakpoint(480px) {
			margin-left: 25px;
			text-align: inherit;
		}
		@include breakpoint(940px) {
			margin-left: 30px;
		}
		@include breakpoint(1200px) {
			margin-left: 49px;
		}
	}
}
.footer__top .container {
	@include breakpoint(320px) {
		flex-flow: row wrap;
		justify-content: space-around;
	}
}
.footer__top-left-block {
	@include breakpoint(320px) {
		width: 100%;
		text-align: center;
		margin: auto;
		border-right: none;
		padding: 0 15px;
	}
	@include breakpoint(750px) {
		width: 35%;
		padding: 0;
		border-right: 1px solid $line;
		text-align: inherit;
	}
}
.footer__top-right-block {
	@include breakpoint(320px) {
		width: 100%;
		margin: auto;
	}
	@include breakpoint(750px) {
		width: 65%;
	}
}
.footer__sn {
	@include breakpoint(320px) {
		justify-content: center;
	    padding-bottom: 0px;
	}
	@include breakpoint(750px) {
		justify-content: inherit;
	    padding-bottom: 83px;
	}
}
.bx-subscribe .sender-btn.btn-subscribe {
	@include breakpoint(320px) {
		width: 125px;
	}
	@include breakpoint(480px) {
		width: 164px;
	}
}
.copyright,
.wizard {
	@include breakpoint(320px) {
		text-align: center;
		display: block;
		float: none;
	}
	@include breakpoint(750px) {
		display: inline-block;
	}
}
.wizard {
	@include breakpoint(750px) {
		float: right;
	}
}
.tabs__item_news-item {
	@include breakpoint(320px) {
		width: 100%;
	}
	@include breakpoint(940px) {
		width: 560px;
	}
}
.owl-slider-name {
	@include breakpoint(320px) {
		font-size: 32px;
	}
	@include breakpoint(750px) {
		font-size: 48px;
	}
}
.owl-slider-block {
	@include breakpoint(320px) {
		position: absolute;
		top: 2vw;
		width: 100%;
		padding: 0 15px;
	}
	@include breakpoint(480px) {
		position: absolute;
		top: 5vw;
		left: 12%;
		width: 400px;
	}
	@include breakpoint(640px) {
		padding: 0;
	}
}
.owl-slider-info {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(750px) {
		display: block;
	}
}
.owl-slider-detail-info {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(940px) {
		display: block;
	}
}
.brands .owl-nav.owl-nav.owl-nav,
.catalog__main_page .owl-nav.owl-nav.owl-nav {
	@include breakpoint(320px) {
		.owl-next {
			&:after {
				width: 19vw;
			}
		}
		.owl-prev {
			&:before {
				width: 19vw;
			}
		}
	}
	@include breakpoint(750px) {
		.owl-next {
			&:after {
				width: 265px;
			}
		}
		.owl-prev {
			&:before {
				width: 265px;
			}
		}
	}	
}
.middle_block {
	@include breakpoint(320px) {
		background: #f4f4f4;
	}
	@include breakpoint(480px) {
		background: #f4f4f4 url('/assets/img/middle2.jpg') 49.4vw 100% no-repeat;
	}
}
.catalog__main_page-all {
	@include breakpoint(320px) {
		justify-content: space-between;
		align-items: space-between;
	}
	@include breakpoint(1200px) {
		justify-content: flex-start;
		align-items: flex-start;
	}
}
.catalog__main_page-all .catalog__main_page-item {
	@include breakpoint(320px) {
		margin: 0 auto 55px auto;
		&:nth-child(3n) {
			margin-right: auto;
		}
	}
	@include breakpoint(1200px) {
		//margin: 0 45px 55px 0;
		margin: 0 37.5px 55px 0;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}
.catalog__sort {
	@include breakpoint(320px) {
		justify-content: space-around;
		.catalog__sort-item {
			padding-bottom: 5px;
			&:nth-last-child(1){
				width: 100%;
				text-align: center;
			}
		}
	}
	@include breakpoint(640px) {
		justify-content: space-between;
		.catalog__sort-item {
			padding-bottom: 0;
		}
	}
	@include breakpoint(1200px) {
		justify-content: flex-start;
		.catalog__sort-item:nth-last-child(1){
			width: auto;
			text-align: inherit;
		} 
	}
}
.catalog__sort-item {
	@include breakpoint(1200px) {
		margin-right: 4%;
		&:nth-child(3) {
		    flex: 2 0px;
		}
		&:nth-last-child(1) {
			margin-right: 0;
		}
	}
}
.left_bar {
	@include breakpoint(320px) {
		display: none;
		margin-right: 0px;
	}
	@include breakpoint(480px) {
		display: block;
		margin-right: 5px;
	}
	@include breakpoint(640px) {
		display: block;
		margin-right: 20px;
	}
}
.owl-slider-button {
	@include breakpoint(320px) {
		display: none;
		/* font-size: 15px;
		width: 137px;
		height: 31px; */
	}
	@include breakpoint(480px) {
		display: block;
		width: 158px;
		height: 38px;
	}
}
.catalog__detail_options{
	@include breakpoint(320px) {
		flex-flow: column nowrap;
	}
	@include breakpoint(480px) {
		flex-flow: row nowrap;
	}
}
.catalog__detail {
	@include breakpoint(320px) {
		flex-flow: column nowrap;
	}
	@include breakpoint(940px) {
		flex-flow: row nowrap;
		padding: 0;
	}
}
.asd_fav_button {
	@include breakpoint(320px) {
		margin-left: 10px;
	}
	@include breakpoint(940px) {
		margin-left: 27px;
	}
}
.catalog__detail_img {
	@include breakpoint(320px) {
		max-width: 243px;
	}
	@include breakpoint(480px) {
		max-width: 100%;
	}
}
.faq__form {
	@include breakpoint(320px) {
		justify-content: center;
	}
	@include breakpoint(640px) {
		justify-content: space-around;
	}
	@include breakpoint(940px) {
		justify-content: space-between;
	}
}
.faq__form_item {
	@include breakpoint(1200px) {
		margin-right: 45px;
		&:nth-child(3) {
			margin-right: 0;
		}
		.inputtext {
			width: 360px;
		}
	}
}
.contacts {
	@include breakpoint(320px) {
		flex-direction: column;
	}
	@include breakpoint(1200px) {
		flex-direction: row;
	}
}
.contacts__block {
	@include breakpoint(320px) {
		&:nth-child(2) {
			width: 100%;
		}
	}
	@include breakpoint(1200px) {
		&:nth-child(2) {
			width: 640px;
		}
	}
}
.contacts__block_address {
	@include breakpoint(320px) {
		display: flex;
		flex-direction: column;
	}
	@include breakpoint(940px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}
	@include breakpoint(1200px) {
		display: flex;
		flex-direction: column;
	}
}
.error__page_title {
	@include breakpoint(320px) {
		font-size: 17px;
	    top: -185px;
	}
	@include breakpoint(480px) {
		font-size: 20px;
	}
	@include breakpoint(640px) {
		font-size: 41px;
		top: -264px;
	}
}
.error__page_head {
	@include breakpoint(320px) {
		font-size: 180px;
	}
	@include breakpoint(640px) {
		font-size: 265px;
	}
}
.catalog__search input[type="text"]  {
	@include breakpoint(320px) {
		width: 65%;
	}
	@include breakpoint(480px) {
		width: 45%;
	}
}
.container .contacts__select .jq-selectbox__select {
	@include breakpoint(320px) {
		width: 90vw;
	}
	@include breakpoint(480px) {
		width: 100%;
	}
}
.my_registartion .bx-authform{
	@include breakpoint(320px) {
		margin: auto;
	}
	@include breakpoint(940px) {
		margin: inherit;
	}
}
.bx-breadcrumb__container {
	@include breakpoint(320px) {
		display: none;
	}
	@include breakpoint(940px) {
		display: block;
	}
}
/*!adaptive*/