/* Breadcrumb
-----------------------------------------------------------------------------*/
.bx-breadcrumb{
	margin:50px 0 0 0;
}
.bx-breadcrumb i{
	color:#9e9e9e;
	line-height:13px;
	font-size:12px;
	vertical-align:middle;
	margin-right:10px;
}
.bx-breadcrumb .bx-breadcrumb-item{
	float:left;
	margin-bottom:10px;
	white-space:nowrap;
	line-height:13px;
	vertical-align:middle;
	margin-right:15px;
}
.bx-breadcrumb .bx-breadcrumb-item span{
	font-size:13px;
	color:#9e9e9e;
}
.bx-breadcrumb .bx-breadcrumb-item a{
	border-bottom:0;
	color:#9e9e9e;
}

.bx-title {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 25px;
    margin: 10px 0 37px 0;
}

.bx-title .bx-title-sup {
    font-size: 12px;
    font-weight: normal;
    left: 16px;
    top: -7px;
}