/* Catalog slider
-----------------------------------------------------------------------------*/
/* uncss:ignore */
#owl-slider-catalog .owl-controls .owl-buttons div {
  width: 38px;
  height: 36px;
  background: #d3d2d2;
  opacity: 1;
  margin: 0; }
/* uncss:ignore */
#owl-slider-catalog .owl-controls .owl-buttons div:hover {
  background: #c1221e;
  opacity: 1; }
/* uncss:ignore */
#owl-slider-catalog .owl-controls .owl-buttons .owl-prev {
  float: left;
  border-radius: 0 18px 18px 0; 
  position: relative;
  left: 16px;
}
/* uncss:ignore */
#owl-slider-catalog .owl-controls .owl-buttons .owl-next {
  float: right;
  border-radius: 18px 0 0 18px; 
  position: relative;
  right: 16px;
}
/* uncss:ignore */
#owl-slider-catalog .owl-controls .owl-buttons .owl-next:after,
#owl-slider-catalog .owl-controls .owl-buttons .owl-prev:after {
  content: "";
  margin: 7px 1px;
  display: inline-block; }
/* uncss:ignore */
#owl-slider-catalog .owl-controls .owl-buttons .owl-next:after {
  @extend .icon-arrow_r_b;
}
/* uncss:ignore */
#owl-slider-catalog .owl-controls .owl-buttons .owl-prev:after {
  @extend .icon-arrow_l_b;
}
/* uncss:ignore */
#owl-slider-catalog .owl-controls .owl-buttons .owl-next:hover:after {
@extend .icon-arrow_r;}
/* uncss:ignore */
#owl-slider-catalog .owl-controls .owl-buttons .owl-prev:hover:after {
@extend .icon-arrow_l;}
/* uncss:ignore */
#owl-slider-catalog .owl-controls {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 37%; }

#owl-slider-catalog .owl-item {}
/* uncss:ignore */
#owl-slider-catalog,
#owl-slider-catalog .owl-wrapper-outer {
  width: 1200px;
}
/* uncss:ignore */
#owl-slider-catalog{
  left: -15px;
  margin-bottom: -15px;
}