/*Footer*/
.footer {
  height: 185px;
}

.footer__top {
	background: #373e42;
	opacity: 0.85;
	height: 147px;
}

.footer__top-column {
	position: relative;
	width: 33%;
    float: left;
    border-right: 1px solid #69716e;
    height: 87px;
    margin: 30px 0;
}

.footer__top-column:nth-child(3) {
	border-right: none;
}

.footer__top-column-menu {
	margin: 0;
}

.footer__top-column-menu-item {
	display: inline;
	margin-right: 35px;
}

.footer__top-social-item {
	font-size: 0;
}

.footer__top-column-menu-item-link {
	font-family: Roboto-Bold;
}

.footer__top-social-item {
	float: left;
	margin-right: 27px;
	position: relative;
	width: 31px;
    height: 22px;
}

.vk, .git, .in {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.vk {
	@extend .icon-vk_f;
	&:hover {
		@extend .icon-vk;
	}
}

.git {
	@extend .icon-git_f;
	&:hover {
		@extend .icon-git;
	}
}

.in {
	@extend .icon-in_f;
	&:hover {
		@extend .icon-in;
	}
}

.footer__top-column-text {
	color: #fff;
	font-family: Roboto-Light;
    margin: 0 180px 0 30px;
}

.footer__blockquote {
	font-family: Roboto-LightItalic;
	color: #fff;
	opacity: 0.85;
	margin-top: 0;
}

.footer__blockquo-name {
	font-family: Roboto-BoldItalic;
}

.footer__bottom {
	background: #6c9c5a;
	opacity: 0.85;
}
.copyright {
	color: #fff;
	text-align: center;
    margin: 0;
    padding: 10px 0;
    font-family: Roboto-Light;
}