/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -410px auto 0;
	height: 410px;
	position: relative;
	color: #9e9e9e;
}
.footer__top {
	background: #2a2627;
	height: 330px;
	min-width: 1170px;
}
.footer__bottom {
	background: #231f20;
	color: #9e9e9e;
	min-width: 1170px;
}
.wizard {
	float: right;
}
.wizard a{
	color: #9e9e9e;
	font-weight: bold;
	&:hover {
		border-bottom: none;
	}
}
.footer__bottom span {
    margin: 31px 0;
    display: inline-block;
}
.footer__top-menu-right a,
.footer__top-menu-left a{
	color: #9e9e9e;
	text-transform: capitalize;
	&:hover {
		border-bottom: none;
	}
}
.footer__top-menu-left {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.footer h3 {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 23px;
}
.short__info,
.footer__top-menu-l,
.footer__top-menu-r {
	float: left;
    margin-top: 60px;
}
.short__info {
	width: 560px;
	padding-right: 135px;
}
.short__info span {
	font-size: 16px;
	font-weight: bold;
    margin: 27px 0;
    display: block;
}
.short__info address {
	font-style: normal;
}
.footer__top-menu-l {
	width: 480px;
}
.footer__top ul li {
	padding-bottom: 9px;
}