.bx-authform {
	margin-bottom: 75px;
}
.bx-authform-content-container {
	font-size: 15px;
	color: #9e9e9e;
	line-height: 1.62;
	margin-bottom: 29px;
	margin-top: -7px;
}

.btn-primary {
	border: none;
	font-size: 15px;
	color: #fff;
	background-color: #c1221e;
	border-radius: 19px;
	padding: 8px 19px 12px;
	cursor: pointer;
	background-repeat: no-repeat;
	outline: none;
	margin-top: 15px;
	&:hover {
		background-color: #c1221e;
	}
}

.bx-authform-input-container {
	position: relative;
}

.bx-authform-input-container input[type="text"], 
.bx-authform-input-container input[type="password"] {
	display: block;
	width: 300px;
	height: 38px;
	font-size: 13px;
	margin: 0 0 15px 0;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 0 15px;
	outline: none;
}

.starrequired.starrequired-reg {
    left: 275px;
}

.forgot {
    margin-bottom: 76px;
}