%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans'), local('NotoSans'), url('/assets/fonts/noto/notosans.woff2') format('woff2'), url('/assets/fonts/noto/notosans.woff') format('woff'), url('/assets/fonts/noto/notosans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('/assets/fonts/noto/notosansbold.woff2') format('woff2'), url('/assets/fonts/noto/notosansbold.woff') format('woff'), url('/assets/fonts/noto/notosansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

