/* Header
-----------------------------------------------------------------------------*/
.header {

}
.header__content-top {
	@include clearfix();
	padding-top: 42px;
	padding-bottom: 27px; 
}
.logo,
.header__content-info,
.header__content-nav {
	float:left;
}
.logo {
	width:30%;
}
.logo__pic-img {
	display: block;
	max-width: 307px;
	max-height: 43px;
}
.header__content-info {
	width: 27%;
}
.header__content-phone {
	font-size: 2.154em;
	font-weight: bold;
	display: table;
	margin:2px auto 7px auto;
}
.header__content-calltime {
	color:#9e9e9e;
	display: table;	
	margin:0 auto;
}
.header__content-nav {
	width: 42%;
}
.header__content-nav-link {
	color: #000;
}
/*.header__content-nav-menu:after {
	content:"";
	display: inline-block;
	width: 100%;
	height: 0;
}*/
.header__content-nav-menu {
	/*text-align: justify;*/
	float: right;
}
.header__content-nav-item {
	/*display: inline-block;*/
	float: left;
	border-right: 1px solid #e0e0e0;
	padding: 0 25px;
	position: relative;
	margin-bottom: 15px;
	cursor: pointer;
}
.header__content-nav-item:after {
	content:"";
	height: 15px;
	display:block;
	background: #fff;
	position: absolute;
	width: 100%;
	right: 0;
	bottom: -15px
}
.header__content-nav-item:before {
	content:"";
	height: 15px;
	display:block;
	background: #fff;
	position: absolute;
	width: 100%;
	right: 0;
	top: -15px
}
.header__content-nav-item:nth-child(3) {
	border:none;
}
.header__content-nav-icon{
    margin: 1px auto 0;
    display: table;
    position: relative;
}
.basket {
    background: #c1221e;
    color: #fff;
    border-radius: 18px;
    width: 18px;
    height: 18px;
    top: -5px;
    text-align: center;
    display: inline-block;
    line-height: 19px;
    left: 25px;
    position: absolute;
}
.header__content-bottom {
	background: #274555;
	display: block;
	min-width: 1170px;
}