/* Main catalog
-----------------------------------------------------------------------------*/
#owl-slider-catalog .main__catalog-item {
  width: 90%;
  display: block;
  margin: 0 auto 25px auto; }


.main__catalog {
  margin-bottom: -15px;
}
.main__catalog-item {
  position: relative;
  width: 23%;
  display: inline-block;
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin: 0 27px 25px 0;
  background: #fff;
  min-height: 336px;
  /* min-height: 321px; */ }

.things_to_buy_leader .main__catalog-item:nth-child(7),
.things_to_buy_leader .main__catalog-item:nth-child(3) {
  margin-right: 0; }

.catalog_tale .main__catalog-item:nth-child(4n+4) {
  margin-right: 0;
}


ul.main__catalog li{
  list-style: none;
}
.main__catalog-item-big {
  width: 566px; }

.main__catalog:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0; }

.main__catalog-item-pic {
  position: relative;
  margin: 0 auto;
  width: 175px;
  height: 180px;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0; }

.main__catalog-item-big .main__catalog-item-pic {
  width: 248px;
  height: 201px;
  margin: 0; }

.main__catalog-item-big .main__catalog-item-pic:after {
  content: "";
  @extend .icon-item_of_month;
  display: block;
  position: relative;
  left: 300px;
  top: 20px;
}

.main__catalog-item-pic > img {
  position: absolute;
  margin: 0 auto;
  top: 0px;
  left: 0;
  right: 0;
  max-width: 175px;
  max-height: 180px; }

.main__catalog-item-big .main__catalog-item-pic > img {
  max-width: 248px;
  max-height: 198px; }

.main__catalog-item-name {
  font-size: 15px;
  font-weight: bold;
  display: block;
  line-height: 1.42;
  padding-top: 5px;
  & a {
    color: #000;
  }
  & a:hover {
    border-bottom: none;
  }
}

.main__catalog-item-available:before {
  content: "";
  @extend .icon-available;
  display: inline-block;
  margin-right: 5px;
 }

span.main__catalog-item-available {
  font-size: 12px;
  color: #1b7714;
  display: inline-block;
  padding-top: 6px; }

.main__catalog-item-notavailable{
    font-size:12px;
    color:#9e9e9e;
    padding-top: 6px;
    display: block;
  }

.main__catalog-item-buy:before, .main__catalog-item-buy:after {
  content: "";
  display: table; }

.main__catalog-item-buy:after {
  clear: both; }

.main__catalog-item-buy .price,
.button_small {
  float: left; }

.button_big {
  float: right; 
  position: relative;
  top: 4px;
}

.main__catalog-item-buy .price {
  font-size: 15px;
  font-weight: bold;
  margin-top: 3px; }

a.button_small {
  width: 21px;
  height: 32px;
  border: 1px solid #e0e0e0;
  text-align: center;
  background: #fff; 
  color: #000;
  &:hover {
    border: 1px solid #e0e0e0;
  }
}

.transparent_input {
  border: 1px solid #e0e0e0;
  font-size: 14px;
  background: #efefef;
  width: 21px;
  height: 32px;
  float: left;
  text-align: center;
  outline: none; }

.button_down {
  border-radius: 15px 0 0 15px; 
  line-height: 1.6;
}

.button_up {
  border-radius: 0 15px 15px 0; }

a.buy_link {
  width: 64px;
  height: 32px;
  border: 3px solid #c1221e;
  background: #c1221e;
  display: inline-block;
  border-radius: 16px;
  margin-left: 10px; 
  &:hover {
    background: #fff;
    border: 3px solid #c1221e;
  }
  &:hover > i {
    @extend .icon-basket_black;
  }
}
.buy_link > i {
  @extend .icon-basket_white;
  display: inline-block;
  margin: 4px 16px; }

.buy_link.in_basket > i {
  @extend .icon-available_grey;
  display: inline-block;
  margin: 8px 6px 0 20px; }

.buy_link.in_basket {
  background: #e0e0e0;
  width: 100%;
  color: #9e9e9e;
  font-size: 15px;
  padding-right: 10px; 
  border:none;
  &:hover {
    background: #e0e0e0;
    width: 100%;
    color: #9e9e9e;
    font-size: 15px;
    padding-right: 10px; 
    border:none;
  }
  &:hover i {
    @extend .icon-available_grey;
  }
}

a.preorder_link {
  background: #c1221e;
  text-align: center;
  padding: 7px 19px;
  height: 32px;
  display: inline-block;
  border-radius: 16px;
  color: #fff;
  line-height: 1.3;
  font-size: 15px; }

.stickers {
  position: absolute;
  left: -3px;
  z-index: 1;
  margin-top: -3px; 
}

span.sticker {
  background: #274555;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  width: 65px;
  padding: 1px 0px;
  text-align: center;
  display: block;
  font-size: 12px;
  margin-bottom: 5px; }

.show {
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  position: relative;
  top: -13px; 
}
.show:before, .show:after {
    content: "";
    display: table; 
  }
.show:after {
    clear: both; }

a.show__more {
  border-bottom: 1px dashed #9e9e9e;
  color: #9e9e9e;
  font-size: 15px;
  margin: 0 auto; 
  &:hover {
    border-bottom: 1px dashed #9e9e9e;
  }
}

.main__section-grey {
  background: #f2f2f2;
  min-width: 1170px; }