/* Start:/bitrix/components/bitrix/sale.order.ajax/templates/.default/style.min.css?147392896437545*/
.bx-soa-section {
    border-radius: 2px;
    margin-bottom: 65px;
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
}
.bx-soa-section-title-count {
    display: inline-block;
    min-width: 22px;
    height: 22px;
    border-radius: 11px;
    border: 1px solid #98979d;
    vertical-align: middle;
    position: relative;
    margin: -2px 13px 0 0;
}
.bx-content {
    counter-reset: heading;
}
.bx-soa-section .bx-soa-section-title-count:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 14px;
    color: #98979d;
    line-height: 19px;
    counter-increment: heading;
    content: counter(heading);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.bx-soa-section-title-count:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: -5px;
    bottom: -2px;
    display: none;
    background: url(/bitrix/components/bitrix/sale.order.ajax/templates/.default/images/sprite.png) no-repeat center;
}
.bx-soa-section.bx-step-completed {
    border: 1px solid #e0e0e0;
}
.bx-soa-section.bx-step-completed .bx-soa-section-title-count {
    background: #87c73d;
    border-color: #87c73d;
}
.bx-soa-section.bx-step-completed .bx-soa-section-title-count:after {
    color: #fff;
}
.bx-soa-section.bx-step-completed .bx-soa-section-title-count:before {
    display: block;
    background-position: center 0;
}
.bx-soa-section.bx-step-error .bx-soa-section-title-count {
    background: #db4c4c;
    border-color: #db4c4c;
}
.bx-soa-section.bx-step-error .bx-soa-section-title-count:after {
    color: #fff;
}
.bx-soa-section.bx-step-error {
    border: 1px solid #db4a29;
}
.bx-soa-section.bx-step-error .bx-soa-section-title-count:before {
    display: block;
    background-position: center -20px;
}
.bx-soa-section.bx-selected {
    border: 1px solid #e0e0e0;
}
.bx-soa-section-title-container {
    overflow: hidden;
    background: #f2f5f7;
    padding: 14px 30px 16px;
    font-size: 14px;
}
.bx-soa-section-title-container .text-right {
    width: 60%;
    float: left;
    text-align: right;
}
h2.bx-soa-section-title {
    border-radius: 2px;
    margin: 0;
    font-size: 18px;
    color: #000;
    line-height: 15px;
    min-height: 20px;
    vertical-align: middle;
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    padding-top: 3px;
    width: 40%;
    float: left;
    &:after {
        content: none;
    }
}
a.bx-soa-editstep {
    display: inline;
    font-size: 15px;
    vertical-align: middle;
    color: #9e9e9e;
    line-height: 22px;
    border-bottom: 1px dashed;
    &:hover {
        border-bottom: 1px dashed #9e9e9e;
    }
}
.text-right span {
    display: inline;
    font-size: 15px;
    vertical-align: middle;
    color: #9e9e9e;
    line-height: 22px;
}
.bx-soa-section.bx-selected .bx-soa-editstep {
/*     display: none; */
}
.bx-soa-section.bx-selected .bx-soa-editstep:hover {
    border-bottom: 0;
}
.bx-soa-section-content {
    padding: 20px 30px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.bx-soa-section.bx-step-completed .bx-soa-section-content, .bx-soa-section.bx-selected .bx-soa-section-content {
    line-height: 18px;
}
.bx-soa-table-fade {
    position: relative;
}
.bx-soa-table-fade:before {
    left: 0;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(left, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
}
.bx-soa-table-fade:after {
    right: 0;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
}
.bx-soa-table-fade:before, .bx-soa-table-fade:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: 10px;
    top: 0;
    height: 100%;
    display: block;
    -webkit-transition: width 300ms ease;
    -moz-transition: width 300ms ease;
    -ms-transition: width 300ms ease;
    -o-transition: width 300ms ease;
    transition: width 300ms ease;
}
.bx-soa-item-table {
    margin-bottom: 10px;
    min-width: 100%;
    display: table;
}
.bx-soa-item-tr {
    display: table-row;
}
.bx-soa-item-td {
    display: table-cell;
    vertical-align: top;
    padding-top: 5px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    border-bottom: 1px dotted #e5e5e5;
}
.bx-soa-item-table .bx-soa-item-tr:first-child .bx-soa-item-td {
    border-top: 0;
}
.bx-soa-item-img-block {
    float: left;
    padding-right: 15px;
}
.bx-step-completed .bx-soa-item-img-block {
    width: 100px;
    padding: 13px 15px 17px;
    margin-right: 19px;
}
.bx-soa-item-imgcontainer {
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bx-soa-item-title {
    font-weight: bold;
    padding-bottom: 5px;
    & a {
        color: #000;
        font-size: 15px;
        &:hover {
            border-bottom: none;
        }
    }
}
.bx-soa-item-td-title {
    display: none;
}
.bx-soa-item-td-text {
    line-height: 25px;
    font-size: 14px;
    vertical-align: middle;
    & strong {
        font-weight: normal;
        font-size: 15px;
    }
}
.bx-soa-item-properties .bx-soa-item-td-title, .bx-soa-item-properties .bx-soa-item-td-text {
    text-align: center;
}
.bx-soa-item-properties.bx-text-right .bx-soa-item-td-title, .bx-soa-item-properties.bx-text-right .bx-soa-item-td-text {
    text-align: right;
}
.bx-text-right {
    padding-top: 39px;
}
.bx-soa-item-td-text .bx-price {
    white-space: nowrap;
}
.bx-soa-pickup-list {
    margin-bottom: -2px;
}
.bx-soa-pickup-list .bx-soa-pickup-list-item {
    border-bottom: 1px solid #dcdfe2;
    padding: 15px 0px;
    position: relative;
    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
    transition: background .2s ease;
}
.bx-step-completed .bx-soa-pickup-list-item:nth-child(1) {
    padding-top: 15px;
}
.bx-soa-pickup-list-item:nth-child(1) {
    padding-top: 46px;
}
.bx-soa-pickup-list-item.bx-selected {
    background: #fff;
}
.bx-soa-pickup-list .bx-soa-pickup-list-item:last-child {
    border-bottom: 1px solid #dcdfe2;
}
 .bx-soa-pickup-list-item .bx-soa-pickup-l-item-detail {
    padding-top: 0;
    padding-left: 118px;
    & .address {
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 8px;
        padding-top: 14px;
    }
    & .work-time {
        font-size: 15px;
    }
} 
.bx-soa-pickup-list-item.bx-selected .bx-soa-pickup-l-item-detail {
    display: block;
}
.bx-soa-pickup-l-item-detail {
    padding-left: 100px;
    position: relative;
    min-height: 75px;
}
img.bx-soa-pickup-l-item-img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 98px;
    max-height: 98px;
    height: auto;
    width: auto;
    padding: 5px;
    margin: 0;
}
.bx-step-completed .bx-selected.bx-soa-pickup-list-item .bx-soa-pickup-l-item-detail img.bx-soa-pickup-l-item-img {
    border: none;
    padding: 0;
}
.bx-soa-pickup-l-item-detail img.bx-soa-pickup-l-item-img{
    border: 1px solid transparent;
}
.bx-selected.bx-soa-pickup-list-item .bx-soa-pickup-l-item-detail img.bx-soa-pickup-l-item-img{
    border: 1px solid #274555;
}
.bx-scu-container {
    overflow: hidden;
}
.bx-scu-container {
    position: relative;
    height: 35px;
    overflow: hidden;
}
.bx-scu-container:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}
.bx-scu-container .bx-soa-item-td-title {
    line-height: 20px;
}
.bx-scu-container .bx-soa-item-td-title, .bx-scu-container .bx-soa-item-td-text {
    float: left;
    font-size: 12px;
    padding-right: 5px;
    line-height: 19px;
    vertical-align: middle;
    padding-bottom: 3px;
    color: #9e9e9e;
}
.bx-scu-container .bx-soa-item-td-title {
    clear: both;
}
.bx-soa-customer {
    @include clearfix();
}
.bx-soa-customer-field {
    float: left;
    position: relative;
    margin-right: 29px;
    &:nth-child(n + 3) {
        margin-right: 0;
    }
    &:nth-child(4) {
        width: 100%;
    }
}

.form-control {
    background-color: #fff;
    border: 1px solid #d5dadc;
    box-shadow: none;
    font-size: 13px;
    padding: 0 15px;
    width: 350px;
    height: 38px;
    margin-bottom: 15px;
}
.bx-soa-customer-textarea {
    display: block;
    width: 100%;
    height: 150px;
    padding-top: 14px;
}
.form-group .form-control:focus {
    border-color: #63747e;
}
.bx-soa-pp-company-selected {
    padding: 10px 0 0 0;
}
.bx-soa-pp-company-selected strong {
    margin-left: 13px;
    font-size: 15px;
}
.bx-step-completed .bx-soa-pp-company-selected p,
.bx-step-completed .bx-soa-pp-company-selected strong {
    margin-left: 0;
}
.bx-soa-pp-company-selected p{
    margin-left: 26px;
    padding: 0;
    line-height: 1.85;
}
.bx-soa-pp-company-selected input[type="radio"] {
    position: relative;
    top: 12px;
    left: 1px;

}
.bx-soa-pp-price {
    text-align: right;
    padding: 4px 0;
}
.bx-authform {
    margin: 0 0 25px;
}
.bx-authform-formgroup-container {
    margin-bottom: 25px;
}
.bx-authform-content-container {
    font-size: 13px;
    color: #5a6c77;
    padding-bottom: 2px;
}
.bx-authform-input-container {
    position: relative;
}
.bx-authform-input-container input[type="text"], .bx-authform-input-container input[type="password"] {
    display: block;
    width: 100%;
    font-size: 18px;
    height: 38px;
    margin: 0;
    padding: 0 4px;
    border: 1px solid #ccd5db;
    border-radius: 2px;
    background: #f8fafc;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bx-soa-customer-field span.bx-authform-starrequired {
    color: #c1221e;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -9px;
    font-size: 15px;
}
.alert {
    border: 0;
    border-radius: 1px;
    font-size: 14px;
    padding: 15px 19px 25px;
    margin: 14px 0 13px;
    & strong {
        margin-bottom: 12px;
    }
    & div {
        line-height: 1.42;
    }
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.bx-soa-item-content {
    padding-top: 25px;
}
.bx-soa-summary {
    @include clearfix();
}
table.bx-soa-summary-table {
    font-size: 15px;
    text-align: right;
    width: auto;
    float: right;
    vertical-align: bottom;
    margin: 2px 27px 25px 0;
    border-spacing: 0px 9px;
    & tr:nth-child(1) {
        background: none;
    }
    & tr td {
        padding:0;
        border-bottom: none;
        &:nth-child(1) {
            font-weight: normal;
            padding-top: 5px;
            padding-right: 5px;
        }
        &:nth-child(2) {
            font-weight: bold;
            font-size: 24px;
        }
    }
}
.bx_ordercart_order_pay_center .checkout {
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #c1221e;
    border-radius: 19px;
    padding: 8px 19px 12px;
    margin-left: 26px;
    cursor: pointer;
    text-transform: uppercase;
    background-repeat: no-repeat;
    &:hover {
        border: none;
    }
}
.bx_ordercart_order_pay_center {
    margin-top: 0;
    padding-top: 12px;
    text-align: right;
}
/* End */