/* Sections
-----------------------------------------------------------------------------*/
.bx_catalog_tile_ul {
	padding:20px 0 0 0;
	display: inline-block;
}
.bx_catalog_tile_ul li:nth-child(6n+6) {
    margin-right: 0;
}
.bx_catalog_tile_img {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 170px;
    height: 177px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-position: 50% 25%;
    background-repeat: no-repeat;
}
a.bx_catalog_tile_img:hover {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	background-color:#d8baaa;
    border: none;
}

.bx_catalog_tile_title {
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
h3.bx_catalog_tile_title {
    padding: 0;
    vertical-align: top;
    line-height: 1.3;
    position: absolute;
    top: 108px;
    left: 0;
    right: 0;
    width: 168px;
    color: #000;
    margin: 0px auto 10px auto;
    font-size: 15px;
}
ul.bx_catalog_tile_ul li:before {content: '' !important}
ul.bx_catalog_tile_ul li {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    width: 170px;
    list-style: none;
    text-align: center;
    position: relative;
    margin-right: 30px;
    list-style: none;
}
.bx_catalog_tile_title a {
    font-size: 15px;
}