.brands {
	margin: 92px 0;
}
.brands .owl-nav.owl-nav.owl-nav {
	margin-top: 36px;
	display: block;
	div {
		font-size: 0;
		border-radius: 0;
		background-repeat: no-repeat;
		background-color: $primary-color;
		position: relative;
		border: 9px solid $primary-color;
		margin: 5px 15px;
		padding: 8px;
	}
	.owl-next {
		@extend .icon-angle-arrow;
		&:after {
			content:"";
			display: block;
			position: absolute;
			border-bottom: 1px solid $new_line;
			width: 265px;
			left: 25px;
			top: 8px;
		}
	}
	.owl-prev {
		@extend .icon-angle-arrow;
		transform: rotate(180deg);
		&:before {
			content:"";
			display: block;
			position: absolute;
			border-bottom: 1px solid $new_line;
			width: 265px;
			left: 25px;
			top: 8px;
		}
	}
}
.brands .owl-stage {
	display: flex;
	align-items: center;
	justify-content: center;
}
.brands .owl-item img {
	width: auto!important;
	margin: 0 auto;
}
