/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-accordeon_down {
  background-image: url(/assets/img/sprite.png);
  background-position: -301px -117px;
  width: 11px;
  height: 7px;
}
.icon-accordeon_up {
  background-image: url(/assets/img/sprite.png);
  background-position: -301px -60px;
  width: 11px;
  height: 7px;
}
.icon-angle-arrow {
  background-image: url(/assets/img/sprite.png);
  background-position: -63px -196px;
  width: 16px;
  height: 16px;
}
.icon-clock {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -110px;
  width: 36px;
  height: 36px;
}
.icon-down {
  background-image: url(/assets/img/sprite.png);
  background-position: -129px -196px;
  width: 16px;
  height: 9px;
}
.icon-handle {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -196px;
  width: 13px;
  height: 23px;
}
.icon-hanger {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px 0px;
  width: 60px;
  height: 60px;
}
.icon-left {
  background-image: url(/assets/img/sprite.png);
  background-position: -301px -174px;
  width: 7px;
  height: 11px;
}
.icon-left_c {
  background-image: url(/assets/img/sprite.png);
  background-position: -114px -269px;
  width: 7px;
  height: 11px;
}
.icon-loop {
  background-image: url(/assets/img/sprite.png);
  background-position: -220px -81px;
  width: 18px;
  height: 18px;
}
.icon-map-marker {
  background-image: url(/assets/img/sprite.png);
  background-position: -86px -110px;
  width: 28px;
  height: 36px;
}
.icon-ok {
  background-image: url(/assets/img/sprite.png);
  background-position: -301px 0px;
  width: 14px;
  height: 10px;
}
.icon-percent {
  background-image: url(/assets/img/sprite.png);
  background-position: -110px 0px;
  width: 60px;
  height: 60px;
}
.icon-phone {
  background-image: url(/assets/img/sprite.png);
  background-position: -220px 0px;
  width: 31px;
  height: 31px;
}
.icon-right {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -269px;
  width: 7px;
  height: 11px;
}
.icon-right_c {
  background-image: url(/assets/img/sprite.png);
  background-position: -57px -269px;
  width: 7px;
  height: 11px;
}
.icon-up {
  background-image: url(/assets/img/sprite.png);
  background-position: -195px -196px;
  width: 16px;
  height: 9px;
}
