/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-about_1200 {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -675px;
  width: 357px;
  height: 125px;
}
.icon-about_ipad {
  background-image: url(/assets/img/sprite.png);
  background-position: -910px -510px;
  width: 249px;
  height: 88px;
}
.icon-about_iphone {
  background-image: url(/assets/img/sprite.png);
  background-position: -610px -675px;
  width: 199px;
  height: 70px;
}
.icon-arrow_down {
  background-image: url(/assets/img/sprite.png);
  background-position: -1041px -427px;
  width: 26px;
  height: 16px;
}
.icon-arrow_up {
  background-image: url(/assets/img/sprite.png);
  background-position: -1134px -410px;
  width: 26px;
  height: 16px;
}
.icon-blog_1200 {
  background-image: url(/assets/img/sprite.png);
  background-position: -738px -313px;
  width: 303px;
  height: 182px;
}
.icon-blog_ipad {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -800px;
  width: 242px;
  height: 166px;
}
.icon-git {
  background-image: url(/assets/img/sprite.png);
  background-position: -1116px -348px;
  width: 26px;
  height: 22px;
}
.icon-git_c {
  background-image: url(/assets/img/sprite.png);
  background-position: -1077px -374px;
  width: 26px;
  height: 22px;
}
.icon-git_f {
  background-image: url(/assets/img/sprite.png);
  background-position: -1142px -348px;
  width: 26px;
  height: 22px;
}
.icon-hamburger {
  background-image: url(/assets/img/sprite.png);
  background-position: -1116px -313px;
  width: 40px;
  height: 35px;
}
.icon-hamburger_close {
  background-image: url(/assets/img/sprite.png);
  background-position: -1041px -374px;
  width: 36px;
  height: 36px;
}
.icon-in {
  background-image: url(/assets/img/sprite.png);
  background-position: -1127px -374px;
  width: 24px;
  height: 22px;
}
.icon-in_c {
  background-image: url(/assets/img/sprite.png);
  background-position: -1103px -374px;
  width: 24px;
  height: 22px;
}
.icon-in_f {
  background-image: url(/assets/img/sprite.png);
  background-position: -1151px -374px;
  width: 24px;
  height: 22px;
}
.icon-link {
  background-image: url(/assets/img/sprite.png);
  background-position: -1041px -443px;
  width: 20px;
  height: 19px;
}
.icon-login {
  background-image: url(/assets/img/sprite.png);
  background-position: -1156px -330px;
  width: 15px;
  height: 17px;
}
.icon-password {
  background-image: url(/assets/img/sprite.png);
  background-position: -1156px -313px;
  width: 18px;
  height: 17px;
}
.icon-portfolio_1200 {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px 0px;
  width: 1175px;
  height: 313px;
}
.icon-portfolio_ipad {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -313px;
  width: 738px;
  height: 197px;
}
.icon-quot_ipad {
  background-image: url(/assets/img/sprite.png);
  background-position: -1041px -313px;
  width: 75px;
  height: 61px;
}
.icon-vk {
  background-image: url(/assets/img/sprite.png);
  background-position: -1072px -410px;
  width: 31px;
  height: 17px;
}
.icon-vk_c {
  background-image: url(/assets/img/sprite.png);
  background-position: -1103px -410px;
  width: 31px;
  height: 17px;
}
.icon-vk_f {
  background-image: url(/assets/img/sprite.png);
  background-position: -1041px -410px;
  width: 31px;
  height: 17px;
}
.icon-works_1200 {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -510px;
  width: 506px;
  height: 165px;
}
.icon-works_ipad {
  background-image: url(/assets/img/sprite.png);
  background-position: -506px -510px;
  width: 404px;
  height: 133px;
}
.icon-works_iphone {
  background-image: url(/assets/img/sprite.png);
  background-position: -357px -675px;
  width: 253px;
  height: 83px;
}
