/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-accordeon_down {
  background-image: url(/assets/img/sprite.png);
  background-position: -259px -281px;
  width: 11px;
  height: 7px;
}
.icon-accordeon_up {
  background-image: url(/assets/img/sprite.png);
  background-position: -198px -281px;
  width: 11px;
  height: 7px;
}
.icon-angle-arrow {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -281px;
  width: 16px;
  height: 16px;
}
.icon-clock {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -110px;
  width: 36px;
  height: 36px;
}
.icon-down {
  background-image: url(/assets/img/sprite.png);
  background-position: -66px -281px;
  width: 16px;
  height: 9px;
}
.icon-fb {
  background-image: url(/assets/img/sprite.png);
  background-position: -220px -85px;
  width: 35px;
  height: 35px;
}
.icon-g {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -196px;
  width: 35px;
  height: 35px;
}
.icon-handle {
  background-image: url(/assets/img/sprite.png);
  background-position: -305px -154px;
  width: 13px;
  height: 23px;
}
.icon-hanger {
  background-image: url(/assets/img/sprite.png);
  background-position: -110px 0px;
  width: 60px;
  height: 60px;
}
.icon-left {
  background-image: url(/assets/img/sprite.png);
  background-position: -383px -243px;
  width: 7px;
  height: 11px;
}
.icon-left_c {
  background-image: url(/assets/img/sprite.png);
  background-position: -383px -60px;
  width: 7px;
  height: 11px;
}
.icon-loop {
  background-image: url(/assets/img/sprite.png);
  background-position: -305px -86px;
  width: 18px;
  height: 18px;
}
.icon-map-marker {
  background-image: url(/assets/img/sprite.png);
  background-position: -305px 0px;
  width: 28px;
  height: 36px;
}
.icon-ok {
  background-image: url(/assets/img/sprite.png);
  background-position: -383px 0px;
  width: 14px;
  height: 10px;
}
.icon-okl {
  background-image: url(/assets/img/sprite.png);
  background-position: -85px -196px;
  width: 35px;
  height: 35px;
}
.icon-percent {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px 0px;
  width: 60px;
  height: 60px;
}
.icon-phone {
  background-image: url(/assets/img/sprite.png);
  background-position: -170px -196px;
  width: 31px;
  height: 31px;
}
.icon-right {
  background-image: url(/assets/img/sprite.png);
  background-position: -383px -121px;
  width: 7px;
  height: 11px;
}
.icon-right_c {
  background-image: url(/assets/img/sprite.png);
  background-position: -383px -182px;
  width: 7px;
  height: 11px;
}
.icon-tw {
  background-image: url(/assets/img/sprite.png);
  background-position: -220px 0px;
  width: 35px;
  height: 35px;
}
.icon-up {
  background-image: url(/assets/img/sprite.png);
  background-position: -132px -281px;
  width: 16px;
  height: 9px;
}
.icon-vk {
  background-image: url(/assets/img/sprite.png);
  background-position: -86px -110px;
  width: 35px;
  height: 35px;
}
