/* Stock
-----------------------------------------------------------------------------*/
.stock {
    @include clearfix();
}

.stock__element:nth-child(2) {
    float: right;
}
.stock__element {
    float:left;
    position: relative;
    width: 570px;
    height: 230px;
    background: #f2f2f2;
    padding: 30px 0 0 30px;
    margin-bottom: 45px;
}
h2.stock__element-title {
    color: #231f20;
    padding: 0;
}
.stock__element-line {
    background: #c1221e;
    width: 80px;
    height: 3px;
    display: block;
    margin-bottom: 25px;
}
.discover-more {
    color: #c1221e;
    font-size: 15px;
}
.discover-more:after {
    content: "";
    @extend .icon-right_arrow;
/*     background: url(../img/icons/right_arrow.png) 0 0 no-repeat;
width: 6px;
height: 10px; */
    display: inline-block;
    margin-left: 6px;
}
p.stock__element-article {
    font-size: 15px;
    color: #000;
    padding-right: 200px;
    padding-bottom: 9px;
    line-height: 1.6;
}
.stock__element-first:after,
.stock__element-second:after {
    content: "";
    display: block;
    /* width: 242px;
    height: 155px; */
    position: absolute;
    right: 0;
    bottom: 0;
}
.stock__element-first:after {
    @extend .icon-article;
    /* background: url(../img/article.png) 0 0 no-repeat; */
}
.stock__element-second:after {
    @extend .icon-article1;
    /* background: url(../img/article1.png) 0 0 no-repeat; */
}