extends ../_template
block variables
	- var title = 'Cart'
block content
	main.content
		.container
			.bx-breadcrumb
				#bx_breadcrumb_0.bx-breadcrumb-item(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
					a(href='/', title='Главная страница', itemprop='url')
						span(itemprop='title') Главная страница
				.bx-breadcrumb-item
					i.fa.fa-angle-right
					span Страница не найдена
				div(style='clear:both')
			h1#pagetitle.bx-title
				| Страница не найдена
			.bx-content.not_found
				.not_found-block
					p
						span
							|К сожалению, запрашиваемая Вами страница не найдена.
							br
							|Но мы обязательно поможем найти то, что Вам нужно!
					ul
						li проверьте правильность написания адреса страницы
						li если Вы ищите товар, то воспользуйтесь функцией поиска на сайте
						li позвоните нашим менеджерам по телефону  +7(4822) 56-41-22
				.not_found-block
					.not_found-block_404
						p 404
						p.small page not found

		include ../common/_slider