extends ../_template
block variables
	- var title = 'Catalog'
block content
	main.content
		.container
			.bx-breadcrumb
				#bx_breadcrumb_0.bx-breadcrumb-item(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
					a(href='/', title='Главная страница', itemprop='url')
						span(itemprop='title') Главная страница
				.bx-breadcrumb-item
					i.fa.fa-angle-right
					span Автомасла
				div(style='clear:both')
			h1#pagetitle.bx-title
				| Автомасла
				sup.bx-title-sup 1240 товаров
				
		.container

			//include ../common/_filter

		.container

			.bx-filter.bx-black.bx-filter-horizontal
				.bx-filter-section.container-fluid
					.row
						.bx-filter-title.hide
							| Подбор по параметрам
							i.fa.fa-sort-desc(data-role='prop_angle')
			include ../common/_main-header-line

			


			.catalog_tale

				include ../common/_catalog-main-list

			include ../common/_pagination

		include ../common/_slider

	// .content
