extends ../_template
block variables
	- var title = 'Catalog page'
block content
	main.content
		.container
			.bx-breadcrumb
				#bx_breadcrumb_0.bx-breadcrumb-item(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
					a(href='/', title='Главная страница', itemprop='url')
						span(itemprop='title') Главная страница
				.bx-breadcrumb-item
					i.fa.fa-angle-right
					span Каталог
				div(style='clear:both')
			h1#pagetitle.bx-title Каталог
		.container
			.stock
				.stock__element.stock__element-first
					h2.stock__element-title Успей купить
					p.stock__element-article
						| Покупаете две вещи и мы Вам делаем скидку!
						| В категории для Вас представлены
						| выгодные предложения
					a.discover-more(href='') Узнать больше
				.stock__element.stock__element-second
					h2.stock__element-title Лидеры продаж
					p.stock__element-article
						| Самые популярные товары доступны
						| в одном разделе! Не ищи,
						| а покупай!
					a.discover-more(href='') Узнать больше
				.bx_catalog_tile
					ul.bx_catalog_tile_ul
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-1.png');")
								h3.bx_catalog_tile_title Автомасла
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-2.png');")
								h3.bx_catalog_tile_title Автоаксессуары
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-3.png');")
								h3.bx_catalog_tile_title Автозапчасти
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-4.png');")
								h3.bx_catalog_tile_title Автохимия, автокосметика
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-5.png');")
								h3.bx_catalog_tile_title Аккумуляторы
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-6.png');")
								h3.bx_catalog_tile_title Антикоры, шпатлевки
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-7.png');")
								h3.bx_catalog_tile_title Краски, грунты аэрозольные
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-8.png');")
								h3.bx_catalog_tile_title Охлаждающие жидкости
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-9.png');")
								h3.bx_catalog_tile_title Растворители
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-10.png');")
								h3.bx_catalog_tile_title Смазки
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-11.png');")
								h3.bx_catalog_tile_title Спецжидкости
						li
							a.bx_catalog_tile_img(href='', style="background-image:url('assets/img/sections/section-12.png');")
								h3.bx_catalog_tile_title Фильтры
			include ../common/_slider
	// .content
