extends ../_template
block variables
	- var title = 'Detail page'
block content
	main.content
		.container
			.bx-breadcrumb
				#bx_breadcrumb_0.bx-breadcrumb-item(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
					a(href='/', title='Главная страница', itemprop='url')
						span(itemprop='title') Главная страница
				.bx-breadcrumb-item
					i.fa.fa-angle-right
					span Масло моторное castrol gtx magnatec sae 5w40
				div(style='clear:both')
			h1#pagetitle.bx-title
				| масло моторное castrol gtx magnatec sae 5w40
			include ../common/_detail_page

		include ../common/_slider