extends ../_template

block variables
	- var title = 'Home page'

block content
	main.content
		include ../common/_breadcrumbs
		.container
			h1.bx-title Каталог
			include ../catalog/_fast_detail

			h2.main_cat Вы недавно смотрели
			include ../catalog/_slider

		include ../main/_main_middle_block
		include ../main/_main_news
		include ../common/_slider