link(href='assets/css/app.css', rel='stylesheet', media='all')
.table_size
	h3.faq ТОвар добавлен в избранное
	table.add_to_basket
		tbody
			tr
				td
					.bx_ordercart_photo_container
						span.stickers
							span.sticker.sticker_sale sale
						a(href='#')
							.bx_ordercart_photo(style="background-image:url('/assets/img/items/item_1.jpg')")
				td
					h3.bx_ordercart_itemtitle
						a(href='#') Valentino
					.bx_ordercart_iteminfo
						p.bx_ordercart_item__description Мини-платье с кружевным лифом и коротким рукавом
						p.bx_ordercart_item__props Цвет: розовый   |   Размер: 42
		tfoot
			tr
				td(colspan="2")
					a(href="javascript:parent.$.fancybox.close();",title="Close").primary__button.primary__button_close перейти в избранное