extends ../_template

block variables
	- var title = 'Home page'

block content
	main.content
		include ../common/_breadcrumbs
		.container
			h1.bx-title Восстановление пароля
			//include ../other/_404			

		include ../main/_main_middle_block
		include ../main/_main_news
		include ../common/_slider