extends ../_template
block variables
	- var title = 'Catalog'
block content
	main.content
		.container
			.bx-breadcrumb
				#bx_breadcrumb_0.bx-breadcrumb-item(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
					a(href='/', title='Главная страница', itemprop='url')
						span(itemprop='title') Главная страница
				.bx-breadcrumb-item
					i.fa.fa-angle-right
					span Забыли пароль
				div(style='clear:both')
			h1#pagetitle.bx-title
				| забыли пароль
				
		.container
			p.bx-authform-content-container
				| Если вы забыли пароль, введите свой E-Mail.
				br
				| Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-Mail.
			form(name='bform', method='post', target='_top', action='').forgot
				input(type='hidden', name='backurl', value='#')
				input(type='hidden', name='AUTH_FORM', value='Y')
				input(type='hidden', name='TYPE', value='SEND_PWD')
				.bx-authform-formgroup-container
					.bx-authform-input-container
						input(type='text', name='USER_LOGIN', maxlength='255', value='', placeholder='Ваш e-mail').check_email
						input(type='hidden', name='USER_EMAIL')
						span.starrequired.starrequired-reg *
				.bx-authform-formgroup-container
					input.btn.btn-primary(type='submit', name='send_account_info', value='Восстановить')
				

		include ../common/_slider

	// .content
