extends ../_template

block variables
	- var title = 'Home page'

block content
	#owl-slider-main.owl-carousel.owl-theme
		a.item__link(href='')
			.item(style="background-image: url('assets/img/slider.jpg');")
				.item__description
					.container
						span.item__description-name
							| Автозапчасти
						span.item__description-text
							| более 2000 наименований!
		a.item__link(href='')
			.item(style="background-image: url('assets/img/slider.jpg');")
				.item__description
					.container
						span.item__description-name
							| Автозапчасти
						span.item__description-text
							| более 2000 наименований!
		a.item__link(href='')
			.item(style="background-image: url('assets/img/slider.jpg');")
				.item__description
					.container
						span.item__description-name
							| Автозапчасти
						span.item__description-text
							| более 2000 наименований!
	main.content
		.container
			.things_to_buy
				h2.title__h Успей купить
				ul#owl-slider-catalog.main__catalog.owl-carousel.owl-theme
					li.main__catalog-item
						span.stickers
							span.sticker.sticker_sale Акция
						.main__catalog-item-pic
							img(src='assets/img/items/item.jpg', alt='')
						span.main__catalog-item-name
							a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
						span.main__catalog-item-available В наличие
						.main__catalog-item-buy
							span.price 1 560 р.
							span.button_big
								span.item_buttons_counter_block
									a.button_small.button_down(href='') -
									input.transparent_input(type='text', name='', id='', value='1')
									a.button_small.button_up(href='') +
								a.buy_link(href='')
									i
					li.main__catalog-item
						span.stickers
							span.sticker.sticker_sale Акция
						.main__catalog-item-pic
							img(src='assets/img/items/item2.jpg', alt='')
						span.main__catalog-item-name
							a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
						span.main__catalog-item-notavailable Нет в наличии
						.main__catalog-item-buy
							span.price 1 560 р.
							span.button_big
								a.preorder_link(href='') Заказать
					li.main__catalog-item
						span.stickers
							span.sticker.sticker_sale Акция
						.main__catalog-item-pic
							img(src='assets/img/items/item3.jpg', alt='')
						span.main__catalog-item-name
							a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
						span.main__catalog-item-available В наличие
						.main__catalog-item-buy
							span.price 12 490 р.
							span.button_big
								span.item_buttons_counter_block
									a.button_small.button_down(href='') -
									input.transparent_input(type='text', name='', id='', value='1')
									a.button_small.button_up(href='') +
								a.buy_link(href='')
									i
					li.main__catalog-item
						span.stickers
							span.sticker.sticker_sale Акция
						.main__catalog-item-pic
							img(src='assets/img/items/item4.jpg', alt='')
						span.main__catalog-item-name
							a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
						span.main__catalog-item-available В наличие
						.main__catalog-item-buy
							span.price 12 490 р.
							span.button_big
								a.buy_link.in_basket(href='')
									i
									| Добавлено
					li.main__catalog-item
						span.stickers
							span.sticker.sticker_sale Акция
						.main__catalog-item-pic
							img(src='assets/img/items/item.jpg', alt='')
						span.main__catalog-item-name
							a(href='') Очиститель Октан плюс Hi-Gear + масло Роснефть
						span.main__catalog-item-available В наличие
						.main__catalog-item-buy
							span.price 12 490 р.
							span.button_big
								a.buy_link.in_basket(href='')
									i
									| Добавлено
				.show
					a.show__more(href='') показать все товары
			.main__section-grey
				.container
					.things_to_buy_leader
						h2.title__h Лидеры продаж
						include ../common/_catalog
						.show
							a.show__more(href='') показать все товары
			//.container
			.about__us
				h2.title__h О компании
				.about__us-block-text
					p.abouut__us-short-text
						| Приветствуем вас в 
						span интернет-магазине автозапчастей "Automag №1"!
						|  Каждый владелец автосалона, сервисного центра или личного автомобиля понимает, насколько важны качественные автозапчасти по хорошим ценам и в нужный момент. У нас вы можете приобрести оригинальные и неоригинальные запчасти для своего автомобиля по лучшим ценам - как оптом, так и в розницу в оптимальный срок и с доставкой до нужного Вам города.
						| 						Благодаря высокому профессионализму сотрудников и ответственному подходу к работе, мы поставляем нашим клиентам только качественные детали и строго соблюдаем обязательства
						| 						по логистике.
					a.discover-more(href='') Узнать больше
				.about__us-block-tabs
					.about__us-tab
						input.artile#vkl1(type='radio', name='odin', checked='checked')
						label.artile(for='vkl1') Все новости
						input#vkl2(type='radio', name='odin')
						label.artile(for='vkl2') Новые поступления
						input#vkl3(type='radio', name='odin')
						label.artile(for='vkl3') Статьи
						div
							ul.main__news
								li.main__news-item
									.main__news-container
										.main__news-item-pic
											img(src='assets/img/items/news.jpg', alt='')
										span.main__news-item-name
											a(href='') Автохимия Liqui Moly
										span.main__news-item-date 10.09.2016
										p.main__news-item-prev-text
											| Рады представить Вам две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.
										a.discover-more(href='') Узнать больше
								li.main__news-item
									.main__news-container
										.main__news-item-pic
											img(src='assets/img/items/news_s.jpg', alt='')
										span.main__news-item-name
											a(href='') Автохимия Liqui Moly
										span.main__news-item-date 10.09.2016
										p.main__news-item-prev-text
											| Рады представить Вам две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.
										a.discover-more(href='') Узнать больше
						div
							ul.main__news
								li.main__news-item
									.main__news-container
										.main__news-item-pic
											img(src='assets/img/items/news_s.jpg', alt='')
										span.main__news-item-name
											a(href='') Автохимия Liqui Moly
										span.main__news-item-date 10.09.2016
										p.main__news-item-prev-text
											| Рады представить Вам две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv
											| Рады представить Вам две новинки: Liqui Moly LS 75-140 (GL-5) 1л. синтетическое масло и присадка в масло для устранения шума Liqui Moly Hydro-stossel Additiv.
										a.discover-more(href='') Узнать больше
		include ../common/_slider