//extends ../_template

block variables
	- var title = 'Home page'

block content
	main.content
		.container
			ul
				li
					a(href="main.html", target="_blank") Главная
				li
					a(href="catalog.html", target="_blank") Каталог
				li
					a(href="detail.html", target="_blank") Детальная карточка товара
				li
					a(href="search.html", target="_blank") Результат поиска
				li
					a(href="search_empty.html", target="_blank") Результат поиска - ничего не найдено
				li
					a(href="faq.html", target="_blank") FAQ
				li
					a(href="contacts.html", target="_blank") Контакты
				li
					a(href="404.html", target="_blank") 404
				li
					a(href="auth.html", target="_blank") Авторизация
				li
					a(href="forget_password.html", target="_blank") Восстановление пароля
				li
					a(href="basket.html", target="_blank") Корзина
				li
					a(href="basket_empty.html", target="_blank") Корзина пустая
				li
					a(href="favorite.html", target="_blank") Избранное
				li
					a(href="favorite_empty.html", target="_blank") Избранное пусто
				li
					a(href="brands.html", target="_blank") Бренды
				li
					a(href="brands_detail.html", target="_blank") Бренд детально
				li
					a(href="news.html", target="_blank") Новости
				li
					a(href="personal_page.html", target="_blank") Личный кабинет
				li
					a(href="loyalty_card.html", target="_blank") Карта лояльности
				li
					a(href="about.html", target="_blank") О компании
				li
					a(href="payment.html", target="_blank") Оплата
				li
					a(href="delivery.html", target="_blank") Доставка