doctype html
html
  head(lang='ru')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Титуальная
    link(rel='stylesheet' href='assets/css/normalize.css')
    link(href='assets/css/app.css', rel='stylesheet', media='all')
    //if IE
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    .wrapper
      br
      br
      main.content
        .container
          p
            a(href='home.html', target='_blank') Главная
          p
            a(href='catalog_page.html', target='_blank') Каталог, главная
          p
            a(href='catalog.html', target='_blank') Каталог
          p
            a(href='catalog_list.html', target='_blank') Каталог 2
          p
            a(href='search.html', target='_blank') Страница поиска
          p
            a(href='detail_page.html', target='_blank') Детальная страница каталога
          p
            a(href='cart.html', target='_blank') Корзина
          p
            a(href='cart_empty.html', target='_blank') Пустая корзина
          p
            a(href='order_cart.html', target='_blank') Оформление заказа
          p
            a(href='order_cart2.html', target='_blank') Оформление заказа 2
          p
            a(href='order_success.html', target='_blank') Заказ оформлен
          p
            a(href='registration.html', target='_blank') Регистрация
          p
            a(href='forgot_password.html', target='_blank') Напоминание пароля
          p
            a(href='personal_page.html', target='_blank') Личный кабинет
          p
            a(href='news.html', target='_blank') Новости
          p
            a(href='contacts.html', target='_blank') Контакты
          p
            a(href='text_page.html', target='_blank') Текстовая страница
          p
            a(href='404.html', target='_blank') Ошибка 404
