//extends ../_template

block variables
	- var title = 'Home page'

block content
	main.content
		.container
			ul
				li
					a(href="home.html", target="_blank") Главная
				li
					a(href="catalog.html", target="_blank") Каталог

