//extends ../_template

block variables
	- var title = 'Home page'

block content
	main.content
		.container
			ul
				li
					a(href="main.html", target="_blank") Главная
				li
					a(href="catalog.html", target="_blank") Каталог
				li
					a(href="detail.html", target="_blank") Детальная карточка товара

