extends ../_template

block variables
	- var title = 'Home page'

block content
	main.content
		include ../common/_breadcrumbs
		.container
			h1.bx-title Карта лояльности
			include ../other/_loyalty_card

		include ../main/_main_middle_block
		include ../common/_slider