doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='ru', lang='ru')
	head
		meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
		style.
			body
			{
			font-family: 'Proxima Nova Regular', Arial, sans-serif;
			font-size: 16px;
			color: #231f20;
			}
	body
		table(cellpadding='0', cellspacing='0', width='680', style='', border='1', bordercolor='#e7e7e7')
			tr
				td(height='90', width='680', style='border: none; padding-top: 30px; padding-right: 30px; padding-bottom: 30px; padding-left: 30px;')
					table(cellpadding='0', cellspacing='0', border='0', width='100%')
						tr
							td(bgcolor='#ffffff', height='90', style='')
								a(href='/')
									img(src='/assets/img/logo.png', width='176', height='90')
							td(bgcolor='#ffffff', height='90', style='')
								table(cellpadding='0', cellspacing='0', border='0', width='100%', height='100%')
									tr
										td
											h2(style="font-size: 16px; font-family:Proxima Nova Semibold;margin: 0;font-weight: bold;") +7 (4822) 35-98-17 
											p(style="color: #999999; font-size: 14px; margin: 0;") Центральный офис в Твери
										td
											h2(style="font-size: 16px; font-family:Proxima Nova Semibold;margin: 0;font-weight: bold;") +7 (4822) 58-52-92 
											p(style="color: #999999; font-size: 14px; margin: 0;") ТД «Важная персона»
									tr
										td(colspan="2", style="vertical-align: bottom;")
											table(cellpadding='0', cellspacing='0', border='0', width='100%')
												tr
													td(style="vertical-align: bottom;")
														p(style="font-size: 15px; margin: 0;") Служба поддержки
															a(href="", style="text-decoration: underline; color: #231f20; margin: 0;")  tvervip@yandex.ru
													td
														ul(style="list-style: none; margin: 0; float: right;")
															li(style="display: table-cell; vertical-align: middle;")
																a(href="",target="_blank")
																	img(src="/assets/img/mail/fb.png")
															li(style="display: table-cell; vertical-align: middle; padding-left:11px;")
																a(href="",target="_blank")
																	img(src="/assets/img/mail/vk.png")
															li(style="display: table-cell; vertical-align: middle; padding-left:13px;")
																a(href="",target="_blank")
																	img(src="/assets/img/mail/inst.png")
			tr
				td(width='680', height='48' valign='middle', style='border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; border-right: none; border-left: none;')
					ul(style="list-style: none; margin: 0; text-align: center; padding: 0;")
						li(style="display: inline-block;margin: 0 12.5px;")
							a(href="", style="text-transform: uppercase;text-decoration: none; color: #231f20; font-size: 14px; font-family:Proxima Nova Semibold;font-weight: bold;") бренды
						li(style="display: inline-block;margin: 0 12.5px;")
							a(href="", style="text-transform: uppercase;text-decoration: none; color: #231f20; font-size: 14px; font-family:Proxima Nova Semibold;font-weight: bold;") женское
						li(style="display: inline-block;margin: 0 12.5px;")
							a(href="", style="text-transform: uppercase;text-decoration: none; color: #231f20; font-size: 14px; font-family:Proxima Nova Semibold;font-weight: bold;") мужское
						li(style="display: inline-block;margin: 0 12.5px;")
							a(href="", style="text-transform: uppercase;text-decoration: none; color: #231f20; font-size: 14px; font-family:Proxima Nova Semibold;font-weight: bold;") детское
						li(style="display: inline-block;margin: 0 12.5px;")
							a(href="", style="text-transform: uppercase;text-decoration: none; color: #231f20; font-size: 14px; font-family:Proxima Nova Semibold;font-weight: bold;") обувь
						li(style="display: inline-block;margin: 0 12.5px;")
							a(href="", style="text-transform: uppercase;text-decoration: none; color: #231f20; font-size: 14px; font-family:Proxima Nova Semibold;font-weight: bold;") сумки
						li(style="display: inline-block;margin: 0 12.5px;")
							a(href="", style="text-transform: uppercase;text-decoration: none; color: #231f20; font-size: 14px; font-family:Proxima Nova Semibold;font-weight: bold;") Распродажа
			// HEADER
			tr
				td(width='680', height='125', valign='middle', style='border: none;')
					h1(style="text-align: center;font-size: 24px; font-family:Proxima Nova Semibold; text-transform: uppercase;font-weight: bold;") Февральские акции!
			tr
				td(width='680', valign='middle', style='border: none; text-align: center;')
					div(style="position:relative; width: 680px; height: 320px;")
						img(src='/assets/img/akcii.jpg', style="position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; max-height: 320px; max-width: 680px;")
					p(style="font-size: 14px; color: #999999; margin: 25px 0 14px 0;")
						| 10.01.2016 - 15.02.2016
					p(style="font-size: 16px; color: #231f20; font-family: Proxima Nova Semibold; font-weight: bold; margin: 0 0 15px 0;")
						| Скидка на детскую одежду
					p(style="font-size: 15px; color: #231f20; padding: 0 30px; margin: 0;")
						| Скидка 40% на детскую одежду от мировых брендов: Diesel, Kenzo, Fendi Roma, Blumarine, Dolce & Gabbana, Chloé и др.
					a(href="", target="_blank", style="font-size: 14px; text-transform: uppercase; font-family: Proxima Nova Semibold;color: #ffffff; background: #ab885e; text-decoration: none;display: block; margin: 0 auto;width: 150px;text-align: center; padding: 8px 0; margin-bottom: 65px;margin-top: 55px;font-weight: bold;") смотреть все
			// MAIN
			tr
				td(width='680', height="215", valign='middle', bgcolor='#332f30', style='border: none;text-align: center;color: #ffffff;font-size: 15px;')
					p(style="padding: 0 95px;margin: 0 0 30px 0;")
						|Вы получили это письмо, потому что подписаны на рассылку интернет-магазина 
						a(href="www.tvervip.ru", target="_blank", style="text-decoration: none; color: #ffffff;") www.tvervip.ru
						| . Данное письмо не требует ответа.
					p(style="padding: 0 60px;margin: 0 0 30px 0;")
						| Благодаря подписке Вы получаете информацию об актуальных акциях, скидках и бонусах. 
					p(style="margin: 0;")
						| Если Вы не хотите получать рассылку, перейдите по ссылке:
						a(href="", target="_blank", style="text-decoration: none; color: #ffffff;")  отписаться.
			tr
				td(width='680', height="90", valign='middle', bgcolor='#332f30', style='border-top: 1px solid #ffffff; border-left: none; border-right: none; border-bottom: none; text-align: center;color: #ffffff;')
					p(style="font-size:12px; padding: 0 26px;")
						| Цены и скидки предоставляются на товары, указанные в настоящей рассылке, и действительны на момент отправки данного письма. Настоящая рассылка не является офертой. Актуальная информация о цене и наличии товара представлена на сайте 
						a(href="www.tvervip.ru", target="_blank", style="font-size:12px; text-decoration: none; color: #ffffff;") www.tvervip.ru
			// FOOTER