extends ../_template

block variables
	- var title = 'Home page'

block content
	main.content
		include ../main/_main_slider
		.container
			h2.main_cat Популярные товары
			include ../main/_main_catalog
			h2.main_cat Новые поступления
			include ../main/_main_catalog_second
		include ../main/_main_middle_block
		include ../main/_main_news
		include ../common/_slider
