extends ../_template

block variables
	- var title = 'Home page'

block content
	main.content
		include ../common/_breadcrumbs
		.container
			h1.bx-title Новости
			include ../other/_news

		include ../main/_main_middle_block
		include ../common/_slider