extends ../_template
block variables
	- var title = 'Cart'
block content
	main.content
		.container
			.bx-breadcrumb
				#bx_breadcrumb_0.bx-breadcrumb-item(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
					a(href='/', title='Главная страница', itemprop='url')
						span(itemprop='title') Главная страница
				.bx-breadcrumb-item
					i.fa.fa-angle-right
					span Личный кабинет
				div(style='clear:both')
			h1#pagetitle.bx-title
				| Личный кабинет

			include ../common/_personal

		include ../common/_slider