extends ../_template
block variables
	- var title = 'Результаты поиска'
block content
	main.content
		.container
			.bx-breadcrumb
				#bx_breadcrumb_0.bx-breadcrumb-item(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
					a(href='/', title='Главная страница', itemprop='url')
						span(itemprop='title') Главная страница
				.bx-breadcrumb-item
					i.fa.fa-angle-right
					span Результаты поиска
				div(style='clear:both')
			h1#pagetitle.bx-title
				| Результаты поиска
				sup.bx-title-sup 7 товаров
			include ../common/_search

		include ../common/_slider