link(href='assets/css/app.css', rel='stylesheet', media='all')
.table_size
	h3.faq таблица размеров
	table
		thead
			tr
				th Российский размер
				th Международный размер
				th Обхват груди (см)
				th Обхват талии (см)
				th Обхват бедер (см)
		tbody
			tr
				td 40
				td XXS/XS
				td 78-82
				td 58-62
				td 84-88
			tr
				td 42
				td XS/S
				td 82-86
				td 62-66
				td 88-92
			tr
				td 44
				td S
				td 86-90
				td 66-70
				td 92-96
			tr
				td 46
				td M
				td 90-94
				td 70-74
				td 96-100
			tr
				td 48
				td L
				td 94-98
				td 74-78
				td 100-104
			tr
				td 50
				td L/XL
				td 98-102
				td 78-82
				td 104-108
			tr
				td 52
				td XL
				td 102-106
				td 82-86
				td 108-112
		tfoot
			tr
				td(colspan="5")
					a(href="javascript:parent.$.fancybox.close();",title="Close").primary__button.primary__button_close ок