.error__page
	.error__page_head 404
		span error
		.error__page_title Страница не найдена
	.error__page_info
		| Запрашиваемая Вами страница не найдена...
		br
		| Вы набрали неправильный адрес или перешли по ошибочной ссылке
	a(href="/").primary__button перейти на главную
//404