p Почти 20 лет назад зародилась идея о создании чего-то высокого и прекрасного для нашего города. Вдохновляясь провинциальными европейскими городками, хотелось перенести эту атмосферу и в Наш прекрасный город. Одной из идей стало открытие модного магазина в центре города, в котором покупатель смог бы почувствовать атмосферу шоппинга на европейском уровне. Тогда и появился девиз компании «Шопинг как искусство!»
p 3 ноября 2012 г. в 19.00 состоялась торжественная церемония открытия Торгового дома «Важная персона». Закрытое мероприятие было проведено в соответствии с европейскими стандартами биеннале подобного уровня. Легкий фуршет и приятная музыка продлили удовольствие от покупок. Оазис моды, роскоши и красоты - теперь в нашем городе есть и такое. То, о чем раньше можно было только мечтать, перешагнуло страницы модных журналов и обрело новый дом имя которому "Важная персона". Здесь представлены лучшие европейские коллекции, в том числе и для самых маленьких модников и модниц.

ul.block__image
	li.block__image_item
		img(src="/assets/img/about/1.jpg")
		.mask
			a(href="#").mask__loop
	li.block__image_item
		img(src="/assets/img/about/2.jpg")
		.mask
			a(href="#").mask__loop
	li.block__image_item
		img(src="/assets/img/about/3.jpg")
		.mask
			a(href="#").mask__loop
	li.block__image_item
		img(src="/assets/img/about/4.jpg")
		.mask
			a(href="#").mask__loop
	li.block__image_item
		img(src="/assets/img/about/5.jpg")
		.mask
			a(href="#").mask__loop
	li.block__image_item
		img(src="/assets/img/about/6.jpg")
		.mask
			a(href="#").mask__loop

p Открытие Торгового дома – безусловно, событие для мира моды в Твери, ведь компания «Важная персона» является эксклюзивным представителем в Тверском регионе таких брендов, как: Celine, Chloe, Dolce&Gabbana, Emporio Armani, Yves Saint Laurent, Etro, Burberry, Moncler, Bogner, Paul & Shark и многих других. Теперь все лучшие бренды мира представлены для Вас Торговом доме «Важная Персона», что делает шопинг премиум-класса еще приятнее и удобнее.
p Наличие статуса официального дистрибьютора, гарантирует клиентам, что вещи, которые они приобретают, являются подлинными и обладают высочайшим качеством.
p Для самых маленьких модников и модниц, Торговый Дом «Важная персона» представляет новые коллекции детской одежды и обуви известных мировых брендов. Armani Junior, Baby Dior, Moncler, Bogner, Monnalisa – вот только несколько имен, которые ждут своих покупателей в бутике «Бамбини» торгового дома «Важная Персона».
p 15 ноября 2016 года произошло знаковое событие как для мира моды нашего города, так и для города в целом. Торговый Дом «Важная Персона» вошел в топ-100 лучших бутиков страны по версии Союза Байеров России. В честь данного события в Москве прошла торжественная церемония награждения, где наряду с именитыми столичными ритейлерами, как-то: ЦУМ, ГУМ, Bosco и другими модными бутиками был представлен и Торговый Дом «Важная Персона». 
p 
	img(src="/assets/img/about.jpg")
	| В дополнение к премии, Союзом была выпущена книга «100 лучших бутиков России», в которой 														 Торговый Дом «Важная Персона» так же занял свое почетное место. Учредители премии обратили 													 внимание на великолепный интерьер Торгового Дома, отвечающий лучшим европейским стандартам, 												 разнообразие и богатство коллекций представленных в бутике, ведь компания «Важная Персона» 													 является эксклюзивным дистрибьютером в регионе таких культовых мировых брендов как: DOLCE & 													 GABBANA, CELINE, Chloe, Brunello Cucinelli, Burberry, Bogner, Brioni, Moncler, Emporio Armani, Escada, 													 Stuart Weitzman, Sergio Rossi и многих других. Без внимания не остался уровень обслуживания и 														 сервиса, который предлагает высококвалифицированный персонал компании. Каждый клиент здесь 													 чувствует себя уютно и комфортно, ведь мир моды – это не только прекрасные вещи, которые выгодно 												 подчеркивают индивидуальность хозяина, но так же общение и возможность обсудить последние 													 тренды и новости fashion-индустрии и околомодной тематики. А кто как ни сотрудники одного из лучших 	бутиков России могут поддержать подобные разговоры, предложив Вам чашку вкуснейшего кофе или бокал игристого вина.

blockquote 
	h3 «Важная персона» - символ успешности, респектабельности, высокого стандарта и социальной ответственности в сфере бизнеса
	p так в приветственном адресе отозвался о работе компании губернатор Тверской области Андрей Шевелев
p Разнообразие брендов, представленных в Торговом Доме «Важная Персона», качество изделий, уровень сервиса, постоянно проводимые акции для покупателей и индивидуальный подход к каждому клиенту – визитная карточка Торгового Дома «Важная Персона».