.accordeon.accordeon__exchange
	ul.accordeon__list
		li.accordeon__item
			a(href="#").accordeon__trigger Возврат товара надлежащего качества
			.accordeon__inner
				ul.exchange-list__list.exchange-list_style_decimal
					li.exchange-list__item
						| Вы можете отказаться от заказанного товара в любое время до его получения, в момент передачи товара курьером, а также после получения — в течение 14 календарных дней.
					li.exchange-list__item
						| Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид (упаковка, пломбы, ярлыки), потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара (товарный/ кассовый чек или распечатку из личного кабинета соответствующей платежной системы с детализацией платежа).
					li.exchange-list__item
						| Доставка товара оплачивается отправителем.
					li.exchange-list__item
						| Для возврата товара также необходим документ, удостоверяющий личность (паспорт гражданина РФ/загранпаспорт, временное удостоверение личности гражданина РФ, выдаваемое на период оформления паспорта, военный билет, водительские права).
					li.exchange-list__item
						| Возврату не подлежат товары надлежащего качества, согласно Постановлению Правительства РФ от 19 января 1998 г. N 55 (см. 
						a.exchange-list__link(href='/upload/documents/%D0%9F%D0%B5%D1%80%D0%B5%D1%87%D0%B5%D0%BD%D1%8C-%D1%82%D0%BE%D0%B2%D0%B0%D1%80%D0%BE%D0%B2-%D0%BD%D0%B5%D0%BD%D0%B0%D0%B4%D0%BB%D0%B5%D0%B6%D0%B0%D1%89%D0%B5%D0%B3%D0%BE-%D0%BA%D0%B0%D1%87%D0%B5%D1%81%D1%82%D0%B2%D0%B0.pdf')  перечень
						| ).
					li.exchange-list__item
						| При возврате товара надлежащего качества, ЦУМ вернет его стоимость не позднее чем через 10 дней с момента получения товара и вашего письменного заявления, однако в пределах указанного срока мы вправе провести экспертизу товара с целью определения его качества и сохранности потребительских свойств. Сроки зачисления денежных средств на расчетный счет получателя зависят от внутреннего регламента банка-получателя.
					li.exchange-list__item
						| Если возвращаемый товар был предоплачен, возврат осуществляется на ту карту, с которой была предоплата.
					li
						| При возврате или обмене мехового товара данное изделие будет приниматься только при наличии контрольного идентификационного знака (чипа).
				h3 Для того, чтобы вернуть товар необходимо выполнить три шага:
				ol(type="1.").exchange-list__list
					li.exchange-list__item
						| Заполните заявление на возврат 
						br
						| 				 Вы можете распечатать 
						a.exchange-list__link(href='/upload/return_form.pdf') форму
						|  и заполнить её вручную или воспользоваться нашим онлайн сервисом. 
						br
						| 				 Для этого вам необходимо зайти в 
						a.exchange-list__link(href='/personal/') личный кабинет
						| , выбрать заказ и товары к возврату. 
						br
						| 				 Обращаем ваше внимание, что кнопка «Вернуть» доступна только в течение 14 дней после доставки товара.
					li.exchange-list__item
						| Приложить копию паспорта, чек/распечатку из личного кабинета соответствующей платежной системы с детализацией платежа
					li.exchange-list__item
						| Отправить заказ и пакет документов (заявление, копия паспорта, чек) нам по адресу: г. Москва, ул. Петровка, д.2 , тел. +7 495 933 73 03. Получатель — Торговый Дом ЦУМ (Интернет-магазин). Вы также можете оформить возврат по адресу Москва, ул. Петровка, дом 2, 5 этаж «Пункт выдачи заказов интернет-магазина», тел. +7 (495) 933-73-00 (доб. 3752).
		li.accordeon__item
			a(href="#").accordeon__trigger Возврат товара ненадлежащего качества
			.accordeon__inner
				| Под товаром ненадлежащего качества подразумевается товар, который неисправен и не может обеспечить исполнение своих функциональных качеств. Отличие элементов дизайна или оформления от заявленных в описании на сайте не является неисправностью или нефункциональностью товара.
				h3 ДЛЯ ВОЗВРАТА ТОВАРА, А ТАКЖЕ В СЛУЧАЕ ПРЕДЪЯВЛЕНИЯ ПРЕТЕНЗИЙ К КАЧЕСТВУ ТОВАРА НЕОБХОДИМО:
				ol(type="1.").exchange-list__list
					li.exchange-list__item
						| Заполнить заявление на возврат 
						br
						| 				 Вы можете распечатать 
						a(href='/upload/return_form.pdf', target='_blanc') форму
						|  и заполнить её вручную или воспользоваться нашим онлайн сервисом. 
						br
						| 				 Для этого вам необходимо зайти в 
						a(href='/personal/') Личный кабинет
						| , выбрать заказ и товары к возврату. 
						br
						| 				 Обращаем ваше внимание, что кнопка «Вернуть» доступна только в течение 14 дней после доставки товара.
					li.exchange-list__item
						| В заявлении просим вас подробно указать, какой именно дефект содержит возвращаемый вами товар. Также при заполнении заявления просим обратить внимание на способ возврата денежных средств;
					li.exchange-list__item
						| Аккуратно упаковать товар к возврату в фирменную коробку интернет-магазина 
						a(href='http://www.tsum.ru') www.tsum.ru
						| , вложить распечатку из личного кабинета соответствующей платежной системы с детализацией платежа, заполненное заявление, копию документа удостоверяющего личность
					li.exchange-list__item
						| Товар необходимо передать в полной комплектации, со всеми комплектующими и полным комплектом принадлежностей, указанным в технической документации (технический паспорт или заменяющий его документ)
					li.exchange-list__item
						| Отправить Товар из заказа и пакет документов (заявление, копия паспорта, чек) нам по адресу: 125009, г. Москва, ул. Петровка, д. 2, тел.+7 495 933-73-03. Получатель — Торговый Дом ЦУМ (Интернет магазин). Вы также можете оформить возврат по адресу Москва, ул. Петровка, дом 2, 5 этаж «Пункт выдачи заказов интернет-магазина», тел. +7 (495) 933-73-00 (доб. 3752).
