h3.faq Вопрос-ответ
.search-page.catalog__search.catalog__search_faq
	form(action='', method='get')
		input(type='text', name='q', value='', placeholder='Поиск по вопросам', size='65')
		input(type='submit', value='Искать').fa.fa-search
.accordeon
	ol.accordeon__list
		li.accordeon__item
			a(href="#").accordeon__trigger Как мне сделать заказ?
			.accordeon__inner
				| Зайдите в карточку понравившегося товара, выберите размер и цвет вещи (если есть такой выбор, так как у некоторых товаров один цвет и один размер). Добавьте этот товар в корзину и оформите заказ, заполнив все поля.
				br
				| Если Вы не можете сделать заказ самостоятельно, Вы всегда можете позвонить по телефону +7 (4822) 35-98-17. Наш специалист поможет приобрести товар и ответит на все Ваши вопросы.
		li.accordeon__item
			a(href="#").accordeon__trigger Какое максимальное количество товаров я могу купить?
			.accordeon__inner
				| Зайдите в карточку понравившегося товара, выберите размер и цвет вещи (если есть такой выбор, так как у некоторых товаров один цвет и один размер). Добавьте этот товар в корзину и оформите заказ, заполнив все поля.
				br
				| Если Вы не можете сделать заказ самостоятельно, Вы всегда можете позвонить по телефону +7 (4822) 35-98-17. Наш специалист поможет приобрести товар и ответит на все Ваши вопросы.
		li.accordeon__item
			a(href="#").accordeon__trigger Как узнать мой размер?
			.accordeon__inner
				| Зайдите в карточку понравившегося товара, выберите размер и цвет вещи (если есть такой выбор, так как у некоторых товаров один цвет и один размер). Добавьте этот товар в корзину и оформите заказ, заполнив все поля.
				br
				| Если Вы не можете сделать заказ самостоятельно, Вы всегда можете позвонить по телефону +7 (4822) 35-98-17. Наш специалист поможет приобрести товар и ответит на все Ваши вопросы.
		li.accordeon__item
			a(href="#").accordeon__trigger Как оплатить заказанный товар?
			.accordeon__inner
				| Зайдите в карточку понравившегося товара, выберите размер и цвет вещи (если есть такой выбор, так как у некоторых товаров один цвет и один размер). Добавьте этот товар в корзину и оформите заказ, заполнив все поля.
				br
				| Если Вы не можете сделать заказ самостоятельно, Вы всегда можете позвонить по телефону +7 (4822) 35-98-17. Наш специалист поможет приобрести товар и ответит на все Ваши вопросы.
		li.accordeon__item
			a(href="#").accordeon__trigger Могу ли я примерить товар (вскрыть посылку) перед внесением оплаты и подписанием накладкой?
			.accordeon__inner
				| Зайдите в карточку понравившегося товара, выберите размер и цвет вещи (если есть такой выбор, так как у некоторых товаров один цвет и один размер). Добавьте этот товар в корзину и оформите заказ, заполнив все поля.
				br
				| Если Вы не можете сделать заказ самостоятельно, Вы всегда можете позвонить по телефону +7 (4822) 35-98-17. Наш специалист поможет приобрести товар и ответит на все Ваши вопросы.
		li.accordeon__item
			a(href="#").accordeon__trigger Как я могу вернуть неподошедший мне товар? 
			.accordeon__inner
				| Зайдите в карточку понравившегося товара, выберите размер и цвет вещи (если есть такой выбор, так как у некоторых товаров один цвет и один размер). Добавьте этот товар в корзину и оформите заказ, заполнив все поля.
				br
				| Если Вы не можете сделать заказ самостоятельно, Вы всегда можете позвонить по телефону +7 (4822) 35-98-17. Наш специалист поможет приобрести товар и ответит на все Ваши вопросы.
		li.accordeon__item
			a(href="#").accordeon__trigger Мне прислали товар с браком. Что делать? 
			.accordeon__inner
				| Зайдите в карточку понравившегося товара, выберите размер и цвет вещи (если есть такой выбор, так как у некоторых товаров один цвет и один размер). Добавьте этот товар в корзину и оформите заказ, заполнив все поля.
				br
				| Если Вы не можете сделать заказ самостоятельно, Вы всегда можете позвонить по телефону +7 (4822) 35-98-17. Наш специалист поможет приобрести товар и ответит на все Ваши вопросы.
		li.accordeon__item
			a(href="#").accordeon__trigger Могу ли я отказаться от заказа? 
			.accordeon__inner
				| Зайдите в карточку понравившегося товара, выберите размер и цвет вещи (если есть такой выбор, так как у некоторых товаров один цвет и один размер). Добавьте этот товар в корзину и оформите заказ, заполнив все поля.
				br
				| Если Вы не можете сделать заказ самостоятельно, Вы всегда можете позвонить по телефону +7 (4822) 35-98-17. Наш специалист поможет приобрести товар и ответит на все Ваши вопросы.
		li.accordeon__item
			a(href="#").accordeon__trigger Что мне делать, если нет моего размера? 
			.accordeon__inner
				| Зайдите в карточку понравившегося товара, выберите размер и цвет вещи (если есть такой выбор, так как у некоторых товаров один цвет и один размер). Добавьте этот товар в корзину и оформите заказ, заполнив все поля.
				br
				| Если Вы не можете сделать заказ самостоятельно, Вы всегда можете позвонить по телефону +7 (4822) 35-98-17. Наш специалист поможет приобрести товар и ответит на все Ваши вопросы.
		li.accordeon__item
			a(href="#").accordeon__trigger Есть ли магазин в моем городе?
			.accordeon__inner
				| Зайдите в карточку понравившегося товара, выберите размер и цвет вещи (если есть такой выбор, так как у некоторых товаров один цвет и один размер). Добавьте этот товар в корзину и оформите заказ, заполнив все поля.
				br
				| Если Вы не можете сделать заказ самостоятельно, Вы всегда можете позвонить по телефону +7 (4822) 35-98-17. Наш специалист поможет приобрести товар и ответит на все Ваши вопросы.

h3.faq не нашли ответа на свой вопрос?  напишите нам!

p.faq__text
	| Если у Вас есть вопросы, пожалуйста, заполните форму ниже или напишите нам на почту tvervip@yandex.ru. Мы адресуем Ваш вопрос специалисту, который при необходимости свяжется с Вами напрямую или направит ответ по электронной почте. Если вдруг по каким-то причинам Вам не ответили в течение 
	br
	| 24 часов, позвоните, пожалуйста, по телефону +7 (4822) 35-98-17 в центральный офис ООО «Важная персона», и Вам обязательно помогут. Спасибо!

.faq__block_form
	form(name='SIMPLE_FORM_3', action='/', method='POST', enctype='multipart/form-data').faq__form
		.faq__form_item
			| Имя
			span.form-required.starrequired *
			input.inputtext(type='text', name='form_text_29', value='', size='0')
		.faq__form_item
			| E-mail
			span.form-required.starrequired *
			input.inputtext(type='text', name='form_email_30', value='', size='0')
		.faq__form_item
			| Телефон					
			input.inputtext(type='text', name='form_text_31', value='', size='0')
		.faq__form_Bigitem
			| Ваш вопрос
			span.form-required.starrequired *
			textarea.inputtextarea(name='form_textarea_32', cols='30', rows='5')
		input(type='submit', name='web_form_submit', value='Отправить').primary__button
