.bx-authform.bx-authform__forgot_pass
	p.bx-authform-content-container
		| Если Вы забыли пароль, введите свой e-mail для восстановления
	form(name='bform', method='post', target='_top', action='/login/?forgot_password=yes')
		input(type='hidden', name='backurl', value='/login/')
		input(type='hidden', name='AUTH_FORM', value='Y')
		input(type='hidden', name='TYPE', value='SEND_PWD')
		.bx-authform-formgroup-container
			.bx-authform-label-container 
				| E-mail
				span.bx-authform-starrequired *
			.bx-authform-input-container
				input(type='text', name='USER_LOGIN', maxlength='255', value='')
		.bx-authform-formgroup-container
			input.btn.btn-primary(type='submit', name='send_account_info', value='Выслать')
			a(href='/login/?login=yes').fg_pss
				| Вход на сайт
			
