h1 Заголовок 1 уровня
h2 Заголовок 2 уровня
h3 Заголовок 3 уровня
h4 Заголовок 4 уровня
p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
ol
	li Пример нумерованного списка
		ol
			li Пункт первый
			li Пункт второй
			li Пункт третий
	li Пример нумерованного списка
		ol
			li Пункт первый
			li Пункт второй
			li Пункт третий
ul
	li Пример маркерованного списка
		ul
			li Пункт первый
			li Пункт второй
			li Пункт третий
	li Пример маркерованного списка
		ul
			li Пункт первый
			li Пункт второй
			li Пункт третий
table
	tr
		td №
		td Наименование колонки
		td Описание
	tr
		td 1
		td Название первой строки
		td Подробное текстовое информационное описание первой строки
	tr
		td 2
		td Название второй строки
		td Подробное текстовое информационное описание второй строки


.block__image.brands.owl-carousel.owl-theme
	.block__image_item
		img(src="/assets/img/about/1.jpg")
		.mask
			a(href="/assets/img/about/1.jpg").mask__loop
	.block__image_item
		img(src="/assets/img/about/2.jpg")
		.mask
			a(href="/assets/img/about/2.jpg").mask__loop
	.block__image_item
		img(src="/assets/img/about/3.jpg")
		.mask
			a(href="/assets/img/about/3.jpg").mask__loop
	.block__image_item
		img(src="/assets/img/about/4.jpg")
		.mask
			a(href="/assets/img/about/4.jpg").mask__loop
	.block__image_item
		img(src="/assets/img/about/5.jpg")
		.mask
			a(href="/assets/img/about/5.jpg").mask__loop
	.block__image_item
		img(src="/assets/img/about/6.jpg")
		.mask
			a(href="/assets/img/about/6.jpg").mask__loop