.loyalty__card
	h3.faq Уважаемые Клиенты!
	h3.faq ШОППИНГ СТАЛ ЕЩЕ ПРИЯТНЕЕ И ВЫГОДНЕЕ!
	h3.faq Копите баллы и получайте скидки!
	p Мы рады представить Вам новую программу лояльности, разработанную нашей компанией, для того, чтобы сделать Ваш шоппинг еще более приятным и выгодным.

	.accordeon
		ol.accordeon__list
			li.accordeon__item
				a(href="#").accordeon__trigger Условия участия в программе лояльности компании «Важная персона» 
				.accordeon__inner
					ol
						li Участником программы может стать любое физическое лицо, совершившее покупку в одном из магазинов сети;
						li Для участия в программе Вам необходимо заполнить анкету участника в любом из магазинов сети «Важная Персона». Анкету и совет по ее заполнению, вы можете получить у кассира;
						li В момент выдачи карты лояльности, Вы можете сразу использовать Карту для зачисления Бонусов на Ваш Бонусный счет при совершении покупок в магазинах сети «Важная Персона».
			li.accordeon__item
				a(href="#").accordeon__trigger Начисление бонусов
				.accordeon__inner
					ol
						li Совершая покупки в одном из магазинов сети «Важная Персона» Вы предъявляете карту лояльности и компания начисляет Вам баллы. Баллы за покупки суммируются;
						li Вы возвращаете от 3-х до 10-ти процентов от суммы покупки на карту лояльности, в зависимости от порога начисления;
						li Сумма покупок для определения первоначального порога начисления баллов считается с 01.01.2012 года. Суммируются покупки, совершенные во всех магазинах сети;
						li В случае, если Вы не совершали покупки в одном из магазинов сети в течение 12 месяцев, порог начисления баллов снижается на один шаг. (т.е если у Вас была 10% карта и Вы не посетили ни один из наших магазинов в течение 12 месяцев, Ваша карта станет 7%);
						li Баллы начисляются только на сумму внесенную в кассу, без учета части оплаченной с использованием накопленных баллов;
						li Информацию о Вашем текущем проценте начисления бонусов Вы можете уточнить по телефону: (4822) 587-586.
			li.accordeon__item
				a(href="#").accordeon__trigger Порядок использования накопленных баллов
				.accordeon__inner
					ol
						li 1 балл = 1 рубль;
						li Воспользоваться начисленными баллами Вы сможете на следующий день после покупки;
						li Бонусы нельзя использовать при покупке товара с сезонными или любыми другими скидками. При покупке такого товара баллы будут начисляться в размере 3% от суммы покупки, но не могут быть использованы для получения скидки;
						li Использовать накопленные бонусы, может лишь владелец карты, чье имя указано в анкете при регистрации карты.  Накопление возможно при предъявлении карты любым членом семьи;
						li Бонусными баллами можно оплатить не более 50% покупки.
			li.accordeon__item
				a(href="#").accordeon__trigger Обмен карт старого образца на новые карты лояльности
				.accordeon__inner
					ol
						li Если вы являетесь владельцем дисконтной карты старого образца, то при совершении покупки вы получаете новую карту лояльности, при этом карта старого образца изымается;
						li 
							| Порог начисления баллов выставляется согласно номиналу Вашей карты старого образца, с корректировкой на один шаг вниз. (т.е. если у Вас была 10% дисконтная карта, то вы получаете карту с порогом начисления баллов 7% и так далее).
							| Подробнее о схеме начисления баллов и обмене старых карт на новые Вы можете узнать, обратившись к консультантам торгового зала в одном из магазинов сети «Важная Персона».
			li.accordeon__item
				a(href="#").accordeon__trigger Контроль накопленных баллов
				.accordeon__inner
					ol
						li При регистрации в системе каждому участнику присваивается логин и пароль для доступа к личному кабинету на сайте www.tver-vip.ru;
						li Поля для доступа к личному кабинету находятся в правом верхнем углу сайта www.tver-vip.ru;
						li Для получения доступов к личному кабинету, при заполнении анкеты необходимо указать адрес электронной почты или номер мобильного телефона.
			li.accordeon__item
				a(href="#").accordeon__trigger Прочие положения 
				.accordeon__inner
					ol
						li
							| При возврате товара, баллы за совершенные покупки возвращаются на карту.
							| Внимание! При возврате товара на карту лояльности возвращается только то количество баллов, которое реализовано при покупке, остальная сумма выплачивается в денежном эквиваленте. 
						li Срок действия карт не ограничен. Баллы не сгорают
						li Администрация сети магазинов «Важная персона»  оставляет за собой право на одностороннее изменение регламента действия карт, вплоть до отмены действия программы лояльности, разместив информацию об этом за 14 дней на сайте www.tver-vip.ru;
						li Администрация оставляет за собой право при покупке товаров с помощью карт, при использовании бонусов по картам, блокировке карты и в других случаях, на усмотрение администрации, просить предъявить документ, удостоверяющий личность покупателя или предъявителя карты;
						li «Важная Персона» имеет право в любой момент в одностороннем порядке изменять условия Программы. Условия Программы с изменениями публикуются на сайте www.tver-vip.ru и в магазинах «Важная Персона» за 7 (семь) дней до даты их вступления в силу;
						li По техническим причинам (отказ или сбой в работе каналов связи, перебои в электропитании, а также в иных случаях технического и/или технологического сбоя работы оборудования и программного обеспечения) «Важная Персона» имеет право временно приостановить выполнение операций по Карте, с соответствующим информированием в магазинах «Важная Персона.