.news__container
	ul.tabs__controls
		li.choose_your_destiny Выберите категорию
		li.tabs__controls-item.active(data-class="first")
			a(href="#").tabs__controls-link События
		li.tabs__controls-item(data-class="second")
			a(href="#").tabs__controls-link Акции
	ul.tabs__list
		li.tabs__item.tabs__item_first.active
			ul.tabs__item_news
				li.tabs__item_news-item
					.tabs__item_news-item_image
						a(href="#").tabs__item_news-item_image-link
							img(src="/assets/img/news_1.jpg")
					time.tabs__item_news-item_date 15.04.2016
					p.tabs__item_news-item_name лукбук louis vuitton весна 2016
					p.tabs__item_news-item_description Новые линейки мужской и женской одежды, в которых контраст решает все. Черный и белый, блестящий и матовый — простые приемы для сложных образов.
					a(href="#").primary__button подробнее
				li.tabs__item_news-item
					.tabs__item_news-item_image
						a(href="#").tabs__item_news-item_image-link
							img(src="/assets/img/news_2.jpg")
					time.tabs__item_news-item_date 25.10.2017
					p.tabs__item_news-item_name 25 лучших городов для шоппинга
					p.tabs__item_news-item_description 
						| Хотите обновить свой гардероб, но не знаете, куда податься? 
						| Мы подобрали для вас самые лучшие города, где шопинг будет не только продуктивным, но и приятным.
					a(href="#").primary__button подробнее
		li.tabs__item.tabs__item_second
			ul.tabs__item_news
				li.tabs__item_news-item
					.tabs__item_news-item_image
						a(href="#").tabs__item_news-item_image-link
							img(src="/assets/img/news_2.jpg")
					time.tabs__item_news-item_date 10.01.2016 - 15.02.2016
					p.tabs__item_news-item_name 25 лучших городов для шоппинга
					p.tabs__item_news-item_description 
						| Хотите обновить свой гардероб, но не знаете, куда податься? 
						| Мы подобрали для вас самые лучшие города, где шопинг будет не только продуктивным, но и приятным.
					a(href="#").primary__button подробнее
				li.tabs__item_news-item
					.tabs__item_news-item_image
						a(href="#").tabs__item_news-item_image-link
							img(src="/assets/img/news_1.jpg")
					time.tabs__item_news-item_date 10.01.2016 - 15.02.2016
					p.tabs__item_news-item_name лукбук louis vuitton весна 2016
					p.tabs__item_news-item_description Новые линейки мужской и женской одежды, в которых контраст решает все. Черный и белый, блестящий и матовый — простые приемы для сложных образов.
					a(href="#").primary__button подробнее
//NEWS