.bx-content
	form#bx-soa-order-form(action='', method='POST', name='ORDER_FORM', enctype='multipart/form-data')
		#bx-soa-order.bx-red
			// MAIN BLOCK
			.bx-soa
				#bx-soa-auth.bx-soa-section.bx-soa-auth.bx-active.bx-selected(style='', data-visited='true')
					.bx-soa-section-title-container
						h2.bx-soa-section-title
							span.bx-soa-section-title-count
							| Авторизация
					.bx-soa-section-content.container-fluid
						.alert.alert-danger(style='display: none;')
						div
							.bx-authform
								h3.bx-title Авторизуйтесь, пожалуйста
								.bx-authform-formgroup-container
									.bx-authform-label-container
										| E-mail
										span.bx-authform-starrequired *
									.bx-authform-input-container
										input(data-next='USER_PASSWORD', name='USER_LOGIN', type='text')
								.bx-authform-formgroup-container
									.bx-authform-label-container
										| Пароль
										span.bx-authform-starrequired *
									.bx-authform-input-container
										input(data-send='true', name='USER_PASSWORD', type='password')
								.bx-authform-formgroup-container
									input#do_authorize(type='hidden', name='do_authorize', value='N')
									input.btn.btn-lg.btn-default(type='submit', value='Войти')
									a(href='/auth/?forgot_password=yes&back_url=http%3A%2F%2Fclients.wizard-c.ru%2Fpersonal%2Forder%2Fmake%2F') Забыли пароль?
						div
							.bx-authform-social
								h3.bx-title Войти через
								ul
									li
										a#bx_socserv_icon_Vk.vk.bx-authform-social-icon(href='javascript:void(0)')
									li
										a#bx_socserv_icon_Tw.tw.bx-authform-social-icon(href='javascript:void(0)')
									li
										a#bx_socserv_icon_Ok.ok.bx-authform-social-icon(href='javascript:void(0)')
									li
										a#bx_socserv_icon_Fb.fb.bx-authform-social-icon(href='javascript:void(0)')
									li
										a#bx_socserv_icon_G.g.bx-authform-social-icon(href='javascript:void(0)')
							.bx-soa-reg-block
								p
									| Если вы впервые на сайте, и хотите что бы мы вас помнили и все ваши заказы сохранялись, заполните регистрационную форму.
								a.btn.btn-default.btn-lg Зарегистрироваться

				// BASKET ITEMS BLOCK
				#bx-soa-basket.bx-soa-section.bx-active.bx-selected(data-visited='true')
					.bx-soa-section-title-container
						h2.bx-soa-section-title
							span.bx-soa-section-title-count
							| Товары в заказе
						.text-right
							a.bx-soa-editstep(href='javascript:void(0)') изменить
					.bx-soa-section-content.container-fluid
						.bx-soa-table-fade
							div(style='overflow-x: auto; overflow-y: hidden')
								.bx-soa-item-table
									.bx-soa-item-tr.bx-soa-basket-info.bx-soa-item-tr-first
										.bx-soa-item-td(style='min-width: 300px')
											.bx-soa-item-block
												.bx-soa-item-img-block
													a(href='#')
														.bx-soa-item-imgcontainer(style='background-image: url(/assets/img/items/detail.jpg)')
												.bx-soa-item-content
													.bx-soa-item-title
														a(href='#') Пантолеты Кости на Пляже
													.bx-soa-item-description
														| Мини-платье с кружевным лифом и коротким рукавом
													.bx-scu-container
														| Цвет: розовый   |   Размер: 42
										.bx-soa-item-td.bx-soa-item-properties.bx-text-right
											.bx-soa-item-td-title Цена
											.bx-soa-item-td-text
												strong.bx-price 899 руб.
										.bx-soa-item-td.bx-soa-item-properties.bx-text-right
											.bx-soa-item-td-title Количество
											.bx-soa-item-td-text
												span 3 шт
										.bx-soa-item-td.bx-soa-item-properties.bx-text-right
											.bx-soa-item-td-title Сумма
											.bx-soa-item-td-text
												strong.bx-price.all 2 697 руб.
									.bx-soa-item-tr.bx-soa-basket-info
										.bx-soa-item-td(style='min-width: 300px')
											.bx-soa-item-block
												.bx-soa-item-img-block
													a(href='#')
														.bx-soa-item-imgcontainer(style='background-image: url(/assets/img/items/detail.jpg)')
												.bx-soa-item-content
													.bx-soa-item-title
														a(href='#') Футболка Мужская Чистота
													.bx-soa-item-description
														| Мини-платье с кружевным лифом и коротким рукавом
													.bx-scu-container
														| Цвет: розовый   |   Размер: 42
										.bx-soa-item-td.bx-soa-item-properties.bx-text-right
											.bx-soa-item-td-title Цена
											.bx-soa-item-td-text
												strong.bx-price 799 Р
										.bx-soa-item-td.bx-soa-item-properties.bx-text-right
											.bx-soa-item-td-title Количество
											.bx-soa-item-td-text
												span 1 шт
										.bx-soa-item-td.bx-soa-item-properties.bx-text-right
											.bx-soa-item-td-title Сумма
											.bx-soa-item-td-text
												strong.bx-price.all 799 Р
									.bx-soa-item-tr.bx-soa-basket-info
										.bx-soa-item-td(style='min-width: 300px')
											.bx-soa-item-block
												.bx-soa-item-img-block
													a(href='#')
														.bx-soa-item-imgcontainer(style='background-image: url(/assets/img/items/detail.jpg)')
												.bx-soa-item-content
													.bx-soa-item-title
														a(href='#') Футболка Мужской Огонь
													.bx-soa-item-description
														| Мини-платье с кружевным лифом и коротким рукавом
													.bx-scu-container
														| Цвет: розовый   |   Размер: 42
										.bx-soa-item-td.bx-soa-item-properties.bx-text-right
											.bx-soa-item-td-title Цена
											.bx-soa-item-td-text
												strong.bx-price 779 Р
										.bx-soa-item-td.bx-soa-item-properties.bx-text-right
											.bx-soa-item-td-title Количество
											.bx-soa-item-td-text
												span 1 шт
										.bx-soa-item-td.bx-soa-item-properties.bx-text-right
											.bx-soa-item-td-title Сумма
											.bx-soa-item-td-text
												strong.bx-price.all 779 Р
						.bx-soa-coupon
							.bx-soa-coupon-label
								label Применить купон:
							.bx-soa-coupon-block
								.bx-soa-coupon-input
									input#coupon.form-control.bx-ios-fix(type='text')
								span.bx-soa-coupon-item
						.bx-soa-more
							.bx-soa-more-btn
								a.pull-left.btn.btn-default.btn-md(href="") показать все
								a.pull-right.btn.btn-default.btn-md(href='') Далее
				// REGION BLOCK
				#bx-soa-region.bx-soa-section.bx-active.bx-selected(data-visited='true')
					.bx-soa-section-title-container
						h2.bx-soa-section-title
							span.bx-soa-section-title-count
							| Регион доставки
						.text-right
							a.bx-soa-editstep(href='') изменить
					.bx-soa-section-content.container-fluid
						.alert.alert-danger(style='display: none')
						.bx_soa_location
							div
								input(name='PROFILE_ID', type='hidden', value='1')
								.form-group.bx-soa-location-input-container(data-property-id-='6')
									label.bx-soa-custom-label(for='soa-property-6')
										|  Местоположение
										span.bx-authform-starrequired *
									#sls-73494.bx-sls
										.dropdown-block.bx-ui-sls-input-block.form-control
											span.dropdown-icon
											input.dropdown-field(type='text', autocomplete='off', name='ORDER_PROP_6', value='0000073738', placeholder='Введите название ...', style='display: none')
											.bx-ui-sls-container(style='margin: 0px; padding: 0px; border: none; position: relative')
												input.bx-ui-sls-route(type='text', disabled='disabled', autocomplete='off', style='padding: 0px; margin: 0px')
												input.bx-ui-sls-fake(type='text', autocomplete='off', value='0000073738', placeholder='Введите название ...', title='Москва, Московская область, Центр, Россия')
											.dropdown-fade2white
											.bx-ui-sls-loader
											.bx-ui-sls-clear(title='Отменить выбор', style='display: block')
											.bx-ui-sls-pane(style='overflow-y: auto; overflow-x: hidden; display: none')
												.bx-ui-sls-variants
										.bx-ui-sls-error-message
								input(type='hidden', name='RECENT_DELIVERY_VALUE', value='0000073738')
								.form-group.bx-soa-location-input-container(data-property-id-='4')
									label.bx-soa-custom-label(for='zipProperty')
										|  Город
										span.bx-authform-starrequired *
									input#zipProperty.form-control.bx-soa-customer-input.bx-ios-fix(type='text', placeholder='', autocomplete='zip', name='ORDER_PROP_4')
								.bx-soa-reference
									| Выберите свой город в списке. Если вы не нашли свой город, выберите "другое местоположение", а город впишите в поле "Город"
						.bx-soa-more
							.bx-soa-more-btn
								a.pull-left.btn.btn-default.btn-md(href='') Назад
								a.pull-right.btn.btn-default.btn-md(href='') Далее
				// DELIVERY BLOCK
				#bx-soa-delivery.bx-soa-section.bx-active.bx-selected(data-visited='true')
					.bx-soa-section-title-container
						h2.bx-soa-section-title
							span.bx-soa-section-title-count
							| Доставка
						.text-right
							a.bx-soa-editstep(href='') изменить
					.bx-soa-section-content.container-fluid
						.alert.alert-danger(style='display: none')
						.bx-soa-pp
							.bx-soa-pp-item-container
								.bx-soa-pp-company.bx-selected
									.bx-soa-pp-company-graf-container
										input#ID_DELIVERY_ID_2.bx-soa-pp-company-checkbox.checkbox_styler(name='DELIVERY_ID', type='checkbox', value='2')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/8cb114e3bd4ab83c337fd4ab5fca8050.png);background-image: -webkit-image-set(url(/assets/img/post/8cb114e3bd4ab83c337fd4ab5fca8050.png) 1x, url(/assets/img/post/8cb114e3bd4ab83c337fd4ab5fca8050.png) 2x)')
										.bx-soa-pp-delivery-cost 500 Р
									.bx-soa-pp-company-smalltitle Доставка курьером
								.bx-soa-pp-company
									.bx-soa-pp-company-graf-container
										input#ID_DELIVERY_ID_18.bx-soa-pp-company-checkbox.checkbox_styler(name='DELIVERY_ID', type='checkbox', value='18')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/f1e61eb261f2be5d8b01dec1c8b3899b.png);background-image: -webkit-image-set(url(/assets/img/post/f1e61eb261f2be5d8b01dec1c8b3899b.png) 1x, url(/assets/img/post/f1e61eb261f2be5d8b01dec1c8b3899b.png) 2x)')
									.bx-soa-pp-company-smalltitle Почта России (авиапочта)
								.bx-soa-pp-company
									.bx-soa-pp-company-graf-container
										input#ID_DELIVERY_ID_17.bx-soa-pp-company-checkbox.checkbox_styler(name='DELIVERY_ID', type='checkbox', value='17')
										.bx-soa-pp-company-image(style='background-image: url(/uassets/img/post/f1e61eb261f2be5d8b01dec1c8b3899b.png);background-image: -webkit-image-set(url(/assets/img/post/f1e61eb261f2be5d8b01dec1c8b3899b.png) 1x, url(/assets/img/post/f1e61eb261f2be5d8b01dec1c8b3899b.png) 2x)')
									.bx-soa-pp-company-smalltitle Почта России (наземная доставка)
								.bx-soa-pp-company
									.bx-soa-pp-company-graf-container
										input#ID_DELIVERY_ID_3.bx-soa-pp-company-checkbox.checkbox_styler(name='DELIVERY_ID', type='checkbox', value='3')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/a80904114078d69dd964652e08b5b1aa.png);background-image: -webkit-image-set(url(/assets/img/post/a80904114078d69dd964652e08b5b1aa.png) 1x, url(/assets/img/post/a80904114078d69dd964652e08b5b1aa.png) 2x)')
										.bx-soa-pp-delivery-cost 0 Р
									.bx-soa-pp-company-smalltitle Самовывоз
								.bx-soa-pp-company
									.bx-soa-pp-company-graf-container
										input#ID_DELIVERY_ID_21.bx-soa-pp-company-checkbox.checkbox_styler(name='DELIVERY_ID', type='checkbox', value='21')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/bed95d34d164c005ecf067967f3886b0.png);background-image: -webkit-image-set(url(/assets/img/post/bed95d34d164c005ecf067967f3886b0.png) 1x, url(/assets/img/post/bed95d34d164c005ecf067967f3886b0.png) 2x)')
									.bx-soa-pp-company-smalltitle Почта России (Воздушный транспорт)
								.bx-soa-pp-company
									.bx-soa-pp-company-graf-container
										input#ID_DELIVERY_ID_20.bx-soa-pp-company-checkbox.checkbox_styler(name='DELIVERY_ID', type='checkbox', value='20')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/bed95d34d164c005ecf067967f3886b0.png);background-image: -webkit-image-set(url(/assets/img/post/bed95d34d164c005ecf067967f3886b0.png) 1x, url(/assets/img/post/bed95d34d164c005ecf067967f3886b0.png) 2x)')
									.bx-soa-pp-company-smalltitle Почта России (Наземный транспорт)
								.bx-soa-pp-company
									.bx-soa-pp-company-graf-container
										input#ID_DELIVERY_ID_23.bx-soa-pp-company-checkbox.checkbox_styler(name='DELIVERY_ID', type='checkbox', value='23')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/6ae56f09d8e4fb017045151da0808780.png);background-image: -webkit-image-set(url(/assets/img/post/6ae56f09d8e4fb017045151da0808780.png) 1x, url(/assets/img/post/6ae56f09d8e4fb017045151da0808780.png) 2x)')
									.bx-soa-pp-company-smalltitle Отправления 1 класса (Бандероль)
							.bx-soa-pp-desc-container
								.bx-soa-pp-company
									.bx-soa-pp-company-subTitle Доставка курьером
									.bx-soa-pp-company-logo
										.bx-soa-pp-company-graf-container
											.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/8cb114e3bd4ab83c337fd4ab5fca8050.png);background-image: -webkit-image-set(url(/assets/img/post/8cb114e3bd4ab83c337fd4ab5fca8050.png) 1x, url(/assets/img/post/8cb114e3bd4ab83c337fd4ab5fca8050.png) 2x)')
									.bx-soa-pp-company-block
										.bx-soa-pp-company-desc Доставка осуществляется в течение дня в удобное для вас время.
									div(style='clear: both')
									ul.bx-soa-pp-list
										li
											.bx-soa-pp-list-termin Стоимость:
											.bx-soa-pp-list-description 500 Р
						.bx-soa-coupon
							.bx-soa-coupon-label
								label Применить купон:
							.bx-soa-coupon-block
								.bx-soa-coupon-input
									input#coupon.form-control.bx-ios-fix(type='text')
								span.bx-soa-coupon-item
						.bx-soa-more
							.bx-soa-more-btn
								a.pull-left.btn.btn-default.btn-md(href='') Назад
								a.pull-right.btn.btn-default.btn-md(href='') Далее
				//PICKUP BLOCK
				#bx-soa-pickup.bx-soa-section.bx-active.bx-selected(data-visited='true', style='')
					.bx-soa-section-title-container
						h2.bx-soa-section-title
							span.bx-soa-section-title-count
							| Самовывоз
						.text-right
							a.bx-soa-editstep(href='') изменить
					.bx-soa-section-content.container-fluid
						.bx_soa_pickup
							div
								#pickUpMap(style='width: 100%; margin-bottom: 10px; height: 400px;')
									script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=tdxIk0uppF5gdNfVtk6HdJo0vmI56C3_&width=100%25&height=400&lang=ru_RU&sourceType=constructor&scroll=true')
								.bx-soa-pickup-list.main
									#store-1.bx-soa-pickup-list-item.bx-selected(style='')
										.bx-soa-pickup-l-item-adress пр. Московский д. 51
										.bx-soa-pickup-l-item-detail
											.bx-soa-pickup-l-item-name Склад
											.bx-soa-pickup-l-item-desc
												| Адрес: пр. Московский д. 51
												br
												| Телефон: 8 (495) 212 85 06
												br
												| Режим работы: Пн.-Пт. с 9:00 до 20:00, Сб.-Вс. с 11:00 до 18:00
												br
										.bx-soa-pickup-l-item-btn
											a.btn.btn-sm.btn-default(href='') Выбрать
									#store-2.bx-soa-pickup-list-item(style='')
										.bx-soa-pickup-l-item-adress Тверь
										.bx-soa-pickup-l-item-detail
											.bx-soa-pickup-l-item-name Тверь
											.bx-soa-pickup-l-item-desc
												| Адрес: Тверь
												br
												| Телефон: 89006000000
												br
												| Режим работы: Пн.-Пт. с 9:00 до 20:00, Сб.-Вс. с 11:00 до 18:00
												br
										.bx-soa-pickup-l-item-btn
											a.btn.btn-sm.btn-default(href='') Выбрать
						.bx-soa-more
							.bx-soa-more-btn
								a.pull-left.btn.btn-default.btn-md(href='') Назад
								a.pull-right.btn.btn-default.btn-md(href='') Далее
				// PAY SYSTEMS BLOCK
				#bx-soa-paysystem.bx-soa-section.bx-active.bx-selected(data-visited='true')
					.bx-soa-section-title-container
						h2.bx-soa-section-title
							span.bx-soa-section-title-count
							| Оплата
						.text-right
							a.bx-soa-editstep(href='') изменить
					.bx-soa-section-content.container-fluid
						.alert.alert-danger(style='display: none')
						.bx-soa-pp
							.bx-soa-pp-item-container
								.bx-soa-pp-company
									.bx-soa-pp-company-graf-container
										input#ID_PAY_SYSTEM_ID_3.bx-soa-pp-company-checkbox.checkbox_styler(name='PAY_SYSTEM_ID', type='checkbox', value='3')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/2b5448b102357112c43291622772921d.png);background-image: -webkit-image-set(url(/assets/img/post/2b5448b102357112c43291622772921d.png) 1x, url(/assets/img/post/2b5448b102357112c43291622772921d.png) 2x)')
									.bx-soa-pp-company-smalltitle Яндекс.Деньги
								.bx-soa-pp-company
									.bx-soa-pp-company-graf-container
										input#ID_PAY_SYSTEM_ID_4.bx-soa-pp-company-checkbox.checkbox_styler(name='PAY_SYSTEM_ID', type='checkbox', value='4')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/5339ee3ce8c619a9f95cff7bddec5c48.png);background-image: -webkit-image-set(url(/assets/img/post/5339ee3ce8c619a9f95cff7bddec5c48.png) 1x, url(/assets/img/post/5339ee3ce8c619a9f95cff7bddec5c48.png) 2x)')
									.bx-soa-pp-company-smalltitle Банковские карты
								.bx-soa-pp-company
									.bx-soa-pp-company-graf-container
										input#ID_PAY_SYSTEM_ID_5.bx-soa-pp-company-checkbox.checkbox_styler(name='PAY_SYSTEM_ID', type='checkbox', value='5')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/b21ae014b2310c543a0655ed3f420bb2.png);background-image: -webkit-image-set(url(/assets/img/post/b21ae014b2310c543a0655ed3f420bb2.png) 1x, url(/assets/img/post/b21ae014b2310c543a0655ed3f420bb2.png) 2x)')
									.bx-soa-pp-company-smalltitle Терминалы
								.bx-soa-pp-company
									.bx-soa-pp-company-graf-container
										input#ID_PAY_SYSTEM_ID_1.bx-soa-pp-company-checkbox.checkbox_styler(name='PAY_SYSTEM_ID', type='checkbox', value='1')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/0f0af94de15388906c9c76609db8ff3c.png);background-image: -webkit-image-set(url(/assets/img/post/0f0af94de15388906c9c76609db8ff3c.png) 1x, url(/assets/img/post/0f0af94de15388906c9c76609db8ff3c.png) 2x)')
									.bx-soa-pp-company-smalltitle Наличные курьеру
								.bx-soa-pp-company.bx-selected
									.bx-soa-pp-company-graf-container
										input#ID_PAY_SYSTEM_ID_2.bx-soa-pp-company-checkbox.checkbox_styler(name='PAY_SYSTEM_ID', type='checkbox', value='2')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/f32261edf75302f20c9044a685349a07.png);background-image: -webkit-image-set(url(/assets/img/post/f32261edf75302f20c9044a685349a07.png) 1x, url(/assets/img/post/f32261edf75302f20c9044a685349a07.png) 2x)')
									.bx-soa-pp-company-smalltitle Наложенный платеж
								.bx-soa-pp-company
									.bx-soa-pp-company-graf-container
										input#ID_PAY_SYSTEM_ID_7.bx-soa-pp-company-checkbox.checkbox_styler(name='PAY_SYSTEM_ID', type='checkbox', value='7')
										.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/ecc12acff1125727e9a37173344b62f8.png);background-image: -webkit-image-set(url(/assets/img/post/ecc12acff1125727e9a37173344b62f8.png) 1x, url(/assets/img/post/ecc12acff1125727e9a37173344b62f8.png) 2x)')
									.bx-soa-pp-company-smalltitle Сбербанк
							.bx-soa-pp-desc-container
								.bx-soa-pp-company
									div
										.bx-soa-pp-company-subTitle Наложенный платеж
										.bx-soa-pp-company-logo
											.bx-soa-pp-company-graf-container
												.bx-soa-pp-company-image(style='background-image: url(/assets/img/post/f32261edf75302f20c9044a685349a07.png);background-image: -webkit-image-set(url(/assets/img/post/f32261edf75302f20c9044a685349a07.png) 1x, url(/assets/img/post/f32261edf75302f20c9044a685349a07.png) 2x)')
										.bx-soa-pp-company-block
											.bx-soa-pp-company-desc
												| Оплата производится в момент получения заказа. Подтверждением вашей оплаты является фискальный кассовый чек, вручаемый во время получения и оплаты заказа.
									//hr.bxe-light
									//div
										.bx-soa-pp-company-subTitle Карта лояльности
										.bx-soa-pp-company-block
											.bx-soa-pp-company-loyalti
												| Доступно 1000 баллов
												.bx-soa-pp-loyalti_card
													| Снять
													input(type="text", name="loyalti_card")
													| баллов
											.bx-soa-pp-company-desc
												| С помощью карты можете оплатить часть покупки, но не более 50%
						.bx-soa-coupon
							.bx-soa-coupon-label
								label Применить купон:
							.bx-soa-coupon-block
								.bx-soa-coupon-input
									input#coupon.form-control.bx-ios-fix(type='text')
								span.bx-soa-coupon-item
						.bx-soa-more
							.bx-soa-more-btn
								a.pull-left.btn.btn-default.btn-md(href='') Назад
								a.pull-right.btn.btn-default.btn-md(href='') Далее
				// BUYER PROPS BLOCK
				#bx-soa-properties.bx-soa-section.bx-active.bx-selected(data-visited='true')
					.bx-soa-section-title-container
						h2.bx-soa-section-title
							span.bx-soa-section-title-count
							| Покупатель
						.text-right
							a.bx-soa-editstep(href='') изменить
					.bx-soa-section-content.container-fluid
						.alert.alert-danger(style='display: none')
						div
							.bx-soa-customer
								.form-group.bx-soa-customer-field(data-property-id-='1')
									label.bx-soa-custom-label(for='soa-property-1')
										span.bx-authform-starrequired *
										|  Ф.И.О.
									.soa-property-container
										input#soa-property-1.form-control.bx-soa-customer-input.bx-ios-fix(type='text', size='40', name='ORDER_PROP_1', autocomplete='name', placeholder='')
								.form-group.bx-soa-customer-field(data-property-id-='2')
									label.bx-soa-custom-label(for='soa-property-2')
										span.bx-authform-starrequired *
										|  E-Mail
									.soa-property-container
										input#soa-property-2.form-control.bx-soa-customer-input.bx-ios-fix(type='text', size='40', name='ORDER_PROP_2', autocomplete='email', placeholder='')
								.form-group.bx-soa-customer-field(data-property-id-='3')
									label.bx-soa-custom-label(for='soa-property-3')
										span.bx-authform-starrequired *
										|  Телефон
									.soa-property-container
										input#soa-property-3.form-control.bx-soa-customer-input.bx-ios-fix(type='text', size='30', name='ORDER_PROP_3', autocomplete='tel', placeholder='')
								.form-group.bx-soa-customer-field(data-property-id-='7')
									label.bx-soa-custom-label(for='soa-property-7')
										span.bx-authform-starrequired *
										|  Адрес доставки
									.soa-property-container
										textarea#soa-property-7.form-control.bx-ios-fix(cols='30', s='3', name='ORDER_PROP_7', placeholder='')
							div
								.form-group.bx-soa-customer-field
									label.bx-soa-customer-label(for='orderDescription') Комментарии к заказу:
									textarea#orderDescription.form-control.bx-soa-customer-textarea.bx-ios-fix(cols='4', name='ORDER_DESCRIPTION')
						.bx-soa-more
							.bx-soa-more-btn
								a.pull-left.btn.btn-default.btn-md(href='') Назад
				// ORDER SAVE BLOCK
				#bx-soa-orderSave
					a.pull-right.btn.btn-default.btn-lg(href='javascript:void(0)', style='margin: 10px 0') Оформить заказ
			// SIDEBAR BLOCK
			#bx-soa-total.bx-soa-sidebar
				.bx-soa-cart-total-ghost(style='padding-top: 0px')
				.bx-soa-cart-total
					.bx-soa-cart-total-line
						span.bx-soa-cart-t Товаров на:
						span.bx-soa-cart-d 4 275 Р
					.bx-soa-cart-total-line
						span.bx-soa-cart-t Доставка:
						span.bx-soa-cart-d 500 Р
					.bx-soa-cart-total-line.bx-soa-cart-total-line-total
						span.bx-soa-cart-t Итого:
						span.bx-soa-cart-d(style='font-size: 28px') 4 775 Р
