.loyalty__card
	.accordeon
		ol.accordeon__list
			li.accordeon__item
				a(href="#").accordeon__trigger Банковскими картами Visa и MasterCard
				.accordeon__inner
					| Мы принимаем платежи по следующим банковским картам:
					br
					br
					img(src="/assets/img/card.jpg")
					br
					br
					| Для оплаты покупки вы будете перенаправлены на платежный шлюз ОАО «Сбербанк России» для ввода реквизитов вашей карты. Пожалуйста, приготовьте вашу пластиковую карту заранее. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code для проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей вы можете уточнить в банке, выпустившем карту. Настоящий сайт поддерживает 128-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ОАО «Сбербанк России». Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.
			li.accordeon__item
				a(href="#").accordeon__trigger Квитанция Сбербанк
				.accordeon__inner
			li.accordeon__item
				a(href="#").accordeon__trigger Наличный расчет
				.accordeon__inner
					| Оплата производится непосредственно на руки курьеру в момент доставки товара. В свою очередь вы получаете чек от курьера.
			li.accordeon__item
				a(href="#").accordeon__trigger Банковской картой курьеру
				.accordeon__inner
					p.info__text
						| Оплата производится непосредственно в момент доставки товара. В момент звонка курьера необходимо предупредить его заранее, что оплата будет проходить с помощью банковской карты.
					p.info__text
						strong ВНИМАНИЕ!
					.table-style__list
						ul.list
							li.list__item
								| Карта не может быть передана для оплаты заказа третьему лицу.
							li.exchange-list__item
								| Подпись на Карте должна совпадать с подписью Клиента в паспорте (или ином документе, удостоверяющем личность).
							li.exchange-list__item
								| При совершении операции с использованием Карты производятся определенные действия: авторизация операции; проверка номера Карты на отсутствие в Стоп-листе; правильность ввода ПИН-кода; соответствие номера на Карте данным чека POS-терминала, сравнение подписи на Карте и чеке.
							li.exchange-list__item
								| Курьер имеет право попросить представить документ, удостоверяющий личность клиента, если для проведения оплаты не вводится PIN-код.
					p.info__text
					p.info__text
						| Информация по доступным методам оплаты и операторам доставки представлена в таблице ниже. Обращаем ваше внимание, что некоторые способы оплаты недоступны для определенных населенных пунктов.
					table
						thead
							tr
								td
								td DHL, ЦУМ, Pony Express
								td EMS
						tbody
							tr
								td Предоплата
								td &bull;
								td &bull;
							tr
								td Наличными курьеру
								td &bull;
								td &ndash;
							tr
								td Картой курьеру
								td &bull;
								td &ndash;
					p.info__text
						| Обращаем ваше внимание, что операторы доставки используют понятие максимальной стоимости отправления. От указанной максимальной стоимости зависит доступный способ оплаты.
					p
						| Для курьеров ЦУМа: при оплате наличными курьеру доступный лимит составляет 100 000 руб., при оплате картой курьеру — 200 000 руб.
					p
						| Для DHL: при оплате наличными курьеру доступный лимит составляет 300 000 руб., при предоплате и оплате картой курьеру — 100 000 евро.
					p
						| Для Pony Express: при оплате наличными курьеру доступный лимит составляет 100 000 руб.
					p
						| Для EMS: при предоплате лимит составляет 300 000 руб.

			li.accordeon__item
				a(href="#").accordeon__trigger Наличными или банковской картой при самовывозе
				.accordeon__inner
					p
						| Оплата производится после проверки и примерки товаров клиентом
					p
						| Общая сумма к оплате проводится по товарной накладной, в которой указаны вещи, которые клиент хочет приобрести
					p
						| Вещи, по которым не была произведена предоплата на сайте, хранятся в пункте выдачи заказов 24 часа. Если клиент не забрал заказ вовремя, он аннулируется
					p
						| Оплата подарочной картой и списание бонусов с карты лояльности при самовывозе не производится
