.loyalty__card
	.accordeon
		ol.accordeon__list
			li.accordeon__item
				a(href="#").accordeon__trigger Банковскими картами Visa и MasterCard
				.accordeon__inner
					| Мы принимаем платежи по следующим банковским картам:
					br
					br
					img(src="/assets/img/card.jpg")
					br
					br
					| Для оплаты покупки вы будете перенаправлены на платежный шлюз ОАО «Сбербанк России» для ввода реквизитов вашей карты. Пожалуйста, приготовьте вашу пластиковую карту заранее. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code для проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей вы можете уточнить в банке, выпустившем карту. Настоящий сайт поддерживает 128-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ОАО «Сбербанк России». Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.
			li.accordeon__item
				a(href="#").accordeon__trigger Квитанция Сбербанк
				.accordeon__inner
			li.accordeon__item
				a(href="#").accordeon__trigger Наличный расчет
				.accordeon__inner
			li.accordeon__item
				a(href="#").accordeon__trigger Банковской картой курьеру
				.accordeon__inner
			li.accordeon__item
				a(href="#").accordeon__trigger Наличными или банковской картой при самовывозе
				.accordeon__inner