.catalog__main_page.owl-carousel.owl-theme
	.catalog__main_page-item
		.catalog__main_page-item__img
			span.stickers
				span.sticker.sticker_sale sale
			a(href="#").catalog__main_page-item__img-link
				img(src="/assets/img/items/item_1.jpg")
		.catalog__main_page-item__name
			a(href="#").catalog__main_page-item__name-link
				| Valentino
		.catalog__main_page-item__description
			| Женское розовое мини-платье с кружевным лифом
		.catalog__main_page-item__price
			.catalog__main_page-item__price-new
				| 171 600 р
		.catalog__main_page-item__block_hide
			a(href="#")
				+use('eye')
				| Быстрый просмотр
	.catalog__main_page-item
		.catalog__main_page-item__img
			span.stickers
				span.sticker.sticker_sale sale
			a(href="#").catalog__main_page-item__img-link
				img(src="/assets/img/items/item_2.jpg")
		.catalog__main_page-item__name
			a(href="#").catalog__main_page-item__name-link
				| michael kors
		.catalog__main_page-item__description
			| Сумка Helena Large
		.catalog__main_page-item__price
			.catalog__main_page-item__price-new
				| 110 000 р
		.catalog__main_page-item__block_hide
			a(href="#")
				+use('eye')
				| Быстрый просмотр
	.catalog__main_page-item
		.catalog__main_page-item__img
			span.stickers
				span.sticker.sticker_sale sale
			a(href="#").catalog__main_page-item__img-link
				img(src="/assets/img/items/item_3.jpg")
		.catalog__main_page-item__name
			a(href="#").catalog__main_page-item__name-link
				| Burberry
		.catalog__main_page-item__description
			| Стеганая куртка с отделкой из натуральной кожи
		.catalog__main_page-item__price
			.catalog__main_page-item__price-new
				| 47 900 р  
			.catalog__main_page-item__price-old
				| 51 000 Р
		.catalog__main_page-item__block_hide
			a(href="#")
				+use('eye')
				| Быстрый просмотр
	.catalog__main_page-item
		.catalog__main_page-item__img
			span.stickers
				span.sticker.sticker_sale sale
			a(href="#").catalog__main_page-item__img-link
				img(src="/assets/img/items/item_4.jpg")
		.catalog__main_page-item__name
			a(href="#").catalog__main_page-item__name-link
				| Loro Piana 
		.catalog__main_page-item__description
			| Платок Quadrata Rainbow из кашемира и шелка
		.catalog__main_page-item__price
			.catalog__main_page-item__price-new
				| 36 500 р
		.catalog__main_page-item__block_hide
			a(href="#")
				+use('eye')
				| Быстрый просмотр
a(href="#").owl-slider-button.owl-slider-button-main показать все
.line