.middle_block
	.container
		h2 Совершать покупки удобно!
		.middle_block__container
			.middle_block__container-item
				.middle_block__container-image.middle_block__container-image-first
				p.middle_block__container-name Большой выбор брендов
				span.middle_block__container-description
					| Все самые модные бренды в одном месте!
					| Новинки и распродажи ждут Ваc!
				a.primary__button(href="#") подробнее
			.middle_block__container-item
				.middle_block__container-image.middle_block__container-image-second
				p.middle_block__container-name программа лояльности
				span.middle_block__container-description
					| Сделайте покупку, получите карту лояльности, копите баллы и скидки!
				a.primary__button(href="#") подробнее