.commercial__block
	#owl-slider-main.owl-carousel.owl-theme
		.owl-slider-main-item
			img(src="/assets/img/slider.jpg").owl-slider-image
			.owl-slider-block
				.owl-slider-name Новая коллекция
				.owl-slider-info Yves Saint Laurent
				.owl-slider-detail-info 
					| Изящность в тканях и неповторимые ароматы
					| ждут Вас в новой коллекции!
				a(href="#").owl-slider-button подробнее
		.owl-slider-main-item
			img(src="/assets/img/slider.jpg").owl-slider-image
			.owl-slider-block
				.owl-slider-name Новая коллекция
				.owl-slider-info Yves Saint Laurent
				.owl-slider-detail-info 
					| Изящность в тканях и неповторимые ароматы
					| ждут Вас в новой коллекции!
				a(href="#").owl-slider-button подробнее
		.owl-slider-main-item
			img(src="/assets/img/slider.jpg").owl-slider-image
			.owl-slider-block
				.owl-slider-name Новая коллекция
				.owl-slider-info Yves Saint Laurent
				.owl-slider-detail-info 
					| Изящность в тканях и неповторимые ароматы
					| ждут Вас в новой коллекции!
				a(href="#").owl-slider-button подробнее
		.owl-slider-main-item
			img(src="/assets/img/slider.jpg").owl-slider-image
			.owl-slider-block
				.owl-slider-name Новая коллекция
				.owl-slider-info Yves Saint Laurent
				.owl-slider-detail-info 
					| Изящность в тканях и неповторимые ароматы
					| ждут Вас в новой коллекции!
				a(href="#").owl-slider-button подробнее
	.commercial__block-banner
		.banner sale
			a(href="#").banner_to_catalog в каталог