.bx_filter
	.bx_filter_section
		form.smartfilter(name='_form', action='#', method='get')
			.bx_filter_parameters_box
				span.bx_filter_container_modef
				.bx_filter_parameters_box_title(onclick='smartFilter.hideFilterProps(this)') Производитель
				.bx_filter_block(style='')
					.bx_filter_parameters_box_container
						label.bx_filter_param_label(data-role='label_arrFilter_10_2440279747', for='arrFilter_10_2440279747')
							span.bx_filter_input_checkbox
								input#arrFilter_10_2440279747(type='checkbox', value='Y', name='arrFilter_10_2440279747', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='Бангладеш "Уфиням"')
									| Бангладеш "Уфиням" (
									span(data-role='count_arrFilter_10_2440279747') 2
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_10_2135483839', for='arrFilter_10_2135483839')
							span.bx_filter_input_checkbox
								input#arrFilter_10_2135483839(type='checkbox', value='Y', name='arrFilter_10_2135483839', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='Италия "Фирстиль"')
									| Италия "Фирстиль" (
									span(data-role='count_arrFilter_10_2135483839') 2
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_10_1007824416', for='arrFilter_10_1007824416')
							span.bx_filter_input_checkbox
								input#arrFilter_10_1007824416(type='checkbox', value='Y', name='arrFilter_10_1007824416', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='Китай "Гун Джой Ли"')
									| Китай "Гун Джой Ли" (
									span(data-role='count_arrFilter_10_1007824416') 6
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_10_2674840009', for='arrFilter_10_2674840009')
							span.bx_filter_input_checkbox
								input#arrFilter_10_2674840009(type='checkbox', value='Y', name='arrFilter_10_2674840009', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='Россия "Grishko"')
									| Россия "Grishko" (
									span(data-role='count_arrFilter_10_2674840009') 7
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_10_2741594973', for='arrFilter_10_2741594973')
							span.bx_filter_input_checkbox
								input#arrFilter_10_2741594973(type='checkbox', value='Y', name='arrFilter_10_2741594973', onclick='smartFilter.click(this)').checkbox_styler.checkbox_styler
								span.bx_filter_param_text(title='Россия "Интим в Семье"')
									| Россия "Интим в Семье" (
									span(data-role='count_arrFilter_10_2741594973') 5
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_10_1776166634', for='arrFilter_10_1776166634')
							span.bx_filter_input_checkbox
								input#arrFilter_10_1776166634(type='checkbox', value='Y', name='arrFilter_10_1776166634', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='Россия "Модница"')
									| Россия "Модница" (
									span(data-role='count_arrFilter_10_1776166634') 3
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_10_4097539558', for='arrFilter_10_4097539558')
							span.bx_filter_input_checkbox
								input#arrFilter_10_4097539558(type='checkbox', value='Y', name='arrFilter_10_4097539558', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='Россия "Молодая семья"')
									| Россия "Молодая семья" (
									span(data-role='count_arrFilter_10_4097539558') 8
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_10_2458704769', for='arrFilter_10_2458704769')
							span.bx_filter_input_checkbox
								input#arrFilter_10_2458704769(type='checkbox', value='Y', name='arrFilter_10_2458704769', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='Румыния "Радужный Вэй"')
									| Румыния "Радужный Вэй" (
									span(data-role='count_arrFilter_10_2458704769') 2
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_10_1033628807', for='arrFilter_10_1033628807')
							span.bx_filter_input_checkbox
								input#arrFilter_10_1033628807(type='checkbox', value='Y', name='arrFilter_10_1033628807', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='Соединенные Штаты "USAGREY"')
									| Соединенные Штаты "USAGREY" (
									span(data-role='count_arrFilter_10_1033628807') 1
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_10_632765486', for='arrFilter_10_632765486')
							span.bx_filter_input_checkbox
								input#arrFilter_10_632765486(type='checkbox', value='Y', name='arrFilter_10_632765486', onclick='smartFilter.click(this)')
								span.bx_filter_param_text(title='Франция "Айли"')
									| Франция "Айли" (
									span(data-role='count_arrFilter_10_632765486') 1
									| )
					.clb
			.bx_filter_parameters_box.active
				span.bx_filter_container_modef
				.bx_filter_parameters_box_title(onclick='smartFilter.hideFilterProps(this)') Материал
				.bx_filter_block(style='display: block; opacity: 1;')
					.bx_filter_parameters_box_container
						label.bx_filter_param_label(data-role='label_arrFilter_11_3611589592', for='arrFilter_11_3611589592')
							span.bx_filter_input_checkbox
								input#arrFilter_11_3611589592(type='checkbox', value='Y', name='arrFilter_11_3611589592', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='95% хлопок, 5% эластан')
									| 95% хлопок, 5% эластан (
									span(data-role='count_arrFilter_11_3611589592') 11
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_11_692893017', for='arrFilter_11_692893017')
							span.bx_filter_input_checkbox
								input#arrFilter_11_692893017(type='checkbox', value='Y', name='arrFilter_11_692893017', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='искусственные материалы')
									| искусственные материалы (
									span(data-role='count_arrFilter_11_692893017') 5
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_11_4146945641', for='arrFilter_11_4146945641')
							span.bx_filter_input_checkbox
								input#arrFilter_11_4146945641(type='checkbox', value='Y', name='arrFilter_11_4146945641', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='кожа')
									| кожа (
									span(data-role='count_arrFilter_11_4146945641') 6
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_11_292839161', for='arrFilter_11_292839161')
							span.bx_filter_input_checkbox
								input#arrFilter_11_292839161(type='checkbox', value='Y', name='arrFilter_11_292839161', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='полиуретан ')
									| полиуретан  (
									span(data-role='count_arrFilter_11_292839161') 1
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_11_3013381069', for='arrFilter_11_3013381069')
							span.bx_filter_input_checkbox
								input#arrFilter_11_3013381069(type='checkbox', value='Y', name='arrFilter_11_3013381069', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='резина/кожа')
									| резина/кожа (
									span(data-role='count_arrFilter_11_3013381069') 1
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_11_740154575', for='arrFilter_11_740154575')
							span.bx_filter_input_checkbox
								input#arrFilter_11_740154575(type='checkbox', value='Y', name='arrFilter_11_740154575', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='текстиль/полимер')
									| текстиль/полимер (
									span(data-role='count_arrFilter_11_740154575') 1
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_11_3068644278', for='arrFilter_11_3068644278')
							span.bx_filter_input_checkbox
								input#arrFilter_11_3068644278(type='checkbox', value='Y', name='arrFilter_11_3068644278', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='трикотаж')
									| трикотаж (
									span(data-role='count_arrFilter_11_3068644278') 10
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_11_2596062013', for='arrFilter_11_2596062013')
							span.bx_filter_input_checkbox
								input#arrFilter_11_2596062013(type='checkbox', value='Y', name='arrFilter_11_2596062013', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='хлопок')
									| хлопок (
									span(data-role='count_arrFilter_11_2596062013') 1
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_11_2611388880', for='arrFilter_11_2611388880')
							span.bx_filter_input_checkbox
								input#arrFilter_11_2611388880(type='checkbox', value='Y', name='arrFilter_11_2611388880', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='шелк')
									| шелк (
									span(data-role='count_arrFilter_11_2611388880') 1
									| )
					.clb
			.bx_filter_parameters_box
				span.bx_filter_container_modef
				.bx_filter_parameters_box_title(onclick='smartFilter.hideFilterProps(this)') Размеры обуви
				.bx_filter_block(style='')
					.bx_filter_parameters_box_container
						
					.clb
			.bx_filter_parameters_box.active
				span.bx_filter_container_modef
				.bx_filter_parameters_box_title(onclick='smartFilter.hideFilterProps(this)') Размеры одежды 
				.bx_filter_block
					.bx_filter_parameters_box_container
						label.bx_filter_param_label(data-role='label_arrFilter_35_2707236321', for='arrFilter_35_2707236321')
							span.bx_filter_input_checkbox
								input#arrFilter_35_2707236321(type='checkbox', value='Y', name='arrFilter_35_2707236321', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='XS')
									| XS (
									span(data-role='count_arrFilter_35_2707236321') 31
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_35_3596227959', for='arrFilter_35_3596227959')
							span.bx_filter_input_checkbox
								input#arrFilter_35_3596227959(type='checkbox', value='Y', name='arrFilter_35_3596227959', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='S')
									| S (
									span(data-role='count_arrFilter_35_3596227959') 31
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_35_1330857165', for='arrFilter_35_1330857165')
							span.bx_filter_input_checkbox
								input#arrFilter_35_1330857165(type='checkbox', value='Y', name='arrFilter_35_1330857165', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='M')
									| M (
									span(data-role='count_arrFilter_35_1330857165') 31
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_35_945058907', for='arrFilter_35_945058907')
							span.bx_filter_input_checkbox
								input#arrFilter_35_945058907(type='checkbox', value='Y', name='arrFilter_35_945058907', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='L')
									| L (
									span(data-role='count_arrFilter_35_945058907') 31
									| )
						label.bx_filter_param_label(data-role='label_arrFilter_35_2788221432', for='arrFilter_35_2788221432')
							span.bx_filter_input_checkbox
								input#arrFilter_35_2788221432(type='checkbox', value='Y', name='arrFilter_35_2788221432', onclick='smartFilter.click(this)').checkbox_styler
								span.bx_filter_param_text(title='XL')
									| XL (
									span(data-role='count_arrFilter_35_2788221432') 31
									| )
					.clb
			.bx_filter_parameters_box.active
				.bx_filter_parameters_box_title.bx_filter_parameters_box_title_wo цена
					.bx_filter_parameters_clear_block
						a(href="#").bx_filter_parameters_clear
							| Сбросить
						+use('close') 
				.bx_filter_block
					.bx_filter_parameters_box_container
						.bx_filter_parameters_box_container_block
							i.bx-ft-sub От
							.bx_filter_input_container
								input#arrFilter_P1_MIN.min-price(type='text', name='arrFilter_P1_MIN', value='36 500', size='5')
						.bx_filter_parameters_box_container_block
							i.bx-ft-sub До
							.bx_filter_input_container
								input#arrFilter_P1_MAX.max-price(type='text', name='arrFilter_P1_MAX', value='200 000', size='5')
						div(style='clear: both;')
						.bx_ui_slider_track
							.bx_ui_slider_pricebar_VD(style='left: 11.8741%; right: 12.7325%;')
							.bx_ui_slider_pricebar_VN(style='left: 0%; right: 0%;')
							.bx_ui_slider_pricebar_V(style='left: 11.8741%; right: 12.7325%;')
							.bx_ui_slider_range(style='left: 0%; right: 0%;')
								a.bx_ui_slider_handle.left(style='left: 11.8741%;', href='#') 
									div 36 500
								a.bx_ui_slider_handle.right(style='right: 12.7325%;', href='#') 
									div 200 000
						div(style='opacity: 0;height: 1px;')
			.clb
		div(style='clear: both;')
//FILTER