.bx_pagination_bottom
	.bx_pagination_section_one
		.bx_pg_section.pg_pagination_num
			.bx_pagination_page
				ul
					li
						i.left_ar
					li.bx_active(title='Текущая страница') 1
					li
						a(href='#', title='Страница 2') 2
					li
						a(href='#0', title='Страница 4') ...
					li
						a(href='#', title='Страница 5') 5
					li
						a(href='#0', title='Страница 6') 6
					li
						a(href='#', title='Следующая страница')
							i.right_ar
	.bx_pagination_section_two
		.bx_pg_section.bx_pg_show_col
			span.bx_wsnw
				span.bx_pg_text Выводить по
				.bx_pagination_select_container
					select(data-smart-positioning="false")
						option(value='9', selected='selected') 9
						option(value='18') 18
						option(value='36') 36
						option(value='72') 72
//PAGINATION