.catalog__sort
	.catalog__sort-item
		input#POPULAR.checkbox_styler(type='checkbox', name='POPULAR', value='Y')
		label(for='POPULAR') Популярно
	.catalog__sort-item
		input#NEW.checkbox_styler(type='checkbox', name='NEW', value='Y')
		label(for='NEW') Новинки
	.catalog__sort-item
		input#SALE.checkbox_styler(type='checkbox', name='SALE', value='Y')
		label(for='SALE') SALE
	.catalog__sort-item
		input#STOCK.checkbox_styler(type='checkbox', name='STOCK', value='Y')
		label(for='STOCK') В наличии
	.catalog__sort-item
		select(data-smart-positioning="false")
			option Название: от А до Я
			option Название: от Я до А